Repository compiler-explorer/compiler-explorer, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, lang-ada, lang-asm, lang-c, lang-c++, lang-c++-opencl, lang-circle, lang-clean, lang-crystal, lang-cuda, lang-d, lang-dotnet, lang-dart, lang-fortran, lang-go, lang-haskell, lang-ispc, lang-java, lang-kotlin, lang-nim, lang-ocaml, lang-opencl-c, lang-pascal, lang-python, lang-ruby, lang-rust, lang-scala, lang-swift, lang-zig, documentation

Argh v6
  webpack.config.esm.js
Labels: none

Add strict tsc flag for the frontend ts code (#3356)
  static/alert.interfaces.ts
  static/alert.ts
  static/analytics.ts
  static/ansi-to-html.ts
  static/codelens-handler.ts
  static/fontscale.ts
  static/global.ts
  static/history-widget.ts
  static/history.ts
  static/libs-widget.ts
  static/line-colouring.ts
  static/load-save.ts
  static/motd.ts
  static/multifile-service.ts
  static/options.ts
  static/panes/cfg-view.ts
  static/panes/compiler.js
  static/panes/device-view.js
  static/panes/editor.js
  static/panes/gnatdebug-view.ts
  static/panes/gnatdebugtree-view.ts
  static/panes/ir-view.ts
  static/panes/pane.ts
  static/panes/pp-view.ts
  static/panes/rusthir-view.ts
  static/panes/rustmacroexp-view.ts
  static/panes/rustmir-view.ts
  static/panes/tree.ts
  static/settings.ts
  static/sharing.ts
  static/url.ts
  static/utils.ts
  tsconfig.frontend.json
Labels: ui

Add strict tsc flag for the backend ts code (#3355)
  .eslintrc.yml
  lib/asm-parser-dotnet.ts
  lib/compilers/dotnet.ts
  lib/utils.ts
  package-lock.json
  package.json
  tsconfig.backend.json
Labels: lang-dotnet

Update dotnet.ts
  lib/compilers/dotnet.ts
Labels: lang-dotnet

Renaming works for compiler with local storage saving
  static/load-save.ts
  static/pane-renaming.ts
  static/panes/compiler.js
Labels: ui

Remove closed panes from local storage
  static/load-save.ts
  static/pane-renaming.ts
Labels: ui

Feature working for almost every pane
  static/pane-renaming.ts
  static/panes/ast-view.js
  static/panes/cfg-view.ts
  static/panes/compiler.js
  static/panes/conformance-view.js
  static/panes/device-view.js
  static/panes/executor.js
  static/panes/flags-view.js
  static/panes/opt-view.js
  static/panes/pane.ts
  static/panes/tree.ts
Labels: ui

fixup! Add cross GCC 11.2.0 for several targets
  etc/config/c++.amazon.properties
Labels: lang-c++

Fix Editor: #false bug
  static/components.js
  static/panes/ast-view.js
  static/panes/cfg-view.interfaces.ts
  static/panes/cfg-view.ts
  static/panes/compiler.js
  static/panes/device-view.js
  static/panes/gccdump-view.js
  static/panes/gnatdebug-view.ts
  static/panes/gnatdebugtree-view.ts
  static/panes/ir-view.ts
  static/panes/pane.interfaces.ts
  static/panes/pane.ts
  static/panes/pp-view.ts
  static/panes/rusthir-view.ts
  static/panes/rustmacroexp-view.ts
  static/panes/rustmir-view.ts
Labels: ui

Refactoring, a couple small fixes to handling, and made changes for opt view
  static/panes/ast-view.js
  static/panes/cfg-view.ts
  static/panes/device-view.js
  static/panes/gccdump-view.js
  static/panes/gnatdebug-view.ts
  static/panes/gnatdebugtree-view.ts
  static/panes/ir-view.ts
  static/panes/opt-view.js
  static/panes/pane.ts
  static/panes/pp-view.ts
  static/panes/rusthir-view.ts
  static/panes/rustmacroexp-view.ts
  static/panes/rustmir-view.ts
Labels: ui

Fixed Editor #false bug for diff pane
  static/panes/diff.js
  static/panes/executor.js
Labels: ui

Add more dart versions
  etc/config/dart.amazon.properties
  lib/asm-parser-dart.js
  lib/compilers/dart.js
Labels: lang-dart

add the formatter for dart
  etc/config/compiler-explorer.amazon.properties
  lib/formatters/dartformat.js
  lib/languages.js
  static/formatter-registry.ts
Labels: ui

Some more adjustments
  static/panes/ast-view.js
  static/panes/cfg-view.ts
  static/panes/compiler.js
  static/panes/device-view.js
  static/panes/gccdump-view.js
  static/panes/ir-view.ts
  static/panes/opt-view.js
  static/panes/pane.ts
Labels: ui

Quick fix
  static/panes/gccdump-view.js
Labels: ui

Updated backend to populate PP output before early return
  lib/base-compiler.js
Labels: none

.github/labeler.yml:

ui:
    - static/**/*
    - views/**/*
lang-ada:
    - lib/compilers/ada.js
    - etc/config/ada.*.properties
lang-asm:
    - lib/compilers/assembly.js
    - lib/compilers/nasm.js
    - lib/compilers/ptxas.js
    - etc/config/assembly.*.properties
lang-c:
    - lib/compilers/cc65.js
    - lib/compilers/ellcc.js
    - lib/compilers/ewarm.js
    - lib/compilers/awavr.js
    - lib/compilers/ppci.js
    - lib/compilers/sdcc.js
    - lib/compilers/tendra.js
    - etc/config/c.*.properties
lang-c++:
    - lib/compilers/ewarm.js
    - lib/compilers/awavr.js
    - etc/config/c++.*.properties
lang-c++-opencl:
    - etc/config/cpp_for_opencl.*.properties
lang-circle:
    - lib/compilers/circle.js
    - etc/config/circle.*.properties
lang-clean:
    - lib/compilers/clean.js
    - etc/config/clean.*.properties
lang-cppx:
    - etc/config/cppx?(_blue|_gold).*.properties
lang-crystal:
    - lib/compilers/crystal.js
    - etc/config/crystal.*.properties
lang-cuda:
    - lib/compilers/nvcc.js
    - etc/config/cuda.*.properties
lang-d:
    - lib/compilers/dmd.js
    - lib/compilers/ldc.js
    - etc/config/d.*.properties
lang-dotnet:
    - lib/compilers/dotnet.ts
    - lib/asm-parser-dotnet.ts
    - etc/config/csharp.*.properties
    - etc/config/fsharp.*.properties
    - etc/config/vb.*.properties
lang-dart:
    - lib/compilers/dart.js
    - etc/config/dart.*.properties
lang-fortran:
    - lib/compilers/fortran.js
    - etc/config/fortran.*.properties
lang-go:
    - lib/compilers/golang.js
    - etc/config/go.*.properties
lang-haskell:
    - lib/compilers/haskell.js
    - etc/config/haskell.*.properties
lang-ispc:
    - lib/compilers/ispc.js
    - etc/config/ispc.*.properties
lang-java:
    - lib/compilers/java.js
    - etc/config/java.*.properties
lang-kotlin:
    - lib/compilers/kotlin.js
    - etc/config/kotlin.*.properties
lang-nim:
    - lib/compilers/nim.js
    - etc/config/nim.*.properties
lang-ocaml:
    - lib/compilers/ocaml.js
    - etc/config/ocaml.*.properties
lang-opencl-c:
    - etc/config/openclc.*.properties
lang-pascal:
    - lib/compilers/pascal.js
    - etc/config/pascal.*.properties
lang-python:
    - lib/compilers/python.js
    - etc/config/python.*.properties
lang-ruby:
    - lib/compilers/ruby.js
    - etc/config/ruby.*.properties
lang-rust:
    - lib/compilers/rust.js
    - etc/config/rust.*.properties
lang-scala:
    - lib/compilers/scala.js
    - etc/config/scala.*.properties
lang-swift:
    - lib/compilers/swift.js
    - etc/config/swift.*.properties
lang-zig:
    - lib/compilers/zig.js
    - etc/config/zig.*.properties
documentation:
    - docs/**/*
    - README.md
    - CONTRIBUTING.md
