Repository compiler-explorer/compiler-explorer, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, lang-ada, lang-asm, lang-c, lang-c++, lang-c++-opencl, lang-circle, lang-circt, lang-clean, lang-cobol, lang-crystal, lang-cuda, lang-d, lang-dotnet, lang-dart, lang-fortran, lang-hlsl, lang-hook, lang-jakt, lang-go, lang-haskell, lang-ispc, lang-mlir, lang-java, lang-julia, lang-kotlin, lang-llvm, lang-modula2, lang-nim, lang-objc, lang-objc++, lang-ocaml, lang-opencl-c, lang-pascal, lang-pony, lang-python, lang-racket, lang-ruby, lang-rust, lang-scala, lang-solidity, lang-swift, lang-toit, lang-typescript, lang-zig, documentation

.github/labeler.yml:

ui:
  - static/**/*
  - views/**/*
lang-ada:
  - lib/compilers/ada.js
  - etc/config/ada.*.properties
  - static/modes/ada-mode.ts
lang-asm:
  - lib/compilers/assembly.js
  - lib/compilers/nasm.js
  - lib/compilers/ptxas.js
  - etc/config/assembly.*.properties
  - static/modes/asm-mode.ts
  - static/modes/asm6502-mode.ts
lang-c:
  - lib/compilers/cc65.js
  - lib/compilers/ellcc.js
  - lib/compilers/ewarm.js
  - lib/compilers/awavr.js
  - lib/compilers/ppci.js
  - lib/compilers/sdcc.js
  - lib/compilers/tendra.js
  - etc/config/c.*.properties
lang-c++:
  - lib/compilers/ewarm.js
  - lib/compilers/awavr.js
  - etc/config/c++.*.properties
  - static/modes/cppp-mode.ts
lang-c++-opencl:
  - etc/config/cpp_for_opencl.*.properties
  - static/modes/cpp-for-opencl-mode.ts
lang-circle:
  - lib/compilers/circle.js
  - etc/config/circle.*.properties
  - static/modes/cppcircle-mode.ts
lang-circt:
  - lib/compilers/circt.ts
  - etc/config/circt.*.properties
lang-clean:
  - lib/compilers/clean.js
  - etc/config/clean.*.properties
  - static/modes/clean-mode.ts
lang-cobol:
  - lib/compilers/gnucobol.js
  - etc/config/cobol.*.properties
  - static/modes/cobol-mode.ts
lang-cppx:
  - etc/config/cppx?(_blue|_gold).*.properties
  - static/modes/cppx-blue-mode.ts
  - static/modes/cppx-gold-mode.ts
lang-crystal:
  - lib/compilers/crystal.js
  - etc/config/crystal.*.properties
  - static/modes/crystal-mode.ts
lang-cuda:
  - lib/compilers/nvcc.js
  - etc/config/cuda.*.properties
  - static/modes/cuda-mode.ts
lang-d:
  - lib/compilers/dmd.js
  - lib/compilers/ldc.js
  - etc/config/d.*.properties
  - static/modes/d-mode.ts
lang-dotnet:
  - lib/compilers/dotnet.ts
  - lib/asm-parser-dotnet.ts
  - etc/config/csharp.*.properties
  - etc/config/fsharp.*.properties
  - etc/config/vb.*.properties
lang-dart:
  - lib/compilers/dart.js
  - etc/config/dart.*.properties
lang-fortran:
  - lib/compilers/flang.ts
  - lib/compilers/fortran.js
  - etc/config/fortran.*.properties
  - static/modes/fortran-mode.ts
lang-hlsl:
  - lib/compilers/hlsl.js
  - etc/config/hlsl.*.properties
  - static/modes/hlsl-mode.ts
lang-hook:
  - lib/compilers/hook.ts
  - etc/config/hook.*.properties
  - static/modes/hook-mode.ts
lang-jakt:
  - lib/compilers/jakt.ts
  - etc/config/jakt.*.properties
  - static/modes/jakt-mode.ts
lang-go:
  - lib/compilers/golang.js
  - etc/config/go.*.properties
lang-haskell:
  - lib/compilers/haskell.js
  - etc/config/haskell.*.properties
  - static/modes/haskell-mode.ts
lang-ispc:
  - lib/compilers/ispc.js
  - etc/config/ispc.*.properties
  - static/modes/ispc-mode.ts
lang-mlir:
  - lib/compilers/mlir.ts
  - etc/config/mlir.*.properties
  - static/modes/mlir-mode.ts
lang-java:
  - lib/compilers/java.js
  - etc/config/java.*.properties
lang-julia:
  - lib/compilers/julia.js
  - etc/config/julia.*.properties
lang-kotlin:
  - lib/compilers/kotlin.js
  - etc/config/kotlin.*.properties
lang-llvm:
  - lib/llvm-ast.js
  - lib/llvm-ir.js
  - lib/llvm-opt-transformer.ts
  - lib/compilers/llc.js
  - lib/compilers/llvm-mca.js
  - lib/objdumper/llvm.js
  - lib/tooling/llvm-mca-tool.js
  - etc/config/llvm.*.properties
  - static/modes/llvm-ir-mode.ts
lang-modula2:
  - lib/compilers/gm2.js
  - etc/config/modula2.*.properties
  - static/modes/modula2-mode.ts
lang-nim:
  - lib/compilers/nim.js
  - etc/config/nim.*.properties
  - static/modes/nim-mode.ts
lang-objc:
  - etc/config/objc.*.properties
lang-objc++:
  - etc/config/objc++.*.properties
lang-ocaml:
  - lib/compilers/ocaml.js
  - etc/config/ocaml.*.properties
  - static/modes/ocaml-mode.ts
lang-opencl-c:
  - etc/config/openclc.*.properties
  - static/modes/openclc-mode.ts
lang-pascal:
  - lib/compilers/pascal.js
  - etc/config/pascal.*.properties
lang-pony:
  - lib/compilers/pony.ts
  - etc/config/pony.*.properties
lang-python:
  - lib/compilers/python.js
  - etc/config/python.*.properties
lang-racket:
  - lib/compilers/racket.ts
  - etc/config/racket.*.properties
lang-ruby:
  - lib/compilers/ruby.js
  - etc/config/ruby.*.properties
lang-rust:
  - lib/compilers/rust.js
  - etc/config/rust.*.properties
lang-scala:
  - lib/compilers/scala.js
  - etc/config/scala.*.properties
lang-solidity:
  - lib/compilers/solidity.js
  - etc/config/solidity.*.properties
lang-swift:
  - lib/compilers/swift.js
  - etc/config/swift.*.properties
lang-toit:
  - lib/compilers/toit.ts
  - etc/config/toit.*.properties
  - static/modes/toit-mode.ts
lang-typescript:
  - lib/compilers/typescript.js
  - etc/config/typescript.*.properties
lang-zig:
  - lib/compilers/zig.js
  - etc/config/zig.*.properties
  - static/modes/zig-mode.ts
documentation:
  - docs/**/*
  - README.md
  - CONTRIBUTING.md
  - SECURITY.md

Updates configuration for xtensa compilers. (#4913)
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c, lang-c++

Fix Sonar rule URLs for C
  lib/tooling/sonar-tool.ts
Labels: none

Modify debugger command so that node inspector works with ts-node-esm
  package.json
Labels: none

Modify debugger command so that node inspector works with ts-node-esm (#4948)
  package.json
Labels: none

Add ability to compile c to wasm in tree view
  etc/config/javascript.amazon.properties
  etc/config/javascript.defaults.properties
  examples/javascript/default.mjs
  lib/compilers/v8.ts
  static/multifile-service.ts
Labels: ui

Add fix for outputfilename
  lib/compilers/v8.ts
Labels: none

tools: update GitHub Actions platforms
  .github/workflows/deploy-win.yml
  .github/workflows/test-and-deploy.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-win.yml
Labels: none

Add OpenJDK 19
  etc/config/java.amazon.properties
  etc/config/kotlin.amazon.properties
  etc/config/scala.amazon.properties
Labels: lang-java, lang-kotlin, lang-scala

Add OpenJDK 20
  etc/config/java.amazon.properties
Labels: lang-java

Added the latest versions of the Trompeloeil mocking fw
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-circle, lang-objc++
