Repository compiler-explorer/compiler-explorer, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, lang-ada, lang-asm, lang-c, lang-c++, lang-c++-opencl, lang-c3, lang-circle, lang-circt, lang-clean, lang-cobol, lang-crystal, lang-cuda, lang-d, lang-dotnet, lang-dart, lang-fortran, lang-hlsl, lang-hook, lang-jakt, lang-go, lang-haskell, lang-ispc, lang-mlir, lang-java, lang-julia, lang-kotlin, lang-llvm, lang-modula2, lang-nim, lang-objc, lang-objc++, lang-ocaml, lang-opencl-c, lang-pascal, lang-pony, lang-python, lang-racket, lang-ruby, lang-rust, lang-scala, lang-solidity, lang-swift, lang-snowball, lang-toit, lang-typescript, lang-v, lang-vala, lang-zig, documentation

Add Solidity 0.8.21
  etc/config/solidity.amazon.properties
Labels: lang-solidity

Improve fix to account for .omp_task_entry.
  lib/cfg/cfg-parsers/base.ts
Labels: none

Revert "Fix #5552"
  lib/base-compiler.ts
  lib/compilers/clspv.ts
  lib/compilers/dotnet.ts
  lib/compilers/spirv.ts
  lib/llvm-ast.ts
  static/panes/diff.ts
  static/panes/executor.ts
  static/panes/output.ts
  types/compilation/compilation.interfaces.ts
Labels: ui, lang-dotnet, lang-llvm

Add robustness against old server used by MS
  static/panes/output.ts
Labels: ui

Fix #5552 (#5636)
  static/panes/output.ts
Labels: ui

Add Qt 6.6.0 (#5639)
  etc/config/c++.amazon.properties
Labels: lang-c++

Allow disabling diffable asm manually (#5585)
  lib/compilers/dotnet.ts
Labels: lang-dotnet

.github/labeler.yml:

ui:
  - static/**/*
  - views/**/*
lang-ada:
  - lib/compilers/ada.ts
  - etc/config/ada.*.properties
  - static/modes/ada-mode.ts
lang-asm:
  - lib/compilers/assembly.ts
  - lib/compilers/nasm.ts
  - lib/compilers/ptxas.ts
  - etc/config/assembly.*.properties
  - static/modes/asm-mode.ts
  - static/modes/asm6502-mode.ts
lang-c:
  - lib/compilers/cc65.ts
  - lib/compilers/ellcc.ts
  - lib/compilers/ewarm.ts
  - lib/compilers/ewavr.ts
  - lib/compilers/ppci.ts
  - lib/compilers/sdcc.ts
  - lib/compilers/tendra.ts
  - etc/config/c.*.properties
lang-c++:
  - lib/compilers/ewarm.ts
  - lib/compilers/ewavr.ts
  - etc/config/c++.*.properties
  - static/modes/cppp-mode.ts
lang-c++-opencl:
  - etc/config/cpp_for_opencl.*.properties
  - static/modes/cpp-for-opencl-mode.ts
lang-c3:
  - lib/compilers/c3c.ts
  - etc/config/c3.*.properties
  - static/modes/c3-mode.ts
lang-circle:
  - lib/compilers/circle.ts
  - etc/config/circle.*.properties
  - static/modes/cppcircle-mode.ts
lang-circt:
  - lib/compilers/circt.ts
  - etc/config/circt.*.properties
lang-clean:
  - lib/compilers/clean.ts
  - etc/config/clean.*.properties
  - static/modes/clean-mode.ts
lang-cobol:
  - lib/compilers/gnucobol.ts
  - etc/config/cobol.*.properties
  - static/modes/cobol-mode.ts
lang-cppx:
  - etc/config/cppx?(_blue|_gold).*.properties
  - static/modes/cppx-blue-mode.ts
  - static/modes/cppx-gold-mode.ts
lang-crystal:
  - lib/compilers/crystal.ts
  - etc/config/crystal.*.properties
  - static/modes/crystal-mode.ts
lang-cuda:
  - lib/compilers/nvcc.ts
  - etc/config/cuda.*.properties
  - static/modes/cuda-mode.ts
lang-d:
  - lib/compilers/dmd.ts
  - lib/compilers/ldc.ts
  - etc/config/d.*.properties
  - static/modes/d-mode.ts
lang-dotnet:
  - lib/compilers/dotnet.ts
  - lib/parsers/asm-parser-dotnet.ts
  - etc/config/csharp.*.properties
  - etc/config/fsharp.*.properties
  - etc/config/vb.*.properties
lang-dart:
  - lib/compilers/dart.ts
  - etc/config/dart.*.properties
lang-fortran:
  - lib/compilers/flang.ts
  - lib/compilers/fortran.ts
  - etc/config/fortran.*.properties
  - static/modes/fortran-mode.ts
lang-hlsl:
  - lib/compilers/hlsl.ts
  - etc/config/hlsl.*.properties
  - static/modes/hlsl-mode.ts
lang-hook:
  - lib/compilers/hook.ts
  - etc/config/hook.*.properties
  - static/modes/hook-mode.ts
lang-jakt:
  - lib/compilers/jakt.ts
  - etc/config/jakt.*.properties
  - static/modes/jakt-mode.ts
lang-go:
  - lib/compilers/golang.ts
  - etc/config/go.*.properties
lang-haskell:
  - lib/compilers/haskell.ts
  - etc/config/haskell.*.properties
  - static/modes/haskell-mode.ts
lang-ispc:
  - lib/compilers/ispc.ts
  - etc/config/ispc.*.properties
  - static/modes/ispc-mode.ts
lang-mlir:
  - lib/compilers/mlir.ts
  - etc/config/mlir.*.properties
  - static/modes/mlir-mode.ts
lang-java:
  - lib/compilers/java.ts
  - etc/config/java.*.properties
lang-julia:
  - lib/compilers/julia.ts
  - etc/config/julia.*.properties
lang-kotlin:
  - lib/compilers/kotlin.ts
  - etc/config/kotlin.*.properties
lang-llvm:
  - lib/llvm-ast.ts
  - lib/llvm-ir.ts
  - lib/llvm-opt-transformer.ts
  - lib/compilers/llc.ts
  - lib/compilers/llvm-mca.ts
  - lib/objdumper/llvm.ts
  - lib/tooling/llvm-mca-tool.ts
  - etc/config/llvm.*.properties
  - static/modes/llvm-ir-mode.ts
lang-modula2:
  - lib/compilers/gm2.ts
  - etc/config/modula2.*.properties
  - static/modes/modula2-mode.ts
lang-nim:
  - lib/compilers/nim.ts
  - etc/config/nim.*.properties
  - static/modes/nim-mode.ts
lang-objc:
  - etc/config/objc.*.properties
lang-objc++:
  - etc/config/objc++.*.properties
lang-ocaml:
  - lib/compilers/ocaml.ts
  - etc/config/ocaml.*.properties
  - static/modes/ocaml-mode.ts
lang-opencl-c:
  - etc/config/openclc.*.properties
  - static/modes/openclc-mode.ts
lang-pascal:
  - lib/compilers/pascal.ts
  - etc/config/pascal.*.properties
lang-pony:
  - lib/compilers/pony.ts
  - etc/config/pony.*.properties
lang-python:
  - lib/compilers/python.ts
  - etc/config/python.*.properties
lang-racket:
  - lib/compilers/racket.ts
  - etc/config/racket.*.properties
lang-ruby:
  - lib/compilers/ruby.ts
  - etc/config/ruby.*.properties
lang-rust:
  - lib/compilers/rust.ts
  - etc/config/rust.*.properties
lang-scala:
  - lib/compilers/scala.ts
  - etc/config/scala.*.properties
lang-solidity:
  - lib/compilers/solidity.ts
  - etc/config/solidity.*.properties
lang-swift:
  - lib/compilers/swift.ts
  - etc/config/swift.*.properties
lang-snowball:
  - lib/compilers/snowball.ts
  - etc/config/snowball.*.properties
lang-toit:
  - lib/compilers/toit.ts
  - etc/config/toit.*.properties
  - static/modes/toit-mode.ts
lang-typescript:
  - lib/compilers/typescript-native.ts
  - etc/config/typescript.*.properties
lang-v:
  - lib/compilers/v.ts
  - etc/config/v.*.properties
  - static/modes/v-mode.ts
lang-vala:
  - lib/compilers/vala.ts
  - etc/config/vala.*.properties
  - static/modes/vala-mode.ts
lang-zig:
  - lib/compilers/zig.ts
  - etc/config/zig.*.properties
  - static/modes/zig-mode.ts
documentation:
  - docs/**/*
  - README.md
  - CONTRIBUTING.md
  - SECURITY.md
