Repository compiler-explorer/compiler-explorer, pull requests merged in 2018-10, with the labels that each got.

#1108 Add outcome to list of installed libraries
  etc/config/c++.amazon.properties
Labels: lang-c++, new-libs

#948 Adding Fortran support
  CONTRIBUTORS.md
  etc/config/fortran.amazon.properties
  etc/config/fortran.defaults.properties
  examples/fortran/default.f90
  examples/fortran/dot_product.f90
  lib/languages.js
  static/modes/fortran-mode.js
  static/panes/editor.js
Labels: new-compilers, new-language

#1105 Upgrade to Bootstrap 4.1
  .idea/inspectionProfiles/Project_Default.xml
  package.json
  static/assets/Reddit_Icon.png
  static/assets/Twitter_Logo_WhiteOnBlue.svg
  static/assets/patreon_logo.png
  static/assets/site-logo-dev.png
  static/explorer.css
  static/fontscale.js
  static/libs-widget.js
  static/main.js
  static/motd.js
  static/panes/cfg-view.js
  static/panes/compiler.js
  static/panes/conformance-view.js
  static/panes/diff.js
  static/panes/editor.js
  static/panes/gccdump-view.js
  static/panes/output.js
  static/sharing.js
  static/themes/contrast-theme.css
  static/themes/dark-theme.css
  static/themes/default-theme.css
  static/toggles.js
  views/embed.pug
  views/font-size.pug
  views/head.pug
  views/index.pug
  views/popups.pug
  views/templates.pug
  yarn.lock
Labels: enhancement, help wanted, in-progress, ui

#1122 Add CNL library to C++
  etc/config/c++.amazon.properties
Labels: lang-c++, new-libs

#1129 Trying to add ifort to the list of Fortran compilers.
  etc/config/fortran.amazon.properties
Labels: waiting

#1082 Add godbolt.ms as a remote compiler explorer!
  etc/config/c++.amazon.properties
Labels: Windows, enhancement, new-compilers
