Repository compiler-explorer/compiler-explorer, pull requests merged in 2018-08, with the labels that each got.

#1032 Community ads
  etc/config/compiler-explorer.amazon.properties
  etc/config/compiler-explorer.beta.properties
  lib/options-handler.js
  static/explorer.css
  static/main.js
  static/motd.js
  static/settings.js
  static/themes/dark-theme.css
  static/themes/default-theme.css
  views/index.pug
  views/popups.pug
Labels: enhancement, ui

#987 nlohmann json: Remove version 2.1.1
  etc/config/c++.amazon.properties
Labels: enhancement, lang-c++, waiting

#1038 Change S3 endpoints to dualstack
  etc/config/compiler-explorer.amazon.properties
  etc/config/compiler-explorer.beta.properties
Labels: enhancement

#1042 Add a nightly build for "auto NSDMI"
  etc/config/c++.amazon.properties
Labels: lang-c++, new-compilers

#1055 og: tags
  app.js
  lib/storage/storage-s3.js
  lib/utils.js
  test/storage/storage-s3-tests.js
  views/head.pug
Labels: enhancement

#1059 Add Agner Fogs vector class library to the Compiler Explorer
  etc/config/c++.amazon.properties
Labels: lang-c++, new-libs
