Repository compiler-explorer/compiler-explorer, pull requests merged in 2018-02, with the labels that each got.

#822 Move to ESLint
  .eslintignore
  .eslintrc
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsDialects.xml
  Makefile
  app.js
  etc/jshintrc.client
  etc/jshintrc.server
  etc/scripts/pre-commit
  lib/asm-cl.js
  lib/asm.js
  lib/base-compiler.js
  lib/cfg.js
  lib/compilers/Wine-CL.js
  lib/compilers/assembly.js
  lib/compilers/fake-for-test.js
  lib/compilers/golang.js
  lib/compilers/haskell.js
  lib/compilers/ispc.js
  lib/compilers/ldc.js
  lib/compilers/pascal.js
  lib/csp.js
  lib/google.js
  lib/handlers/asm-docs-api.js
  lib/handlers/compile.js
  lib/handlers/health-check.js
  lib/handlers/source.js
  lib/logger.js
  lib/pascal-support.js
  oldhash.txt
  package.json
  static/.eslintignore
  static/.eslintrc
  static/analytics.js
  static/ansi-to-html.js
  static/asm-mode.js
  static/ast-view.js
  static/compiler-service.js
  static/compiler.js
  static/components.js
  static/conformance-view.js
  static/d-mode.js
  static/gccdump-rtl-gimple-mode.js
  static/gccdump-view.js
  static/haskell-mode.js
  static/loadSave.js
  static/main.js
  static/monaco-loader.js
  static/monaco.js
  static/opt-view.js
  static/pascal-mode.js
  static/rison.js
  static/rust-mode.js
  static/sharing.js
  static/themes.js
  static/urlshorten-google.js
  yarn.lock
Labels: enhancement

#817 Use a local-installed yarn. Refactor all the 'find node' stuff out of…
  .gitignore
  Makefile
  etc/scripts/find-node
  etc/scripts/find-yarn
  package.json
  yarn.lock
Labels: enhancement, tracking

#826 Improve cfg layout.
  static/cfg-view.js
  views/templates.pug
Labels: enhancement, ui

#829 Fix crash on startup when a library's `listedVersions` is a single number
  app.js
Labels: bug, enhancement

#834 Installed xtensor dependencies
  etc/config/c++.amazon.properties
Labels: enhancement, new-libs

#843 Added basic support for LLVM IR
  etc/config/llvm.amazon.properties
  etc/config/llvm.default.properties
  examples/llvm/default.ll
  lib/compilers/llc.js
  lib/compilers/opt.js
  lib/handlers/compile.js
  lib/languages.js
  test/llvm-ir-tests.js
Labels: new-language
