Repository compiler-explorer/compiler-explorer, pull requests merged in 2018-06, with the labels that each got.

#949 Change libs dropdown style
  static/compiler.js
  static/explorer.css
  static/themes/dark-theme.css
  static/themes/default-theme.css
Labels: enhancement, help wanted, ui

#956 Merge compilerProps functions to a general case one
  app.js
  lib/base-compiler.js
  lib/compilation-env.js
  lib/compiler-finder.js
  lib/handlers/compile.js
  lib/options-handler.js
  lib/properties.js
  package.json
  static/compiler.js
  test/analysis-tests.js
  test/base-compiler-tests.js
  test/compilation-env.js
  test/compiler-finder-tests.js
  test/compilers/argument-parsers-tests.js
  test/d-tests.js
  test/golang-tests.js
  test/handlers/compile-tests.js
  test/llvm-ir-tests.js
  test/pascal-tests.js
  test/ppci-tests.js
  test/properties-test.js
  test/win-path-tests.js
  yarn.lock
Labels: enhancement

#968 Add LDC 1.10.0 and make it default
  etc/config/d.amazon.properties
Labels: lang-d, new-compilers

#974 Msvc in C compilers list
  etc/config/c.amazon.properties
Labels: lang-c, new-compilers

#976 Updated HFSM to 0.10
  etc/config/c++.amazon.properties
Labels: lang-c++, new-libs
