Repository compiler-explorer/compiler-explorer, pull requests merged in 2018-07, with the labels that each got.

#984 Longtextdemanglefix
  lib/demangler.js
  lib/exec.js
Labels: enhancement

#990 Added the doctest library
  etc/config/c++.amazon.properties
Labels: lang-c++, new-libs

#977 Legal compilance changes
  Makefile
  app.js
  docs/Privacy.md
  etc/config/compiler-explorer.amazon.properties
  etc/config/compiler-explorer.defaults.properties
  lib/cache/base.js
  lib/csp.js
  lib/logger.js
  lib/options-handler.js
  lib/utils.js
  package.json
  static/alert.js
  static/analytics.js
  static/assets/Reddit_Icon.png
  static/assets/Twitter_Logo_WhiteOnBlue.svg
  static/compiler.js
  static/explorer.css
  static/main.js
  static/options.js
  static/policies/cookies.html
  static/policies/privacy.html
  static/sharing.js
  static/themes/default-theme.css
  test/utils-tests.js
  views/index.pug
  views/templates.pug
  webpack.config.js
  yarn.lock
Labels: enhancement, high priority, in-progress

#1012 Fix nav-bar Share overlapping other dropdowns
  static/sharing.js
Labels: enhancement, ui

#1015 Add Intel syntax support for ELLCC. Fixes #1014
  etc/config/c++.amazon.properties
Labels: enhancement, lang-c++
