Repository compiler-explorer/compiler-explorer, pull requests merged in 2019-11, with the labels that each got.

#1616 Static library linking support
  etc/config/c++.amazon.properties
  lib/base-compiler.js
  lib/compilers/win32.js
  lib/options-handler.js
  static/libs-widget.js
  test/options-handler.js
Labels: enhancement

#1673 Add LDC 1.18.0 and make it default D compiler
  etc/config/d.amazon.properties
Labels: lang-d, new-compilers

#1676 Update to stable rust: 1.39.0
  etc/config/rust.amazon.properties
Labels: lang-rust, new-compilers

#1711 Fix ASM output for the zig compiler
  CONTRIBUTORS.md
  lib/compiler-finder.js
  lib/compilers/zig.js
Labels: enhancement, lang-zig

#1674 Able to select difftype for compiler result
  lib/options-handler.js
  static/explorer.css
  static/hub.js
  static/panes/diff.js
  static/panes/editor.js
  static/panes/executor.js
  views/templates.pug
Labels: enhancement, ui
