Repository compiler-explorer/compiler-explorer, pull requests merged in 2019-09, with the labels that each got.

#1578 mp-units support added
  etc/config/c++.amazon.properties
Labels: lang-c++, new-libs

#1596 Add Swift 5.1
  etc/config/swift.amazon.properties
Labels: lang-swift, new-compilers

#1590 Refresh libraries per compiler
  static/libs-widget.js
  static/panes/compiler.js
  static/panes/conformance-view.js
  static/panes/executor.js
Labels: enhancement

#1585 Set overflow:visible in lm_content
  static/explorer.css
Labels: enhancement, ui

#1606 Update doctest library to version 2.3.5
  etc/config/c++.amazon.properties
Labels: lang-c++, new-libs

#1608 OCaml: Add OCaml 4.09, Upgrade OCaml 4.08
  etc/config/ocaml.amazon.properties
Labels: lang-ocaml, new-compilers
