Repository compiler-explorer/compiler-explorer, pull requests merged in 2019-12, with the labels that each got.

#1715 Ensure the tab dropdown shows in front
  CONTRIBUTORS.md
  static/explorer.css
Labels: enhancement, ui

#1725 Fix dark-mode save/load UI
  static/themes/dark-theme.css
Labels: enhancement, mobile, ui

#1722 Make tab view tabs larger on mobile
  static/explorer.css
Labels: enhancement, mobile, ui

#1721 Fix the contrast on some dark-mode icons
  static/themes/dark-theme.css
Labels: enhancement, mobile, ui

#1738 Update mp-units, rangev3 and fmt libs
  etc/config/c++.amazon.properties
Labels: lang-c++, new-libs

#1742 Rust: Update to 1.40.0
  etc/config/rust.amazon.properties
Labels: lang-rust, new-compilers

#1743 Allow node verisons > 8, but recommend latest LTS
  etc/scripts/find-node
Labels: enhancement
