Repository compiler-explorer/compiler-explorer, pull requests merged in 2019-08, with the labels that each got.

#1541 [WIP] Support shared libraries for x86 and x86_64
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/d.amazon.properties
  etc/config/pascal.defaults.properties
  etc/config/zig.defaults.properties
  lib/base-compiler.js
  lib/compiler-finder.js
  lib/compilers/assembly.js
  lib/compilers/dmd.js
  lib/compilers/ellcc.js
  lib/compilers/ldc.js
  lib/compilers/win32.js
  lib/compilers/zig.js
  lib/map-file-delphi.js
  lib/map-file.js
  lib/options-handler.js
  lib/pe32-support.js
  lib/properties.js
  test/map-file-tests.js
  test/maps/minimal-delphi.map
  test/maps/minimal-vs15.map
  test/maps/squareprintfstaticlib.asm
  test/maps/squareprintfstaticlib.cpp
  test/maps/squareprintfstaticlib.map
  test/options-handler.js
  test/pe32-tests.js
  test/properties-test.js
Labels: in-progress

#1553 Update to Blaze 3.6 release
  etc/config/c++.amazon.properties
Labels: lang-c++, new-libs

#1550 Able to hide editor toolbar in case of embedded
  app.js
  lib/properties.js
  lib/utils.js
  static/main.js
  static/panes/editor.js
  static/sharing.js
  views/popups.pug
  views/templates.pug
Labels: enhancement, ui
