Repository compiler-explorer/compiler-explorer, pull requests merged in 2019-03, with the labels that each got.

#1283 Add option to toggle the availability of short links
  app.js
  lib/storage/storage-null.js
  views/templates.pug
Labels: enhancement

#1300 Add versioning for xtensor, xsimd, and xtl
  etc/config/c++.amazon.properties
Labels: enhancement, lang-c++

#1305 Fix cuda disassembly code highlighting
  CONTRIBUTORS.md
  lib/languages.js
  static/modes/asm-mode.js
  static/modes/ptx-mode.js
  static/panes/compiler.js
Labels: Assembly, enhancement, lang-cuda, ui

#1301 Implement profanity check on subhashes
  lib/storage/storage.js
  package.json
  test/storage/storage-tests.js
  yarn.lock
Labels: enhancement

#992 [LLVM] Implement PoC llvm ir highlighting
  lib/asm-parser.js
  lib/base-compiler.js
  lib/compilers/argument-parsers.js
  lib/llvm-ir.js
  lib/utils.js
  static/components.js
  static/hub.js
  static/panes/compiler.js
  static/panes/ir-view.js
  test/llvm-ir-parser-tests.js
  test/utils-tests.js
  views/templates.pug
Labels: enhancement
