Repository compiler-explorer/compiler-explorer, pull requests merged in 2019-10, with the labels that each got.

#1602 Support for shared lib cs50 for C
  etc/config/c.amazon.properties
Labels: lang-c, new-libs

#1617 [WIP] pass include flags to clang-tidy
  lib/tooling/base-tool.js
  lib/tooling/clang-tidy-tool.js
Labels: enhancement

#1628 Fix some dark theme backgrounds
  static/themes/dark-theme.css
Labels: enhancement, ui

#1631 mp-units trunk dependency on fmt 6.0.0 added
  etc/config/c++.amazon.properties
Labels: enhancement, lang-c++

#1638 Update CPPX trunk language standard to C++20
  etc/config/cppx.amazon.properties
Labels: enhancement, new-compilers

#1637 Update LICENSE
  LICENSE
Labels: enhancement, legal
