Repository compiler-explorer/compiler-explorer, pull requests merged in 2019-05, with the labels that each got.

#1370 Updated doctest library to version 2.3.2
  etc/config/c++.amazon.properties
Labels: lang-c++, new-libs

#1366 Lib.f fixes
  lib/asm-parser.js
  test/cases/bug-1285.asm
  test/cases/bug-1285.asm.directives.labels.comments.json
  test/cases/bug-1285.asm.directives.labels.comments.library.json
  test/cases/bug-1285.cpp
  test/cases/bug-1285b.asm
  test/cases/bug-1285b.asm.directives.labels.comments.json
  test/cases/bug-1285b.asm.directives.labels.comments.library.json
  test/cases/bug-1285b.cpp
  test/cases/bug-1285c.asm
  test/cases/bug-1285c.asm.directives.labels.comments.json
  test/cases/bug-1285c.asm.directives.labels.comments.library.json
  test/cases/bug-1285c.cpp
  test/cases/bug-1307.asm
  test/cases/bug-1307.asm.directives.labels.comments.json
  test/cases/bug-1307.asm.directives.labels.comments.library.json
  test/cases/bug-1307.cpp
  test/cases/eigen-test.asm
  test/cases/eigen-test.asm.directives.labels.comments.json
  test/cases/eigen-test.asm.directives.labels.comments.library.json
  test/cases/eigen-test.cpp
  test/cases/gcc-x86-vector.asm.directives.labels.comments.library.json
Labels: enhancement

#1315 Improve pane interlinking
  static/colour.js
  static/colours.css
  static/explorer.css
  static/panes/compiler.js
  static/panes/editor.js
  static/panes/ir-view.js
  static/panes/output.js
  static/themes/dark-theme.css
  static/themes/default-theme.css
Labels: enhancement, ui

#1388 Add LLVM IR view for Rust
  CONTRIBUTORS.md
  lib/base-compiler.js
  lib/compilers/ldc.js
  lib/compilers/rust.js
Labels: enhancement, lang-rust

#1316 Policy dating
  .travis.yml
  Makefile
  etc/scripts/changelog.py
  etc/scripts/politic.py
  static/policies/cookies.html
  static/policies/privacy.html
Labels: enhancement, ui
