Repository compiler-explorer/compiler-explorer, pull requests merged in 2019-01, with the labels that each got.

#1247 Make editor formatting undoable
  static/panes/editor.js
Labels: enhancement, ui

#1190 Ada language support
  etc/config/ada.amazon.properties
  etc/config/ada.defaults.properties
  examples/ada/Max_Array.adb
  examples/ada/Sum.adb
  examples/ada/default.adb
  lib/compilers/ada.js
  lib/languages.js
  static/modes/ada-mode.js
  static/panes/editor.js
Labels: new-compilers, new-language

#1201 Storage Expansion
  app.js
  lib/storage/storage-local.js
  lib/storage/storage-s3.js
  lib/storage/storage.js
Labels: enhancement

#1225 OCaml language support
  etc/config/ocaml.amazon.properties
  etc/config/ocaml.defaults.properties
  examples/ocaml/default.ml
  examples/ocaml/max_array.ml
  examples/ocaml/sum.ml
  lib/compilers/ocaml.js
  lib/languages.js
  static/modes/ocaml-mode.js
  static/panes/editor.js
Labels: new-compilers, new-language
