Repository compiler-explorer/compiler-explorer, pull requests merged in 2020-05, with the labels that each got.

#1954 Bump rust to 1.43.0
  etc/config/rust.amazon.properties
Labels: lang-rust, new-compilers

#1988 Updated doctest library to version 2.3.8
  etc/config/c++.amazon.properties
Labels: lang-c++, new-libs

#1971 enables binary+execution for ADA
  etc/config/ada.amazon.properties
  examples/ada/Square_Executable.adb
  examples/ada/default.adb
  lib/base-compiler.js
  lib/compilers/ada.js
Labels: enhancement, lang-ada

#1979 SDCC Support
  etc/config/c.amazon.properties
  lib/compilers/sdcc.js
Labels: lang-c, new-compilers

#1982 Go: Add additional architectures
  CONTRIBUTORS.md
  etc/config/go.amazon.properties
  lib/compilers/golang.js
  test/golang-tests.js
Labels: lang-go, new-compilers

#1993 Fix Kalray MPPA KVX compiler
  etc/config/c.amazon.properties
Labels: enhancement, lang-c
