Repository compiler-explorer/compiler-explorer, pull requests merged in 2020-03, with the labels that each got.

#1853 Update D properties
  etc/config/d.amazon.properties
Labels: lang-d, new-libs, waiting

#1874 Point LDC >= 1.19 to gcc for linking
  etc/config/d.amazon.properties
Labels: enhancement, lang-d

#1873 Separate filters and output options
  static/toggles.js
  views/templates.pug
Labels: mobile

#1881 Add OCaml 4.10.0
  etc/config/ocaml.amazon.properties
Labels: lang-ocaml, new-compilers

#1887 GCC 9.3
  etc/config/assembly.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: new-compilers

#1890 Updated catch2 library to version 2.11.3
  etc/config/c++.amazon.properties
Labels: lang-c++, new-libs

#1900 Arm Clang 10
  CONTRIBUTORS.md
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: new-compilers

#1898 Add Swift 5.2
  etc/config/swift.amazon.properties
Labels: lang-swift, new-compilers

#1903 Update WindowsSubsystemForLinux
  docs/WindowsSubsystemForLinux.md
Labels: documentation, enhancement

#1901 Improve the Rust examples
  examples/rust/Max_array.rs
  examples/rust/Max_array_(Optimized).rs
  examples/rust/Sum_over_array.rs
  examples/rust/Sum_over_array_(Optimized).rs
Labels: enhancement, lang-rust
