Repository compiler-explorer/compiler-explorer, pull requests merged in 2020-07, with the labels that each got.

#1975 Add libuv to C & C++ libraries
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c, lang-c++, new-libs, waiting

#2062 Make url hash a base32 encode
  lib/storage/storage.js
  lib/utils.js
  test/storage/storage-tests.js
  test/utils-tests.js
Labels: enhancement

#2066 [feature] Basic support for LLVM flang compiler.
  etc/config/fortran.amazon.properties
Labels: lang-fortran, new-compilers

#1945 [WIP] Fetch binaries for libraries before building
  docs/AddingALibrary.md
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  lib/base-compiler.js
  lib/buildenvsetup/buildenvsetup-base.js
  lib/buildenvsetup/buildenvsetup-ceconan.js
  lib/buildenvsetup/buildenvsetup-cliconan.js
  lib/compiler-finder.js
  lib/options-handler.js
  static/libs-widget.js
  test/options-handler.js
Labels: ui

#2110 cppreference search action
  static/panes/editor.js
Labels: ui
