Repository compiler-explorer/compiler-explorer, pull requests merged in 2020-02, with the labels that each got.

#1829 Add Hedley to C libraries.
  etc/config/c.amazon.properties
Labels: lang-c, new-libs

#1833 Rust: update to 1.41.0
  etc/config/rust.amazon.properties
Labels: lang-rust, new-compilers

#1836 Update to latest monaco webpack plugin
  app.js
  package-lock.json
  package.json
  static/modes/pascal-mode.js
  static/options.js
  static/panes/editor.js
  webpack.config.js
Labels: enhancement, ui

#1849 Add LDC 1.20.0 and make it the default D compiler
  etc/config/d.amazon.properties
Labels: lang-d, new-compilers

#1851 Update to Blaze 3.7 release
  etc/config/c++.amazon.properties
Labels: lang-c++, new-libs

#1842 Update dependencies
  app.js
  lib/cache/in-memory.js
  lib/cache/on-disk.js
  package-lock.json
  package.json
Labels: enhancement
