Repository compiler-explorer/compiler-explorer, pull requests merged in 2021-10, with the labels that each got.

#2978 Unconditionally use the compilation queue
  etc/config/c++.amazon.properties
  lib/base-compiler.js
  lib/compilation-queue.js
Labels: lang-c++

#2983 Install LLVM/Clang 13
  etc/config/assembly.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/llvm.amazon.properties
Labels: lang-c++, lang-c, lang-asm

#2991 Convert colour.js to typescript
  static/colour.ts
  static/tsconfig.json
Labels: ui

#2996 fix(java): show full asm output when using switch expression
  lib/compilers/java.js
Labels: lang-java

#2999 Fix Rust MIR view to correctly display unsupported compiler
  static/panes/rustmir-view.ts
Labels: ui

#2940 Add support for generating SPIR-V assembly from OpenCL C and C++ for OpenCL
  etc/config/cpp_for_opencl.amazon.properties
  etc/config/cpp_for_opencl.defaults.properties
  etc/config/openclc.amazon.properties
  etc/config/openclc.defaults.properties
  lib/compilers/_all.js
  lib/compilers/spirv.js
Labels: lang-c++-opencl, lang-opencl-c

#2963 Adds supportsExecute language option
  lib/languages.js
  lib/options-handler.js
  static/panes/editor.js
Labels: enhancement, ui

#2972 Implement LLVM IR output for ispc
  lib/compilers/ispc.js
Labels: lang-ispc

#2973 Add new version of KVX compiler
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#2988 Convert ansi-to-html.js to typescript
  static/ansi-to-html.interfaces.ts
  static/ansi-to-html.js
  static/ansi-to-html.ts
  static/tsconfig.json
  test/ansi-to-html-tests.js
Labels: ui

#2989 Enable GCC dump for the GNAT Ada compiler
  lib/compilers/ada.js
Labels: lang-ada

#2990 Convert codelens-handler.js to typescript
  static/codelens-handler.ts
  static/tsconfig.json
Labels: ui

#2992 Remove explicit `files` and `outDir` values from tsconfig
  static/tsconfig.json
Labels: ui

#2998 A few extra Clang 13.0.0 entries
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#2982 Convert options.js to TypeScript
  static/global.ts
  static/options.ts
Labels: ui

#3001 Add python 3.10 and make it the default.
  etc/config/python.amazon.properties
Labels: lang-python

#3005 Avoid calling compilerProps after compiler object construction
  lib/base-compiler.js
  lib/compilers/crystal.js
  lib/compilers/golang.js
  lib/compilers/kotlin.js
  lib/compilers/python.js
  lib/compilers/ruby.js
  lib/compilers/scala.js
Labels: lang-go, lang-python, lang-kotlin, lang-scala, lang-crystal, lang-ruby

#3006 Make Rust macro expansion view properly display unsupported compiler
  static/panes/rustmacroexp-view.ts
Labels: ui

#3007 Add Swift 5.5.
  etc/config/swift.amazon.properties
Labels: lang-swift

#3071 Enable semver versioning for Python
  etc/config/python.amazon.properties
  etc/config/python.defaults.properties
Labels: lang-python

#3052 Make Alert.enterSomething's yes callback's type includes the answer
  static/alert.interfaces.ts
  static/alert.ts
  static/multifile-service.ts
Labels: ui

#3054 Make colour.ts take Record<number, number> and refactor it to drop underscore.js
  static/colour.ts
Labels: ui

#3076 Use cu++filt as the nvcc demangler
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#3074 Add flag to keep generated PTX for device functions
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#3073 Add CUDA 11.4, 11.4.1, 11.5
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#3086 Await for things
  app.js
  etc/scripts/docenizer-java.js
  lib/base-compiler.js
  lib/compilers/argument-parsers.js
  package-lock.json
  static/load-save.js
  static/multifile-service.ts
  static/panes/tree.ts
  test/cache-tests.js
Labels: ui
