Repository compiler-explorer/compiler-explorer, pull requests merged in 2021-12, with the labels that each got.

#3146 Rust 1.57.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#3151 Temporarily patch Kotlin runtime execution
  lib/compilers/kotlin.js
Labels: lang-kotlin

#3153 Add tbb 2021.4.0
  etc/config/c++.amazon.properties
Labels: lang-c++

#3147 rust: HIR dump and small refactor with macro expansion
  lib/base-compiler.js
  lib/compilers/rust.js
  static/components.js
  static/hub.js
  static/panes/compiler.js
  static/panes/rusthir-view.interfaces.ts
  static/panes/rusthir-view.ts
  views/templates.pug
Labels: lang-rust, ui

#3158 Added clang-13 to OpenCL and improved compilation speed.
  etc/config/cpp_for_opencl.amazon.properties
  etc/config/cpp_for_opencl.defaults.properties
  etc/config/openclc.amazon.properties
  etc/config/openclc.defaults.properties
Labels: lang-c++-opencl, lang-opencl-c

#3037 Migrate the LLVM IR pane to the TypeScript Pane API
  static/panes/ir-view.interfaces.ts
  static/panes/ir-view.js
  static/panes/ir-view.ts
Labels: ui

#3143 Refactor and return 404 from AsmDocs APIs
  lib/handlers/api.js
  lib/handlers/assembly-documentation/amd64.js
  lib/handlers/assembly-documentation/arm32.js
  lib/handlers/assembly-documentation/java.js
  lib/handlers/assembly-documentation/router.js
  lib/handlers/base-assembly-documentation-handler.js
  static/api/api.ts
  static/api/assemblydocumentation.interfaces.ts
  static/panes/compiler.js
  test/handlers/api-tests.js
  test/handlers/asm-docs-tests.js
  test/handlers/assembly-documentation/amd64-tests.js
  test/handlers/assembly-documentation/arm32-tests.js
  test/handlers/assembly-documentation/java-tests.js
Labels: ui

#3163 Add Raberu library
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
Labels: lang-c++, lang-circle

#3161 Add documentation for writing a new AssemblyDocumentation handler
  docs/AddingAssemblyDocumentation.md
  docs/images/show_assembly_documentation.gif
Labels: documentation

#3164 Add Boost 1.78.0
  etc/config/c++.amazon.properties
Labels: lang-c++

#3157 Add single quote for strings in asm mode
  static/modes/asm-mode.ts
Labels: ui, bugfix

#3162 [PoC] Automatically enable text search for language dropdown
  static/explorer.scss
  static/panes/editor.js
Labels: ui

#3173 mp-coro library added
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
Labels: lang-c++, lang-circle

#3145 Add xtensa compilers for ESP32, ESP32-S2, ESP32-S3
  etc/config/c.amazon.properties
Labels: lang-c

#3178 Add compilers for Kotlin 1.6.10
  etc/config/kotlin.amazon.properties
Labels: lang-kotlin

#3177 Fix source/assembly mapping when GNAT expanded code pane opened
  lib/base-compiler.js
  lib/compilers/ada.js
Labels: lang-ada, bugfix

#3183 Fix missing gimple and original tree dump in GCC dump
  lib/base-compiler.js
Labels: bugfix

#3160 Move Formatter API fetching logic into api.ts
  static/api/api.ts
  static/api/formatting.interfaces.ts
  static/formatter-registry.ts
Labels: ui

#3195 Add link to Assembly talk
  README.md
Labels: documentation

#3196 add intel oneapi 2022, 2021.4 releases
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-c++, lang-c, lang-fortran

#3191 Add LDC 1.28.0 and make it the default compiler
  etc/config/d.amazon.properties
Labels: lang-d

#3199 Remove duplicate gnuas
  etc/config/assembly.amazon.properties
Labels: lang-asm

#3204 Upgrade monaco and monaco-webpack-plugin
  package-lock.json
  package.json
  static/panes/ast-view.js
  static/panes/compiler.js
  static/panes/editor.js
  static/panes/opt-view.js
  static/panes/tool.js
  static/themes.js
Labels: ui

#3208 Add Serenity's Lagom libraries
  etc/config/c++.amazon.properties
Labels: lang-c++

#3194 Add GCC compiler for MRISC32
  CONTRIBUTORS.md
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#3206 API: Change 'filters' option to be additive
  CONTRIBUTORS.md
  docs/API.md
  lib/compilers/fake-for-test.js
  lib/handlers/compile.js
Labels: documentation

#3211 Make it possible to share types in /types directory between front and backend
  gh-dist-files.txt
  lib/handlers/base-assembly-documentation-handler.ts
  static/api/api.ts
  static/tsconfig.json
  tsconfig.backend.json
  tsconfig.base.json
  tsconfig.frontend.json
  tsconfig.json
  types/features/assembly-documentation.interfaces.ts
Labels: ui

#3220 Move GA to ts
  static/analytics.ts
  static/global.ts
  static/options.interfaces.ts
Labels: ui
