Repository compiler-explorer/compiler-explorer, pull requests merged in 2021-05, with the labels that each got.

#2636 Rename gccrs group to have it listed after rustc
  etc/config/rust.amazon.properties
Labels: lang-rust

#2638 Rename gccrs group id to really make it listed after rustc
  etc/config/rust.amazon.properties
Labels: lang-rust

#2642 Use case insensitive sort for group names
  static/compiler-service.js
Labels: ui

#2630 Add support for Python optimization flags
  CONTRIBUTORS.md
  etc/scripts/dis_all.py
Labels: lang-python

#2645 updated OSACA version to 0.4.2
  etc/config/analysis.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/clean.amazon.properties
  etc/config/cppx.amazon.properties
  etc/config/cppx_blue.amazon.properties
  etc/config/cppx_gold.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
  etc/config/haskell.amazon.properties
  etc/config/ispc.amazon.properties
  etc/config/llvm.amazon.properties
  etc/config/pascal.amazon.properties
  etc/config/rust.amazon.properties
  etc/config/swift.amazon.properties
  etc/config/zig.amazon.properties
Labels: lang-c, lang-c++, lang-clean, lang-cppx, lang-d, lang-fortran, lang-go, lang-haskell, lang-ispc, lang-pascal, lang-rust, lang-swift, lang-zig

#2646 Add kiwaku to CE
  etc/config/c++.amazon.properties
Labels: lang-c++

#2649 Rust 1.52.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#2656 updated OSACA version to 0.4.3
  etc/config/analysis.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/clean.amazon.properties
  etc/config/cppx.amazon.properties
  etc/config/cppx_blue.amazon.properties
  etc/config/cppx_gold.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
  etc/config/haskell.amazon.properties
  etc/config/ispc.amazon.properties
  etc/config/llvm.amazon.properties
  etc/config/pascal.amazon.properties
  etc/config/rust.amazon.properties
  etc/config/swift.amazon.properties
  etc/config/zig.amazon.properties
Labels: lang-c, lang-c++, lang-clean, lang-cppx, lang-d, lang-fortran, lang-go, lang-haskell, lang-ispc, lang-pascal, lang-rust, lang-swift, lang-zig

#2657 Add LDC 1.25.1 and 1.26.0
  etc/config/d.amazon.properties
Labels: lang-d

#2659 mp-units 0.7.0 support added
  etc/config/c++.amazon.properties
Labels: lang-c++

#2510 Sketch a possible solution for #2436
  static/explorer.scss
  static/main.js
  static/sharing.js
  views/index.pug
  views/popups.pug
  views/templates.pug
Labels: enhancement, ui

#2663 remove link caching and other useless code
  static/sharing.js
Labels: ui

#2660 Compiler Selection Improvements
  package.json
  static/explorer.scss
  static/main.js
  static/panes/cfg-view.js
  static/panes/compiler.js
  static/panes/conformance-view.js
  static/panes/diff.js
  static/panes/editor.js
  static/panes/executor.js
  static/panes/gccdump-view.js
  static/panes/opt-view.js
  static/themes/dark-theme.scss
Labels: ui

#2669 GCC 8.4 and 8.5
  etc/config/assembly.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-asm, lang-c, lang-c++, lang-fortran

#2672 Somewhat working delphi support
  docs/WindowsDelphi.properties
  lib/compilers/_all.js
  lib/compilers/pascal-win.js
  lib/pe32-support.js
Labels: documentation

#2687 LDC: use -gline-tables-only instead of -g by default
  lib/compilers/ldc.js
Labels: lang-d

#2681 Initial support for mrustc
  etc/config/rust.amazon.properties
  lib/compilers/_all.js
  lib/compilers/argument-parsers.js
  lib/compilers/mrustc.js
Labels: lang-rust

#2690 Update c.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c

#2667 Adjust media queries to avoid jumps in small screens
  static/explorer.scss
  views/index.pug
Labels: enhancement, ui
