Repository compiler-explorer/compiler-explorer, pull requests merged in 2021-11, with the labels that each got.

#3095 Add nsimd v3.0.1
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/cuda.amazon.properties
Labels: lang-c++, lang-c, lang-cuda

#3098 updated OSACA version
  etc/config/analysis.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/clean.amazon.properties
  etc/config/cppx.amazon.properties
  etc/config/cppx_blue.amazon.properties
  etc/config/cppx_gold.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
  etc/config/haskell.amazon.properties
  etc/config/ispc.amazon.properties
  etc/config/llvm.amazon.properties
  etc/config/pascal.amazon.properties
  etc/config/rust.amazon.properties
  etc/config/swift.amazon.properties
  etc/config/zig.amazon.properties
Labels: lang-c++, lang-rust, lang-go, lang-d, lang-haskell, lang-ispc, lang-swift, lang-pascal, lang-c, lang-zig, lang-fortran, lang-clean, lang-cppx

#3090 Add Thrust and CUB 1.13.1, 1.14.0, and 1.15.0.
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#3091 Actually use the setting style in the format api
  static/formatter-registry.interfaces.ts
  static/formatter-registry.ts
  static/settings.interfaces.ts
Labels: ui

#3024 Refactor GCC dump handling
  lib/base-compiler.js
  lib/compilers/ada.js
  lib/compilers/argument-parsers.js
  static/panes/compiler.js
  static/panes/gccdump-view.js
Labels: ui, lang-ada

#3101 Update xsimd library version and paths
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
Labels: lang-c++, lang-circle

#3064 Refactor GCC dump and GNAT expanded code creation
  lib/base-compiler.js
  lib/compilers/ada.js
Labels: lang-ada

#3119 Enable diff view to use GNAT (Ada) expanded code
  static/panes/diff.js
Labels: ui

#3115 Filter fdump-passes output from stderr before displaying
  lib/base-compiler.js
Labels: bugfix

#3121 Show GNAT expanded code pane even in case of compiler error
  lib/base-compiler.js
Labels: lang-ada

#3081 Add some new minor settings
  static/panes/compiler.js
  static/settings.interfaces.ts
  static/settings.js
  views/popups.pug
Labels: enhancement, ui

#3083 Modify the path include guard to fix some false-positives
  lib/base-compiler.js
  test/base-compiler-tests.js
Labels: enhancement

#3114 Add kotlin 1.6.0 compiler
  etc/config/kotlin.amazon.properties
Labels: lang-kotlin

#3116 Honour rustc flags when emitting MIR and emit both assembly and MIR in the same execution
  lib/base-compiler.js
  lib/compilers/ada.js
  lib/compilers/rust.js
Labels: lang-rust, lang-ada

#3109 Enable the GCC dump for the rustc using GCC backend
  lib/compilers/rustc-cg-gcc.js
Labels: lang-rust

#3094 add support for erlang to beam bytecode
  etc/config/erlang.defaults.properties
  examples/erlang/default.erl
  lib/compilers/_all.js
  lib/compilers/argument-parsers.js
  lib/compilers/erlang.js
  lib/languages.js
Labels: new-language, lang-erlang

#3112 Add Crystal 1.2.2
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#3126 update gcc and clang in default properties
  etc/config/c++.defaults.properties
  etc/config/c.defaults.properties
  etc/config/fortran.defaults.properties
Labels: lang-c++, lang-c, lang-fortran

#3127 remove arch. from fortron names, add .x for gcc.x
  etc/config/c.defaults.properties
  etc/config/fortran.defaults.properties
Labels: lang-c, lang-fortran

#3129 Erlang highlight and add to amazon
  etc/config/erlang.amazon.properties
  lib/compilers/erlang.js
  static/modes/_all.js
  static/modes/erlang-mode.ts
Labels: ui

#3130 More Erlang keywords
  static/modes/erlang-mode.ts
Labels: ui

#3128 Fix and refactor rustc-cg-gcc GCC dump
  lib/base-compiler.js
  lib/compilers/rust.js
Labels: lang-rust

#3133 Add kumi to the library setup
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
Labels: lang-c++, lang-circle

#3136 Fix loading a zip project
  static/multifile-service.ts
Labels: ui

#3110 Migrate Cfg pane to typescript
  static/panes/cfg-view.interfaces.ts
  static/panes/cfg-view.js
  static/panes/cfg-view.ts
Labels: ui

#3141 Add xtensa compilers for ESP32, ESP32-S2, ESP32-S3
  etc/config/c++.amazon.properties
Labels: lang-c++
