Repository compiler-explorer/compiler-explorer, pull requests merged in 2021-07, with the labels that each got.

#2761 Initial sketch for how we could parse Rust output
  lib/base-compiler.js
  lib/compilers/rust.js
  lib/utils.js
  test/utils-tests.js
Labels: enhancement, lang-rust

#2764 Config changes
  .idea/inspectionProfiles/Project_Default.xml
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/zig.amazon.properties
  lib/compilers/tinyc.js
Labels: lang-c, lang-c++, lang-zig

#2745 Support execution of programs for JVM compilers
  etc/config/java.amazon.properties
  etc/config/java.defaults.properties
  etc/config/kotlin.amazon.properties
  etc/config/kotlin.defaults.properties
  etc/nsjail/sandbox.cfg
  lib/compilers/java.js
  lib/compilers/kotlin.js
Labels: lang-java

#2752 Add OpenCL C language
  etc/config/openclc.amazon.properties
  etc/config/openclc.defaults.properties
  examples/openclc/default.cl
  lib/languages.js
  static/modes/openclc-mode.js
  static/panes/editor.js
Labels: ui

#2767 Fix execution for JVM compilers
  etc/config/java.amazon.properties
  lib/compilers/java.js
  lib/compilers/kotlin.js
Labels: lang-java

#2732 Add Crystal support
  CONTRIBUTORS.md
  etc/config/crystal.amazon.properties
  etc/config/crystal.defaults.properties
  examples/crystal/default.cr
  lib/asm-parser-crystal.js
  lib/compilers/_all.js
  lib/compilers/argument-parsers.js
  lib/compilers/crystal.js
  lib/languages.js
  static/modes/crystal-mode.js
  static/panes/editor.js
Labels: ui

#2774 Add optional support for noting page loads with which icons are visible
  etc/config/compiler-explorer.amazon.properties
  etc/config/sponsors.yaml
  lib/options-handler.js
  static/main.js
  views/sponsor-icons.pug
Labels: ui

#2772 add taoJSON
  etc/config/c++.amazon.properties
Labels: lang-c++

#2773 add oneapi 2021.3 release
  etc/config/c++.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-c++, lang-fortran

#2775 LLVM 12.0.1
  etc/config/assembly.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/llvm.amazon.properties
Labels: lang-asm, lang-c, lang-c++

#2777 Update themes.js to tweak identifier color
  static/themes.js
Labels: ui

#2746 Adding rustc-cg-gcc
  etc/config/rust.amazon.properties
  lib/compilers/_all.js
  lib/compilers/rustc-cg-gcc.js
Labels: lang-rust

#2771 Add C++ for OpenCL language
  etc/config/cpp_for_opencl.amazon.properties
  etc/config/cpp_for_opencl.defaults.properties
  examples/cpp_for_opencl/default.clcpp
  lib/languages.js
  static/modes/cpp-for-opencl-mode.js
  static/panes/editor.js
Labels: ui

#2789 Improve handling of Crystal's quoted labels
  lib/asm-parser-crystal.js
  static/modes/asm-mode.js
Labels: ui

#2780 Adds .hidden for libraries
  lib/options-handler.js
  static/libs-widget-ext.js
  test/options-handler.js
Labels: enhancement, ui

#2791 Ensure history is updated on every change. Closes #2762
  static/history.js
  static/main.js
  static/sharing.js
Labels: ui

#2787 Support cproc C11 compiler
  etc/config/c.amazon.properties
  lib/compilers/_all.js
  lib/compilers/cproc.js
Labels: lang-c

#2790 Adds GHC 8.10.5 & 9.0.1
  etc/config/haskell.amazon.properties
Labels: lang-haskell, new-compilers

#2793 Add hotels-template-library
  etc/config/c++.amazon.properties
Labels: lang-c++

#2714 Create a seperate window for editing compiler flags
  static/components.js
  static/hub.js
  static/panes/compiler.js
  static/panes/flags-view.js
  views/templates.pug
Labels: ui

#2792 Treat data definitions in the middle of functions as "strong"
  lib/asm-parser.js
  test/filter-tests.js
  test/filters-cases/bug-2788.asm
  test/filters-cases/bug-2788.asm.binary.directives.labels.comments.approved.txt
  test/filters-cases/bug-2788.asm.directives.approved.txt
  test/filters-cases/bug-2788.asm.directives.comments.approved.txt
  test/filters-cases/bug-2788.asm.directives.labels.approved.txt
  test/filters-cases/bug-2788.asm.directives.labels.comments.approved.txt
  test/filters-cases/bug-2788.asm.directives.labels.comments.library.approved.txt
  test/filters-cases/bug-2788.asm.directives.library.approved.txt
  test/filters-cases/bug-2788.asm.none.approved.txt
Labels: Assembly, bugfix

#2796 updated OSACA version to 0.4.5
  etc/config/analysis.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/clean.amazon.properties
  etc/config/cppx.amazon.properties
  etc/config/cppx_blue.amazon.properties
  etc/config/cppx_gold.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
  etc/config/haskell.amazon.properties
  etc/config/ispc.amazon.properties
  etc/config/llvm.amazon.properties
  etc/config/pascal.amazon.properties
  etc/config/rust.amazon.properties
  etc/config/swift.amazon.properties
  etc/config/zig.amazon.properties
Labels: lang-c, lang-c++, lang-clean, lang-cppx, lang-d, lang-fortran, lang-go, lang-haskell, lang-ispc, lang-pascal, lang-rust, lang-swift, lang-zig, new-tools

#2785 Allow a tool to have a separate monaco editor for it's stdinput
  docs/AddingATool.md
  etc/config/c++.defaults.properties
  lib/options-handler.js
  static/components.js
  static/hub.js
  static/panes/compiler.js
  static/panes/tool-input-view.js
  static/panes/tool.js
  views/templates.pug
Labels: documentation, lang-c++, ui

#2795 Add rustc MIR output view
  lib/base-compiler.js
  lib/compilers/rust.js
  static/components.js
  static/hub.js
  static/panes/compiler.js
  static/panes/rustmir-view.js
  views/templates.pug
Labels: lang-rust, ui

#2806 Fix Rust MIR button bug and remove invalid todo line
  lib/base-compiler.js
  static/panes/compiler.js
Labels: ui

#2804 Hide panes that are not supported by a compiler
  static/panes/compiler.js
Labels: ui

#2813 Add Crystal 1.1.1
  etc/config/crystal.amazon.properties
Labels: lang-crystal, new-compilers

#2811 Added rainbow-dark theme
  static/colour.js
  static/colours.scss
Labels: enhancement, ui

#2807 Minor cleanups
  static/components.js
  static/panes/compiler.js
  static/panes/flags-view.js
  static/panes/tool-input-view.js
  static/panes/tool.js
Labels: ui

#2814 Revert "Add Crystal 1.1.1"
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#2815 Add Crystal 1.1.1 again
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#2824 Circle: Add support for Intel ASM syntax
  etc/config/circle.amazon.properties
  etc/config/circle.defaults.properties
  lib/compilers/circle.js
Labels: lang-circle

#2822 GCC 11.2
  etc/config/assembly.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-asm, lang-c, lang-c++, lang-fortran, new-compilers

#2821 Delay compilation until editor sends compile request on language change
  static/panes/compiler.js
Labels: ui

#2820 Enable typescript for clientside static scripts
  package-lock.json
  package.json
  static/tsconfig.json
  webpack.config.esm.js
Labels: ui

#2828 Rust 1.54.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#2816 Add support for Ruby 2.5 - 3.0
  .github/labeler.yml
  etc/config/ruby.amazon.properties
  etc/config/ruby.defaults.properties
  etc/scripts/ruby/disasm.rb
  examples/ruby/default.rb
  lib/compilers/_all.js
  lib/compilers/ruby.js
  lib/languages.js
  static/modes/asmruby-mode.js
  static/panes/compiler.js
  webpack.config.esm.js
Labels: new-language, ui

#2832 Update to latest zig trunk
  lib/compilers/zig.js
Labels: lang-zig
