Repository compiler-explorer/compiler-explorer, pull requests merged in 2021-02, with the labels that each got.

#2406 Adds args field to tools
  docs/AddingATool.md
  lib/options-handler.js
  lib/tooling/base-tool.js
  lib/tooling/clang-format-tool.js
  lib/tooling/clang-query-tool.js
  lib/tooling/clang-tidy-tool.js
  lib/tooling/compiler-dropin-tool.js
  lib/tooling/pvs-studio-tool.js
  static/panes/compiler.js
Labels: enhancement, ui

#2417 Fully update the lib UI when a library is removed
  static/libs-widget-ext.js
Labels: enhancement, ui

#2419 Privacy policy updates. Closes #2276
  Makefile
  etc/scripts/changelog.py
  etc/scripts/politic.py
  static/alert.js
  static/main.js
  static/policies/cookies.html
  static/policies/privacy.html
Labels: legal, ui

#2426 Move /shortener to /api/shortener
  app.js
  docs/API.md
  lib/handlers/api.js
  lib/handlers/route-api.js
  lib/storage/remote.js
  static/sharing.js
  test/handlers/api-tests.js
Labels: ui

#2399 Add Notification to Compiler Info Popup
  static/panes/compiler.js
  static/panes/executor.js
  views/templates.pug
Labels: do-not-merge, enhancement, ui, waiting

#2446 Add support for more cases of verbose demangling
  lib/demangler/cpp.js
  test/demangle-cases/bug-1336-first-20000-lines.asm.demangle
Labels: demangling, enhancement
