Repository compiler-explorer/compiler-explorer, pull requests merged in 2021-09, with the labels that each got.

#2911 Use default GPU target for CUDA compilation w/ NVCC
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#2914 Add circle-131 with --gcc-toolchain switch support. Enables C++20
  etc/config/circle.amazon.properties
Labels: new-compilers, lang-circle

#2910 Some general UI touches
  package.json
  static/alert.ts
  static/compiler-service.js
  static/explorer.scss
  static/libs-widget-ext.js
  static/main.js
  static/multifile-service.ts
  static/panes/compiler.js
  static/panes/conformance-view.js
  static/panes/editor.js
  static/panes/executor.js
  static/panes/gccdump-view.js
  static/panes/tool.js
  static/panes/tree.ts
  static/settings.js
  static/sharing.ts
  static/themes/dark-theme.scss
  static/themes/default-theme.scss
  static/tsconfig.json
  static/utils.ts
  views/popups.pug
  views/templates.pug
Labels: enhancement, ui

#2913 OCaml Improvements: objdump and a few refactorings
  etc/config/ocaml.amazon.properties
  etc/config/ocaml.defaults.properties
  lib/compilers/ocaml.js
Labels: enhancement, lang-ocaml

#2919 Add go 1.17
  etc/config/go.amazon.properties
Labels: new-compilers, lang-go

#2916 [WIP] Clean latest
  etc/config/clean.amazon.properties
  etc/config/clean.defaults.properties
  lib/compilers/clean.js
Labels: lang-clean

#2923 Add rustc 1.55.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#2921 [WIP] Clean's equivalent of cppreference
  static/panes/editor.js
Labels: ui

#2926 Update styles available in clang-format
  etc/config/compiler-explorer.amazon.properties
  static/settings.js
Labels: ui

#2918 [NFC] Port monaco-config.js to TypeScript
  static/monaco-config.ts
  static/tsconfig.json
Labels: ui

#2917 Add base Pane component and migrate RustMirView to TypeScript
  static/fontscale.js
  static/panes/pane.interfaces.ts
  static/panes/pane.ts
  static/panes/rustmir-view.js
  static/panes/rustmir-view.ts
  static/settings.interfaces.ts
  static/settings.js
  static/tsconfig.json
Labels: ui

#2931 fix skipasm
  static/panes/conformance-view.js
Labels: ui

#2930 support cmake for fortran
  lib/base-compiler.js
  static/multifile-service.ts
Labels: ui

#2881 Pascalchanges
  lib/base-compiler.js
  lib/compilers/pascal-utils.js
  lib/compilers/pascal-win.js
  lib/compilers/pascal.js
  lib/languages.js
  lib/map-file-delphi.js
  lib/pe32-support.js
  static/multifile-service.ts
  test/map-file-tests.js
  test/pascal-tests.js
  test/pascal/example.pas
  test/pascal/prog.dpr
Labels: ui, lang-pascal

#2924 Options cleanup
  lib/base-compiler.js
  lib/compiler-finder.js
  lib/handlers/compile.js
  lib/tooling/base-tool.js
  lib/tooling/clang-tidy-tool.js
  lib/tooling/compiler-dropin-tool.js
  static/lib-utils.ts
  static/libs-widget-ext.js
  static/libs-widget.js
  static/panes/compiler.js
  static/panes/conformance-view.js
  static/panes/executor.js
  static/tsconfig.json
  test/compiler-finder-tests.js
  test/options-handler.js
Labels: ui

#2950 Fix missing FormatBase variants in settings.interfaces.ts
  static/settings.interfaces.ts
Labels: ui

#2935 Properly type settings argument for monaco extendConfig()
  static/monaco-config.ts
Labels: ui

#2951 Add xerces-c v3.2.3
  etc/config/c++.amazon.properties
Labels: lang-c++

#2953 Add missing tsconfig entries and alphabetically sort existing ones
  static/tsconfig.json
Labels: ui

#2956 Bind duplicate selection to Ctrl + D
  static/panes/editor.js
Labels: ui

#2961 Enable execution for Scala
  etc/config/scala.amazon.properties
Labels: lang-scala

#2962 Warn if Execution Only is added for compiler without execution
  static/panes/executor.js
Labels: ui

#2944 Add Java OpenJDK 17
  etc/config/java.amazon.properties
  etc/config/kotlin.amazon.properties
  etc/config/scala.amazon.properties
Labels: lang-java, lang-kotlin, lang-scala

#2952 Add Kotlin 1.5.31 compilers
  etc/config/kotlin.amazon.properties
Labels: lang-kotlin

#2932 Add rustc Macro Expansion view
  lib/base-compiler.js
  lib/compilers/rust.js
  static/components.js
  static/hub.js
  static/panes/compiler.js
  static/panes/rustmacroexp-view.ts
  static/tsconfig.json
  views/templates.pug
Labels: lang-rust, ui

#2968 2967: Escape string that gets passed as custom output filename
  static/panes/tree.ts
Labels: ui
