Repository compiler-explorer/compiler-explorer, pull requests merged in 2021-04, with the labels that each got.

#2538 Support ELF Tool Chain and LLVM objdump
  etc/config/compiler-explorer.defaults.properties
  lib/base-compiler.js
  lib/compiler-finder.js
  lib/compilers/assembly.js
  lib/compilers/dmd.js
  lib/compilers/pascal.js
  lib/compilers/win32.js
  lib/compilers/wine-vc.js
  lib/objdumper/_all.js
  lib/objdumper/base.js
  lib/objdumper/binutils.js
  lib/objdumper/default.js
  lib/objdumper/elftoolchain.js
  lib/objdumper/index.js
  lib/objdumper/llvm.js
  test/base-compiler-tests.js
Labels: enhancement

#2576 add oneapi 2021.2.0
  etc/config/c++.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-c++, lang-fortran, new-compilers

#2572 Highlight individual tokens in the source file and the corresponding nodes in the LLVM AST pane
  lib/llvm-ast.js
  static/panes/ast-view.js
  static/panes/compiler.js
  static/panes/editor.js
  static/panes/executor.js
  static/panes/ir-view.js
  static/panes/output.js
  test/llvm-ast-parser-tests.js
Labels: enhancement, ui

#2583 Add GCC 10.3
  etc/config/assembly.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-asm, lang-c, lang-c++, lang-fortran, new-compilers

#2596 Express the dependency between "onColours" and "onCompileResult" explicitly
  static/hub.js
  static/panes/ast-view.js
  static/panes/ir-view.js
Labels: ui

#2581 Link into executable for Assembly language
  etc/config/assembly.amazon.properties
  etc/config/compiler-explorer.amazon.properties
  etc/config/compiler-explorer.defaults.properties
  lib/base-compiler.js
  lib/compilers/assembly.js
  lib/tooling/readelf-tool.js
  static/timing-info-widget.js
Labels: ui

#2601 Add lang labeler filters
  .github/labeler.yml
Labels: enhancement

#2573 Add a simple How-To motivated by current issues
  docs/HowDoI_interface.md
  docs/images/add_new_clang.png
  docs/images/add_new_gcc.png
  docs/images/asm_info.png
  docs/images/brief_overview.png
Labels: enhancement

#2588 Add LLVM/Clang 12.0.0 toolchain
  etc/config/assembly.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/llvm.amazon.properties
Labels: new-compilers

#2605 Update gcc contracts documentation URL
  etc/config/c++.amazon.properties
Labels: lang-c++

#2606 Add Lock3 gcc contract labels
  etc/config/c++.amazon.properties
Labels: lang-c++

#2612 Update for OFW inclusion
  etc/config/c++.amazon.properties
Labels: lang-c++

#2613 Add missing webasm target for clang in C
  etc/config/c.amazon.properties
Labels: lang-c, new-compilers

#2615 [FEATURE] Nim v1.4.6
  etc/config/nim.amazon.properties
Labels: lang-nim, new-compilers

#2619 Add Go 1.16
  etc/config/go.amazon.properties
Labels: lang-go

#2622 Add Swift 5.4
  etc/config/swift.amazon.properties
Labels: lang-swift

#2624 Update for GCC 11.1
  etc/config/assembly.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
Labels: lang-asm, lang-c, lang-c++, lang-fortran, lang-go

#2628 Add GCCRS support in the Rust config
  etc/config/rust.amazon.properties
Labels: lang-rust

#2434 Add Zig cc as a C compiler
  etc/config/c.amazon.properties
  lib/base-compiler.js
  lib/compilers/_all.js
  lib/compilers/zigcc.js
Labels: lang-c, new-compilers

#2632 Create GCCRSCompiler class from GCCCompiler
  etc/config/rust.amazon.properties
  lib/compilers/_all.js
  lib/compilers/gccrs.js
Labels: lang-rust
