Repository compiler-explorer/compiler-explorer, pull requests merged in 2022-08, with the labels that each got.

#3911 Make executor able to highlight editor code
  static/event-map.ts
  static/panes/editor.js
Labels: ui

#3935 Fix selection fn signature
  static/panes/editor.js
Labels: ui

#3934 Makes language logo optional in all cases
  lib/languages.ts
  static/main.js
  static/panes/editor.js
  test/check-img.js
  types/languages.interfaces.ts
  views/resources/logos/carbon.svg
Labels: ui

#3942 Added description for libs.etl
  etc/config/c++.amazon.properties
Labels: lang-c++

#3943 Replace provide-plugin jquery imports with import statements
  static/alert.ts
  static/compiler-picker.ts
  static/compiler-service.ts
  static/modes/cpp-for-opencl-mode.ts
  static/modes/cppcircle-mode.ts
  static/modes/cppp-mode.ts
  static/modes/cppx-blue-mode.ts
  static/modes/cuda-mode.ts
  static/modes/ispc-mode.ts
  static/modes/nc-mode.ts
  static/modes/openclc-mode.ts
  static/modes/ptx-mode.ts
  static/motd.ts
  static/panes/ast-view.ts
  static/panes/cfg-view.ts
  static/panes/diff.ts
  static/panes/flags-view.ts
  static/panes/gccdump-view.ts
  static/panes/gnatdebug-view.ts
  static/panes/gnatdebugtree-view.ts
  static/panes/haskellstg-view.ts
  static/panes/ir-view.ts
  static/panes/llvm-opt-pipeline.ts
  static/panes/opt-view.ts
  static/panes/output.ts
  static/panes/pane.ts
  static/panes/pp-view.ts
  static/panes/rusthir-view.ts
  static/panes/rustmacroexp-view.ts
  static/panes/rustmir-view.ts
  static/panes/tool-input-view.ts
  static/panes/tree.ts
  static/settings.ts
  static/sharing.ts
  static/themes.ts
  static/widgets/fontscale.ts
  static/widgets/history-widget.ts
  static/widgets/libs-widget.ts
  static/widgets/load-save.ts
  static/widgets/pane-renaming.ts
  static/widgets/simplecook.ts
  static/widgets/site-templates-widget.ts
  static/widgets/timing-info-widget.ts
  static/widgets/toggles.ts
  webpack.config.esm.js
Labels: ui

#3946 Jakt: Remove -b flag
  etc/config/jakt.amazon.properties
Labels: lang-jakt

#3945 Add Go 1.19
  etc/config/go.amazon.properties
Labels: lang-go

#3939 add new version of nlohmann::json and scnlib
  etc/config/c++.amazon.properties
Labels: lang-c++

#3949 Add LDC 1.30.0 and make it the new default
  etc/config/d.amazon.properties
Labels: lang-d

#3948 Fixes small UI problems
  static/panes/compiler.js
  views/templates/panes/compiler.pug
Labels: ui

#3950 Bring hlsl config to same style as other languages
  etc/config/hlsl.amazon.properties
Labels: lang-hlsl

#3952 Patch missing jquery imports
  static/panes/haskellcmm-view.ts
  static/panes/haskellcore-view.ts
  static/panes/pane.ts
Labels: ui

#3954 Add latest CUDA 11.5-11.7 releases
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#3956 Fix typo: NVCC 11.5.1 appears twice
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#3957 JBOF: Just a Bunch of Fixes
  .github/workflows/test-and-deploy.yml
  .husky/pre-commit
  etc/config/go.amazon.properties
  etc/config/pony.amazon.properties
  etc/scripts/util/propscheck.py
  etc/scripts/util/propschecktest.py
  etc/scripts/util/test/cases/bad_compilers.properties
  etc/scripts/util/test/cases/bad_compilers_aliases.properties
  etc/scripts/util/test/cases/bad_compilers_disabled.properties
  etc/scripts/util/test/cases/bad_default.properties
  etc/scripts/util/test/cases/bad_formatters.properties
  etc/scripts/util/test/cases/bad_groups.properties
  etc/scripts/util/test/cases/bad_libs_ids.properties
  etc/scripts/util/test/cases/bad_libs_versions.properties
  etc/scripts/util/test/cases/bad_tools.properties
  etc/scripts/util/test/cases/duplicate_lines.properties
  etc/scripts/util/test/cases/empty_separators.properties
  lib/compiler-finder.js
  lib/compilers/_all.js
  static/event-map.ts
  static/modes/_all.ts
  static/motd.ts
  static/panes/tool-input-view.ts
  static/tests/motd.ts
  types/languages.interfaces.ts
Labels: enhancement, lang-go, ui, lang-pony

#3960 Fixes conformance view bug
  static/panes/conformance-view.js
Labels: ui

#3959 Fixes some errors with make EXTRA_ARGS="--language {langId}"
  static/main.js
  static/panes/compiler.js
  static/panes/editor.js
Labels: ui

#3803 Add cross GCC 12.1.0 for Ada, C++, C, D and Fortran
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-c++, lang-d, lang-c, lang-fortran, lang-ada

#3961 Add RGA compiler support to HLSL
  etc/config/hlsl.amazon.properties
  etc/config/hlsl.defaults.properties
  lib/compilers/_all.js
  lib/compilers/hlsl.ts
  lib/compilers/rga.ts
Labels: new-compilers, lang-hlsl

#3971 Move sass files to static/styles
  .idea/scopes/Client.xml
  static/compiler-service.ts
  static/main.js
  static/styles/explorer.scss
  static/styles/themes/dark-theme.scss
  static/styles/themes/default-theme.scss
Labels: ui

#3970 Adds icon to Select all and makes the text hideable
  static/panes/output.ts
  static/panes/pane.ts
  views/templates/panes/compiler-output.pug
Labels: ui

#3972 propcheck: check for suspicious paths
  etc/config/cppx_blue.defaults.properties
  etc/scripts/util/propscheck.py
  etc/scripts/util/propschecktest.py
  etc/scripts/util/test/cases/suspicious_path.properties
Labels: lang-cppx

#3976 ✏️ [UI] Fix small UI typo
  views/templates/panes/compiler.pug
Labels: ui

#3974 Add native GCC 12.2.0
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
Labels: lang-c++, lang-go, lang-d, lang-c, lang-fortran, lang-ada

#3987 Add debug info filter option to LLVM opt pipeline viewer
  CONTRIBUTORS.md
  lib/parsers/llvm-pass-dump-parser.ts
  static/panes/llvm-opt-pipeline.ts
  types/compilation/llvm-opt-pipeline-output.interfaces.ts
  views/templates/panes/llvm-opt-pipeline.pug
Labels: ui

#3982 Fixes wrong types in libraries.interfaces.ts
  lib/base-compiler.ts
  lib/compilers/rust.ts
  lib/compilers/zig.js
  types/libraries/libraries.interfaces.ts
Labels: lang-zig

#3812 Add z88dk
  etc/config/c.amazon.properties
  lib/compilers/_all.js
  lib/compilers/z88dk.ts
  lib/parsers/asm-parser-z88dk.js
Labels: lang-c

#3990 Z88dk
  lib/compilers/z88dk.ts
Labels: lang-c

#3994 oneapi 2022.1 release
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-c++, lang-c, lang-fortran

#3993 Fix #3989
  lib/llvm-opt-transformer.ts
Labels: lang-llvm

#4003 Ensure there are no duplicated compiler ids between hierarchies
  etc/config/analysis.amazon.properties
  etc/config/analysis.defaults.properties
  etc/config/c++.defaults.properties
  etc/config/c.defaults.properties
  etc/config/carbon.defaults.properties
  etc/config/circt.amazon.properties
  etc/config/cuda.defaults.properties
  etc/config/fortran.defaults.properties
  etc/config/python.defaults.properties
  etc/scripts/util/propscheck.py
  etc/scripts/util/propschecktest.py
Labels: lang-c++, lang-c, lang-cuda, lang-fortran, lang-python, lang-circt

#4000 Move LLVM opt pipeline filters to their own dropdown
  static/panes/llvm-opt-pipeline.ts
  views/templates/panes/llvm-opt-pipeline.pug
Labels: ui

#4004 Add llvm opt pipeline for llc and opt
  lib/compilers/llc.js
  lib/compilers/opt.js
Labels: lang-llvm

#4006 Toggles state
  static/panes/llvm-opt-pipeline.ts
  static/panes/output.ts
  static/panes/pp-view.ts
  static/widgets/toggles.ts
Labels: ui
