Repository compiler-explorer/compiler-explorer, pull requests merged in 2022-06, with the labels that each got.

#3745 adding mfem library
  etc/config/c++.amazon.properties
Labels: lang-c++

#3746 Add version 1.17.0 of Thrust/CUB CUDA libraries.
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#3741 Port lib/formatters to TypeScript
  docs/AddingAFormatter.md
  lib/formatters/_all.ts
  lib/formatters/base.interfaces.ts
  lib/formatters/base.ts
  lib/formatters/clang-format.ts
  lib/formatters/dartformat.ts
  lib/formatters/gofmt.ts
  lib/formatters/index.ts
  lib/formatters/rustfmt.ts
Labels: documentation

#3750 NFC: Rename TypeScript to TypeScript Native on website
  etc/config/typescript.amazon.properties
  etc/config/typescript.defaults.properties
  lib/compilers/_all.js
  lib/compilers/typescript-native.js
  lib/languages.js
Labels: lang-typescript

#3752 Add the gitlab bmulti library
  etc/config/c++.amazon.properties
Labels: lang-c++

#3747 Site templates feature
  app.js
  etc/config/site-templates.conf
  etc/scripts/generate_site_template_screenshots.js
  lib/handlers/api.js
  lib/handlers/site-templates.ts
  static/explorer.scss
  static/main.js
  static/widgets/site-templates-widget.ts
  test/handlers/api-tests.js
  test/handlers/site-templates-tests.js
  types/features/site-templates.interfaces.ts
  views/index.pug
  views/popups.pug
  views/resources/template_screenshots/DiffofTwoCompilers.dark.png
  views/resources/template_screenshots/DiffofTwoCompilers.darkplus.png
  views/resources/template_screenshots/DiffofTwoCompilers.default.png
  views/resources/template_screenshots/DiffofTwoSources.dark.png
  views/resources/template_screenshots/DiffofTwoSources.darkplus.png
  views/resources/template_screenshots/DiffofTwoSources.default.png
  views/resources/template_screenshots/TreeIDEMode.dark.png
  views/resources/template_screenshots/TreeIDEMode.darkplus.png
  views/resources/template_screenshots/TreeIDEMode.default.png
Labels: ui

#3754 Rust library support
  etc/config/rust.amazon.properties
  lib/base-compiler.ts
  lib/buildenvsetup/_all.ts
  lib/buildenvsetup/ceconan-rust.ts
  lib/buildenvsetup/ceconan.ts
  lib/compilers/rust.ts
Labels: lang-rust

#3758 Fix issue with conformance views
  static/panes/editor.js
Labels: ui

#3767 Updated site templates
  docs/AddingASiteTemplate.md
  etc/config/site-templates.conf
  etc/scripts/generate_site_template_screenshots.js
  lib/handlers/site-templates.ts
  test/handlers/site-templates-tests.js
  views/resources/template_screenshots/DiffofTwoSources.dark.png
  views/resources/template_screenshots/DiffofTwoSources.darkplus.png
  views/resources/template_screenshots/DiffofTwoSources.default.png
  views/resources/template_screenshots/LLVMIr.dark.png
  views/resources/template_screenshots/LLVMIr.darkplus.png
  views/resources/template_screenshots/LLVMIr.default.png
  views/resources/template_screenshots/Preprocessor.dark.png
  views/resources/template_screenshots/Preprocessor.darkplus.png
  views/resources/template_screenshots/Preprocessor.default.png
  views/resources/template_screenshots/TreeIDEMode.dark.png
  views/resources/template_screenshots/TreeIDEMode.darkplus.png
  views/resources/template_screenshots/TreeIDEMode.default.png
Labels: ui, documentation

#3753 Fix unexpected es6 code in /static
  static/hub.ts
  static/panes/compiler.js
  static/panes/executor.js
Labels: ui

#3770 Enable MLIR for prod with 14.0.0 and 14.0.5
  etc/config/mlir.amazon.properties
  examples/mlir/default.mlir
  lib/languages.js
Labels: lang-mlir

#3771 Add an alert to fix #3518
  static/main.js
Labels: ui

#3772 fix tab selection
  static/panes/compiler.js
  static/panes/editor.js
Labels: ui

#3775 Add library avr-libstdcpp
  etc/config/c++.amazon.properties
Labels: lang-c++

#3776 Display tool tags in the editor
  static/panes/editor.js
Labels: ui

#3777 add java ide site template
  etc/config/site-templates.conf
  views/resources/template_screenshots/JavaIDE.dark.png
  views/resources/template_screenshots/JavaIDE.darkplus.png
  views/resources/template_screenshots/JavaIDE.default.png
Labels: ui

#3779 enable external asm-parser for binary mode
  etc/config/c++.amazon.properties
Labels: lang-c++, do-not-merge

#3788 Resolve #3786
  static/panes/compiler.js
Labels: ui

#3784 Add Kotlin 1.7.0 with JDK 18 compiler
  etc/config/kotlin.amazon.properties
Labels: lang-kotlin

#3787 Fix token span calculations
  static/panes/ast-view.ts
  static/panes/editor.js
Labels: ui

#3707 Add NVRTC CUDA compiler
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#3795 Fix for morello
  etc/config/c.amazon.properties
Labels: lang-c

#3790 Improve wrapping of variable width fonts
  static/monaco-config.ts
Labels: ui

#2993 Convert components.js to typescript
  static/components.interfaces.ts
  static/components.js
  static/components.ts
  static/event-hub.ts
  static/hub.ts
  static/main.js
  static/panes/editor.js
  static/panes/tree.ts
Labels: ui

#3802 Fix tag source for tools.
  static/panes/editor.js
Labels: ui

#3799 Add MLIR libraries
  etc/config/c++.amazon.properties
Labels: lang-c++

#3808 Toit
  .github/labeler.yml
  CONTRIBUTORS.md
  etc/config/toit.amazon.properties
  etc/config/toit.defaults.properties
  examples/toit/default.toit
  lib/compilers/argument-parsers.js
  lib/compilers/toit.ts
  lib/languages.ts
  static/modes/toit-mode.ts
  types/languages.interfaces.ts
  views/resources/logos/toit.svg
Labels: ui

#3792 add curl
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  lib/buildenvsetup/ceconan.ts
Labels: lang-c++, lang-c

#3678 Cpp 6502 as compiler
  etc/config/c++.amazon.properties
  lib/compilers/_all.js
  lib/compilers/avrgcc6502.ts
Labels: lang-c++

#3817 Linked code background color doesn't need to be !important
  static/themes/dark-theme.scss
Labels: ui

#3823 Rust 1.62.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#3821 Move severity parsing with the rest of the output parsing.
  lib/utils.ts
  static/panes/editor.js
  test/utils-tests.js
  types/resultline/resultline.interfaces.ts
Labels: ui

#3769 LLVM Optimization Pass Viewer
  etc/nsjail/execute.cfg
  lib/base-compiler.ts
  lib/compilers/argument-parsers.js
  lib/demangler/llvm.ts
  lib/parsers/llvm-pass-dump-parser.ts
  package-lock.json
  package.json
  static/components.interfaces.ts
  static/components.ts
  static/event-map.ts
  static/explorer.scss
  static/hub.ts
  static/panes/compiler.js
  static/panes/llvm-opt-pipeline.interfaces.ts
  static/panes/llvm-opt-pipeline.ts
  static/themes/default-theme.scss
  types/compilation/compilation.interfaces.ts
  types/compilation/llvm-opt-pipeline-output.interfaces.ts
  views/templates.pug
Labels: ui
