Repository compiler-explorer/compiler-explorer, pull requests merged in 2022-12, with the labels that each got.

#4383 [llvm-mos] Fix swapped C and C++ compiler binaries.
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#4387 Make docenizer naming more consistent
  docs/internal/UpdatingAsmDocsx86.md
  etc/scripts/docenizers/docenizer-6502.py
  etc/scripts/docenizers/docenizer-amd64.py
  etc/scripts/docenizers/docenizer-arm.py
  etc/scripts/docenizers/docenizer-avr.py
  etc/scripts/docenizers/docenizer-java.sh
  etc/scripts/docenizers/docenizer-llvm.sh
Labels: documentation

#4401 Add special option for gccrs
  etc/config/rust.amazon.properties
Labels: lang-rust

#4403 Fix tomselect arrow padding
  static/styles/explorer.scss
Labels: ui

#4416 Support patched clang for faster opt-view
  etc/config/c++.amazon.properties
  lib/base-compiler.ts
  lib/compiler-finder.ts
  types/compiler.interfaces.ts
Labels: lang-c++

#4414 Add more dart versions
  etc/config/dart.amazon.properties
Labels: lang-dart

#4423 Fix cfg chrome render bug
  static/panes/cfg-view.ts
Labels: ui

#4424 Add svg exports for cfgs
  package-lock.json
  package.json
  static/panes/cfg-view.ts
  tsconfig.frontend.json
  views/templates/panes/cfg.pug
Labels: ui

#4441 update pahole name
  CONTRIBUTORS.md
  etc/config/c++.amazon.properties
Labels: lang-c++

#4448 Add select colours to ts-dropdown
  static/styles/themes/dark-theme.scss
  static/styles/themes/default-theme.scss
Labels: ui

#4437 Assert and unwrap utilities
  .eslintrc.yml
  app.js
  lib/assert.ts
  lib/compilers/carbon.ts
  lib/parsers/llvm-pass-dump-parser.ts
  lib/stacktrace.ts
  static/.eslint-ce-static.yml
  static/assert.ts
  static/panes/cfg-view.ts
Labels: ui

#4454 Handle undefined theme in the site template widget
  static/settings.ts
  static/themes.ts
  static/widgets/site-templates-widget.ts
Labels: ui

#4457 Upgrade and audit npm packages
  package-lock.json
  package.json
  static/panes/editor.ts
Labels: ui

#4413 add: gcc bpf cross compiler
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#4452 Add Josuttis' Belle Views to C++ compiler
  etc/config/c++.amazon.properties
Labels: lang-c++

#4459 Fix binary lable issue
  static/panes/compiler.ts
Labels: ui

#4462 Add new rust crates
  etc/config/rust.amazon.properties
Labels: lang-rust, new-libs

#4471 Give tools in the CE options a type
  static/options.interfaces.ts
  static/panes/compiler.ts
Labels: ui

#4482 Add rollbear/strong_type library
  etc/config/c++.amazon.properties
Labels: lang-c++

#4489 Prevent default for zoom event in cfg
  static/panes/cfg-view.ts
Labels: ui

#4488 Avoid flash on pageload for System and Dark+ themes
  views/_layout.pug
Labels: ui

#4491 add sqlite to cpp
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#4483 Add note about API not supporting external files
  docs/API.md
Labels: documentation

#4493 Add Boost 1.81.0
  etc/config/c++.amazon.properties
Labels: lang-c++

#4362 Various enhancements for dotnet
  etc/config/csharp.defaults.properties
  etc/config/fsharp.defaults.properties
  etc/config/vb.defaults.properties
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#4501 2023 Roadmap
  docs/Roadmap.md
Labels: documentation

#4509 Update rison
  static/rison.js
  test/rison.js
Labels: ui

#4505 Show a size estimate for the png export button
  static/panes/cfg-view.ts
  static/styles/explorer.scss
  views/templates/panes/cfg.pug
Labels: ui

#4507 Add new version of Kalray' KVX compiler
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#4510 Tsify rison.js
  lib/common-utils.ts
  static/rison.js
  static/rison.ts
  static/url.ts
Labels: ui
