Repository compiler-explorer/compiler-explorer, pull requests merged in 2022-04, with the labels that each got.

#3478 Update disabled compiler options input background on dark mode
  static/themes/dark-theme.scss
Labels: ui

#3471 Add update specific motd message
  static/motd.interfaces.ts
  static/motd.ts
Labels: ui

#3466 Disable graph output when -emit-llvm is provided
  lib/base-compiler.js
  static/panes/cfg-view.ts
Labels: ui

#3469 Improve cppinsights button for large sources
  static/panes/editor.js
Labels: ui

#3470 Move Hub to TypeScript
  static/hub.js
  static/hub.ts
  static/panes/tree.ts
Labels: ui

#3486 Update toast .close coloring
  static/themes/dark-theme.scss
  static/themes/default-theme.scss
Labels: ui

#3490 Support fmt 8.[01].1 (#3438)
  CONTRIBUTORS.md
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
Labels: lang-c++, lang-circle

#3489 Adds overridable orderArguments function
  lib/base-compiler.js
  lib/compilers/nim.js
Labels: lang-nim, bugfix

#3482 Use Hub and EventHub types in codebase
  static/compiler-picker.ts
  static/event-hub.ts
  static/hub.ts
  static/multifile-service.ts
  static/panes/ast-view.ts
  static/panes/cfg-view.ts
  static/panes/gnatdebug-view.ts
  static/panes/gnatdebugtree-view.ts
  static/panes/ir-view.ts
  static/panes/opt-view.ts
  static/panes/pane.ts
  static/panes/pp-view.ts
  static/panes/rusthir-view.ts
  static/panes/rustmacroexp-view.ts
  static/panes/rustmir-view.ts
  static/panes/tree.ts
Labels: ui

#3485 Bug fix for 'Option -flto is being used without Compile to Binary'
  static/panes/compiler.js
Labels: ui

#3494 Add Kotlin 1.6.20
  etc/config/kotlin.amazon.properties
Labels: lang-kotlin

#3479 Add HDF5 and HighFive libraries to amazon config
  etc/config/c++.amazon.properties
Labels: lang-c++

#3493 Add go 1.18
  etc/config/go.amazon.properties
Labels: lang-go

#3504 updated OSACA version
  etc/config/analysis.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/clean.amazon.properties
  etc/config/cppx.amazon.properties
  etc/config/cppx_blue.amazon.properties
  etc/config/cppx_gold.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
  etc/config/haskell.amazon.properties
  etc/config/ispc.amazon.properties
  etc/config/llvm.amazon.properties
  etc/config/pascal.amazon.properties
  etc/config/rust.amazon.properties
  etc/config/swift.amazon.properties
  etc/config/zig.amazon.properties
Labels: lang-c++, lang-rust, lang-go, lang-d, lang-haskell, lang-ispc, lang-swift, lang-pascal, lang-c, lang-zig, lang-fortran, lang-clean, lang-cppx

#3506 Rust 1.60.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#3502 Add Crystal 1.4.0 and 1.3.2
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#3501 Fix for msvc library issue
  app.js
  lib/options-handler.js
  static/lib-utils.ts
  static/options.interfaces.ts
  static/panes/compiler.js
  static/panes/conformance-view.js
  static/panes/executor.js
Labels: ui

#3497 Tool input view ts conversion
  static/panes/tool-input-view.interfaces.ts
  static/panes/tool-input-view.js
  static/panes/tool-input-view.ts
Labels: ui

#3509 fix some typos
  docs/AboutLibraryPaths.md
  docs/AddingACompiler.md
  docs/internal/FrontendTesting.md
Labels: documentation

#3495 Output pane ts conversion
  static/panes/output.interfaces.ts
  static/panes/output.js
  static/panes/output.ts
  static/widgets/fontscale.ts
Labels: ui

#3513 Fixes bad usage of alert system entersomething
  static/widgets/pane-renaming.ts
Labels: ui, bugfix

#3516 Add Swift 5.6.
  etc/config/swift.amazon.properties
Labels: lang-swift

#3515 Catches the rison deserialization exception to allow page loads
  static/main.js
Labels: ui

#3510 Resolve @typescript-eslint/no-unnecessary-condition warnings for settings.ts
  static/settings.ts
Labels: ui

#3521 Add p1061
  etc/config/c++.amazon.properties
Labels: lang-c++

#3522 Fix ppc64 GCC 11.2 names for C and C++
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#3511 Resolve @typescript-eslint/no-unnecessary-condition for static/*.ts files
  static/alert.ts
  static/ansi-to-html.ts
  static/api/formatting.interfaces.ts
  static/codelens-handler.ts
  static/compiler-picker.ts
  static/formatter-registry.ts
  static/hub.ts
  static/lib-utils.ts
  static/line-colouring.ts
  static/multifile-service.ts
  static/sharing.ts
  static/themes.ts
Labels: ui

#3525 Resolve @typescript-eslint/no-unnecessary-condition for static/*.ts files
  static/formatter-registry.ts
  static/widgets/fontscale.ts
  static/widgets/history-widget.ts
  static/widgets/libs-widget.ts
  static/widgets/load-save.ts
  static/widgets/timing-info-widget.ts
Labels: ui

#3523 Use OpenJDK 18
  etc/config/java.amazon.properties
  etc/config/kotlin.amazon.properties
  etc/config/scala.amazon.properties
Labels: lang-java, lang-kotlin, lang-scala

#3524 Enable Prettier for TypeScript frontend
  .github/workflows/test-and-deploy.yml
  .prettierrc.yml
  package.json
  static/alert.interfaces.ts
  static/alert.ts
  static/analytics.ts
  static/ansi-to-html.ts
  static/codelens-handler.ts
  static/colour.ts
  static/compiler-picker.ts
  static/event-hub.ts
  static/formatter-registry.ts
  static/global.ts
  static/history.ts
  static/hub.ts
  static/lib-utils.ts
  static/line-colouring.ts
  static/local.ts
  static/monaco-config.ts
  static/motd.interfaces.ts
  static/motd.ts
  static/multifile-service.ts
  static/noscript.ts
  static/options.interfaces.ts
  static/settings.ts
  static/sharing.ts
  static/themes.ts
  static/url.ts
Labels: ui

#3531 Fontscale ctrl+click
  static/widgets/fontscale.ts
  views/font-size.pug
Labels: ui

#3533 Add Boost 1.79
  etc/config/c++.amazon.properties
Labels: lang-c++, new-libs

#3537 Added dark theme styling for modal close buttons
  static/themes/dark-theme.scss
Labels: ui

#3538 Add missing types in hub.ts
  static/hub.ts
Labels: ui

#3532 Joel Falcou Cinematic Universe Updates
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
Labels: lang-c++, lang-circle

#3542 Fix for lib-widget.ts
  static/options.interfaces.ts
  static/widgets/libs-widget.ts
Labels: ui

#3544 GCC 11.3
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
Labels: lang-c++, lang-go, lang-d, lang-c, lang-fortran, lang-ada

#3535 Resolve @typescript-eslint/no-unnecessary-condition warnings for static/panes/
  static/panes/ast-view.ts
  static/panes/gnatdebug-view.ts
  static/panes/gnatdebugtree-view.ts
  static/panes/ir-view.ts
  static/panes/opt-view.ts
  static/panes/pane.interfaces.ts
  static/panes/pane.ts
  static/panes/pp-view.ts
  static/panes/rusthir-view.ts
  static/panes/rustmacroexp-view.ts
  static/panes/rustmir-view.ts
  static/panes/tree.ts
Labels: ui

#3545 Map solidity EVM assembly to lines of code
  lib/compilers/solidity.js
Labels: enhancement, lang-solidity

#3547 Update Crystal 1.4.0 -> 1.4.1
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#3539 Also enable prettier for recursive directories in static
  package.json
  static/api/api.ts
  static/api/formatting.interfaces.ts
  static/modes/ada-mode.ts
  static/modes/asm-mode.ts
  static/modes/asm6502-mode.ts
  static/modes/asmruby-mode.ts
  static/modes/clean-mode.ts
  static/modes/cmake-mode.ts
  static/modes/cpp-for-opencl-mode.ts
  static/modes/cppcircle-mode.ts
  static/modes/cppp-mode.ts
  static/modes/cppx-gold-mode.ts
  static/modes/crystal-mode.ts
  static/modes/cuda-mode.ts
  static/modes/d-mode.ts
  static/modes/erlang-mode.ts
  static/modes/fortran-mode.ts
  static/modes/gccdump-rtl-gimple-mode.ts
  static/modes/haskell-mode.ts
  static/modes/llvm-ir-mode.ts
  static/modes/nc-mode.ts
  static/modes/nim-mode.ts
  static/modes/ocaml-mode.ts
  static/modes/openclc-mode.ts
  static/modes/ptx-mode.ts
  static/modes/zig-mode.ts
  static/panes/cfg-view.interfaces.ts
  static/panes/cfg-view.ts
  static/panes/flags-view.ts
  static/panes/gnatdebug-view.ts
  static/panes/gnatdebugtree-view.ts
  static/panes/ir-view.ts
  static/panes/opt-view.ts
  static/panes/output.ts
  static/panes/pane.ts
  static/panes/pp-view.ts
  static/panes/rusthir-view.ts
  static/panes/rustmacroexp-view.ts
  static/panes/rustmir-view.ts
  static/panes/tool-input-view.ts
  static/panes/tree.ts
  static/tests/frontend-testing.interfaces.ts
  static/tests/frontend-testing.ts
  static/tests/hello-world.ts
  static/widgets/fontscale.interfaces.ts
  static/widgets/history-widget.ts
  static/widgets/load-save.ts
  static/widgets/pane-renaming.ts
  static/widgets/timing-info-widget.ts
  static/widgets/toggles.ts
Labels: ui

#3540 Move static/modes/_all.js to TypeScript
  docs/AddingALanguage.md
  static/modes/_all.ts
  static/panes/compiler.js
  static/panes/diff.js
  static/panes/executor.js
  static/panes/gccdump-view.js
  static/panes/tool.js
Labels: ui, documentation

#3554 add descriptions for some buttons in the executor window
  views/templates.pug
Labels: ui

#3559 Unify comma configuration; and apply format to some files.
  .eslintrc.yml
  .idea/codeStyles/Project.xml
  app.js
  lib/base-compiler.js
  lib/buildenvsetup/ceconan.js
  lib/clientstate-normalizer.js
  lib/compiler-arguments.js
  lib/compiler-finder.js
  lib/compilers/ada.js
  lib/compilers/clean.js
  lib/compilers/dotnet.ts
  lib/compilers/erlang.js
  lib/compilers/nim.js
  lib/demangler/base.js
  lib/exec.js
  lib/handlers/api.js
  lib/handlers/assembly-documentation.ts
  lib/logger.js
  lib/tooling/clang-tidy-tool.js
  lib/tooling/pvs-studio-tool.js
  package.json
  test/demangler-tests.js
  test/exec-tests.js
  test/java-tests.js
  test/storage/storage-s3-tests.js
  test/tool-tests.js
Labels: lang-nim, lang-ada, lang-clean, lang-dotnet

#3561 Fix Solidity compilers and line numbers in versions 0.4.x - 0.8.x
  CONTRIBUTORS.md
  lib/compilers/solidity.js
Labels: lang-solidity

#3562 All semver comparisons now ensure it's safe to do so
  lib/compilers/dart.js
  lib/compilers/ldc.js
  lib/compilers/scala.js
  lib/compilers/solidity.js
  lib/compilers/zig.js
  lib/compilers/zigcc.js
  lib/compilers/zigcxx.js
  lib/options-handler.js
  lib/utils.ts
  test/options-handler.js
  test/utils-tests.js
Labels: lang-d, lang-zig, lang-scala, lang-dart, lang-solidity

#3573 Update typing in hub.ts
  static/hub.ts
Labels: ui

#3574 Import sentry correctly
  static/alert.ts
  static/event-hub.ts
  static/sharing.ts
Labels: ui

#3568 Handle astResults being strings
  static/panes/ast-view.ts
Labels: ui

#3576 Remove unecessary jquery imports in ts files
  static/alert.ts
  static/motd.ts
  static/noscript.ts
  static/panes/pp-view.ts
  static/panes/tree.ts
  static/sharing.ts
  static/widgets/fontscale.ts
Labels: ui

#3578 Fix jquery import regression in noscript.ts
  static/noscript.ts
Labels: ui

#3579 Fix noImplicitOverride errors
  static/panes/pane.ts
Labels: ui

#3581 Quickbench now supports https
  static/panes/editor.js
Labels: ui

#3570 Pre-compile typescript in releases
  .idea/misc.xml
  .idea/scopes/Client.xml
  app.js
  etc/scripts/build-dist.sh
  etc/scripts/util/changelog.py
  etc/scripts/util/politic.py
  gh-dist-files.txt
  lib/options-handler.js
  static/changelog.html
  static/generated/changelog.html
  static/generated/cookies.html
  static/generated/privacy.html
  static/main.js
  tsconfig.backend.json
  webpack.config.esm.js
Labels: ui

#3588 Manually reformat panes/compiler.js to help with #3585
  static/panes/compiler.js
Labels: ui

#3590 Add Benchmark 1.6.1
  etc/config/c++.amazon.properties
Labels: lang-c++, new-libs

#3591 Reverts the reversion of the "make" being more prod-like, and fixes it.
  Makefile
  app.js
  etc/scripts/build-dist.sh
  etc/scripts/util/changelog.py
  etc/scripts/util/politic.py
  package-lock.json
  package.json
  static/generated/changelog.html
  static/generated/cookies.html
  static/generated/privacy.html
  webpack.config.esm.js
Labels: ui

#3595 Improvements to policy handling
  app.js
  etc/scripts/parsed_pug_file.js
  lib/options-handler.js
  package-lock.json
  package.json
  static/generated/changelog.html
  static/generated/changelog.pug
  static/generated/cookies.html
  static/generated/cookies.pug
  static/generated/privacy.html
  static/generated/privacy.pug
  static/main.js
  webpack.config.esm.js
Labels: ui

#3577 Improve the TS implementation of the Tree pane
  static/.eslintrc.js
  static/hub.ts
  static/panes/tree.ts
Labels: ui

#3549 Improve the TS implementation of the cfg view
  static/panes/cfg-view.interfaces.ts
  static/panes/cfg-view.ts
  static/panes/pane.ts
Labels: ui

#3602 Fix wrong setting check for asm docs
  static/formatter-registry.ts
  static/panes/compiler.js
Labels: ui

#3598 handle vt100 reverse video escape code
  static/ansi-to-html.ts
  test/ansi-to-html-tests.js
Labels: ui

#3575 Convert gccdump-view to typescript
  static/panes/gccdump-view.interfaces.ts
  static/panes/gccdump-view.js
  static/panes/gccdump-view.ts
Labels: ui

#3582 Address some low-hanging fruits from webstorm code inspection
  static/compiler-picker.ts
  static/components.js
  static/explorer.scss
  static/formatter-registry.ts
  static/hub.ts
  static/lib-utils.ts
  static/modes/ada-mode.ts
  static/monaco-config.ts
  static/multifile-service.ts
  static/panes/ast-view.ts
  static/panes/editor.js
  static/panes/executor.js
  static/panes/ir-view.ts
  static/panes/opt-view.ts
  static/panes/pane.interfaces.ts
  static/panes/pane.ts
  static/panes/tool.js
  static/sharing.ts
  static/themes/dark-theme.scss
  static/themes/default-theme.scss
  static/utils.ts
  static/widgets/load-save.ts
  static/widgets/pane-renaming.ts
Labels: ui

#3611 fix linking to commits in the changelog
  static/generated/changelog.pug
Labels: ui
