Repository compiler-explorer/compiler-explorer, pull requests merged in 2022-11, with the labels that each got.

#4201 Add stdexec C++ library
  etc/config/c++.amazon.properties
Labels: lang-c++

#4211 Add SeqAn3 C++ library
  etc/config/c++.amazon.properties
Labels: lang-c++

#4203 Use more scss-isms in dark-theme
  .idea/codeStyles/Project.xml
  static/styles/themes/dark-theme.scss
Labels: ui

#4216 Update Crystal 1.6.0 -> 1.6.1
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#4224 Add Python 3.11 and make it the default
  etc/config/python.amazon.properties
Labels: lang-python

#4227 Allow line linkings to be highlighted forever
  static/panes/ast-view.ts
  static/panes/compiler.ts
  static/panes/device-view.ts
  static/panes/editor.ts
  static/panes/ir-view.ts
  static/settings.ts
  views/popups/settings.pug
Labels: ui

#4228 Fixes some issues with editor setting values
  static/panes/editor.ts
  views/index.pug
  views/popups/_all.pug
Labels: ui

#4231 Use mixins in settings to make it easier to maintain
  views/popups/settings.pug
Labels: ui

#4235 Rust 1.65.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#4196 Add config for Loongarch64
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-c++, lang-c, lang-fortran

#4240 Fix broken Rest UI button
  views/index.pug
Labels: ui

#4241 gpu properties files
  Makefile
  etc/config/assembly.gpu.properties
  etc/config/c++.gpu.properties
  etc/config/c.gpu.properties
  etc/config/carbon.gpu.properties
  etc/config/circle.gpu.properties
  etc/config/compiler-explorer.gpu.properties
  etc/config/cpp2_cppfront.gpu.properties
  etc/config/cpp_for_opencl.gpu.properties
  etc/config/cuda.gpu.properties
  etc/config/hlsl.gpu.properties
  etc/config/hook.gpu.properties
  etc/config/llvm.gpu.properties
  etc/config/ocaml.gpu.properties
  etc/config/openclc.gpu.properties
  etc/config/python.gpu.properties
Labels: lang-c++, lang-c, lang-cuda, lang-ocaml, lang-python, lang-asm, lang-circle, lang-c++-opencl, lang-opencl-c, lang-llvm, lang-hlsl, lang-hook

#4243 Add `Hide metadata` option to LLVM pipeline
  lib/parsers/llvm-pass-dump-parser.ts
  static/panes/llvm-opt-pipeline.ts
  test/llvm-pass-dump-parser-tests.js
  types/compilation/llvm-opt-pipeline-output.interfaces.ts
  views/templates/panes/llvm-opt-pipeline.pug
Labels: ui

#4234 Save state on blur
  static/sharing.ts
Labels: ui

#4237 Add language tooltips
  lib/languages.ts
  static/panes/compiler.ts
  static/panes/editor.interfaces.ts
  static/panes/editor.ts
  types/languages.interfaces.ts
  views/templates/panes/codeEditor.pug
Labels: ui

#4248 Fix errorResponse return value
  static/panes/compiler.ts
  static/panes/executor.js
  static/panes/output.ts
  types/compilation/compilation.interfaces.ts
Labels: ui

#4250 Add c6x config
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#4267 Hide gcc static analysis compiler
  etc/config/c.amazon.properties
Labels: lang-c

#4272 Fix popular arguments iteration in UI
  static/panes/compiler.ts
Labels: ui

#4268 Add fmt 9.0.0 & 9.1.0
  etc/config/c++.amazon.properties
Labels: lang-c++

#4262 Use gcc trunk for clang-tidy
  etc/config/c++.amazon.properties
Labels: lang-c++

#4263 Hide scroll to source context menu if line has no source
  static/panes/compiler.ts
Labels: ui

#4282 Fix ppc64le gcc names
  etc/config/c++.amazon.properties
Labels: lang-c++

#4279 Add config for sparc, sparc64 and sparc-leon
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
Labels: lang-c++, lang-go, lang-c, lang-fortran, lang-ada

#4247 File drop support
  static/multifile-service.ts
  static/panes/editor.ts
  static/panes/tree.ts
  static/styles/explorer.scss
  views/templates/panes/tree.pug
Labels: ui

#4246 reset file input after loading
  static/panes/tree.ts
Labels: ui

#4284 Added llvm opt pipeline timing info
  lib/base-compiler.ts
  static/widgets/timing-info-widget.ts
  types/compilation/compilation.interfaces.ts
  types/compilation/llvm-opt-pipeline-output.interfaces.ts
  types/execution/execution.interfaces.ts
Labels: ui

#4274 Sponsorship changes
  etc/config/sponsors.yaml
  lib/sponsors.interfaces.ts
  lib/sponsors.ts
  static/main.js
  test/sponsors-test.js
  views/bits/icons.pug
  views/bits/sponsors-content.pug
  views/bits/sponsors.pug
  views/sponsor-icons.pug
Labels: ui

#4289 Fix execution for interpreted languages
  etc/config/python.defaults.properties
  lib/base-compiler.ts
Labels: lang-python

#4281 Add new version of Kalray' KVX compiler
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#4291 Add llvm-mos trunk.
  etc/config/c.amazon.properties
Labels: lang-c

#4292 Add C++ configuration of llvm-mos trunk.
  etc/config/c++.amazon.properties
Labels: lang-c++

#4217 Update feature set for "all architectural features" armv8-a clang
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/cpp_for_opencl.amazon.properties
  etc/config/openclc.amazon.properties
Labels: lang-c++, lang-c, lang-c++-opencl, lang-opencl-c

#4298 Fix4293
  lib/base-compiler.ts
  lib/compilers/dosbox-compiler.ts
  lib/compilers/pascal-win.js
  lib/compilers/pascal.js
Labels: lang-pascal

#4294 Add NVHPC SDK 22.11
  etc/config/c++.amazon.properties
Labels: lang-c++

#4215 Add ROCm 5.3.2
  etc/config/c++.amazon.properties
  etc/config/cuda.amazon.properties
Labels: lang-c++, lang-cuda

#4303 Update Crystal 1.6.1 -> 1.6.2
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#4305 Add licenses to lots of compilers
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/cuda.amazon.properties
  etc/config/haskell.amazon.properties
  etc/config/jakt.amazon.properties
  etc/config/java.amazon.properties
  etc/config/kotlin.amazon.properties
  etc/config/llvm.amazon.properties
  etc/config/mlir.amazon.properties
  etc/config/nim.amazon.properties
  etc/config/ocaml.amazon.properties
  etc/config/pascal.amazon.properties
  etc/config/pony.amazon.properties
  etc/config/python.amazon.properties
  etc/config/rust.amazon.properties
  etc/config/scala.amazon.properties
  etc/config/zig.amazon.properties
  static/panes/compiler.ts
Labels: lang-c++, lang-rust, ui, lang-haskell, lang-pascal, lang-c, lang-cuda, lang-zig, lang-java, lang-ocaml, lang-python, lang-nim, lang-ada, lang-kotlin, lang-scala, lang-llvm, lang-mlir, lang-pony, lang-jakt

#4299 separate llvmmos targets and nes emu
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  lib/base-compiler.ts
  lib/compilers/_all.js
  lib/compilers/llvm-mos.ts
Labels: lang-c++, lang-c

#4304 Fixes nvc++ compilers missing groupName/baseName
  etc/config/c++.amazon.properties
Labels: lang-c++

#4310 Fix llvm-mos clang config file usage.
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#4301 Fix #4300 - take css classes outside .opt-decoration in dark theme
  static/styles/themes/dark-theme.scss
  static/styles/themes/default-theme.scss
Labels: ui

#4314 Move the nvcc and nvcrt compilations to the "gpu" environment
  etc/config/cuda.amazon.properties
  etc/config/cuda.gpu.properties
Labels: lang-cuda

#4326 Move nvc++ to gpu instance
  etc/config/c++.amazon.properties
  etc/config/c++.gpu.properties
  etc/config/compiler-explorer.gpu.properties
Labels: lang-c++

#4335 xsimd: Add a selection of 8.x and latest 9.x versions
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
Labels: lang-c++, lang-circle

#4307 Fetch settings in initializeGlobalDependent
  static/panes/compiler.ts
  static/panes/diff.ts
  static/panes/editor.ts
  static/panes/pane.ts
  static/panes/tool-input-view.ts
Labels: ui

#4337 Update dotnet script
  etc/config/csharp.amazon.properties
  etc/config/csharp.defaults.properties
  etc/config/fsharp.amazon.properties
  etc/config/fsharp.defaults.properties
  etc/config/vb.amazon.properties
  etc/config/vb.defaults.properties
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#4342 Fix crossgen2 arguments
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#4344 Fix F# build failure
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#4347 Fixes for .NET 7
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#4351 Support trunk and execution for .NET
  etc/config/csharp.amazon.properties
  etc/config/csharp.defaults.properties
  etc/config/fsharp.amazon.properties
  etc/config/fsharp.defaults.properties
  etc/config/vb.amazon.properties
  etc/config/vb.defaults.properties
  examples/csharp/default.cs
  examples/fsharp/default.fs
  examples/vb/default.vb
  lib/base-compiler.ts
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#4352 Support backticks in labels
  static/modes/asm-mode.ts
Labels: ui, lang-asm

#4346 refactor: renames the CompilerFilters type
  lib/base-compiler.ts
  lib/compilers/assembly.ts
  lib/compilers/cc65.ts
  lib/compilers/circt.ts
  lib/compilers/cppfront.ts
  lib/compilers/dotnet.ts
  lib/compilers/erlang.ts
  lib/compilers/hlsl.ts
  lib/compilers/hook.ts
  lib/compilers/jakt.ts
  lib/compilers/llvm-mos.ts
  lib/compilers/mlir.ts
  lib/compilers/nvcc.js
  lib/compilers/pony.ts
  lib/compilers/racket.ts
  lib/compilers/rga.ts
  lib/compilers/rust.ts
  lib/compilers/toit.ts
  lib/compilers/z88dk.ts
  lib/compilers/zig.ts
  lib/compilers/zigcc.ts
  lib/compilers/zigcxx.ts
  lib/external-parsers/base.ts
  lib/external-parsers/external-parser.interface.ts
  lib/parsers/asm-parser-cc65.ts
  lib/parsers/asm-parser-cpp.ts
  lib/parsers/asm-parser.interfaces.ts
  lib/parsers/asm-parser.ts
  lib/parsers/llvm-pass-dump-parser.ts
  static/components.interfaces.ts
  static/components.ts
  static/event-map.ts
  static/panes/compiler.ts
  static/panes/gccdump-view.ts
  types/features/filters.interfaces.ts
Labels: ui, lang-cuda, lang-dotnet, lang-mlir, lang-toit, lang-pony, lang-jakt, lang-circt, lang-racket, lang-hook

#4358 Add Zig 0.10.0
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/zig.amazon.properties
Labels: lang-c++, lang-c, lang-zig

#4354 dynamically set targetFramework
  etc/config/csharp.amazon.properties
  etc/config/csharp.defaults.properties
  etc/config/fsharp.amazon.properties
  etc/config/fsharp.defaults.properties
  etc/config/vb.amazon.properties
  etc/config/vb.defaults.properties
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#4353 .net - compileToBinary fix
  etc/nsjail/execute.cfg
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#4053 Update rust.defaults.properties
  etc/config/rust.defaults.properties
Labels: lang-rust

#4364 Add Multi library to Circle compiler
  etc/config/circle.amazon.properties
Labels: lang-circle

#4367 Add Multi library to CUDA compiler
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#4366 Make Alert and Compiler-Picker widgets
  static/formatter-registry.ts
  static/main.js
  static/panes/compiler.ts
  static/panes/conformance-view.ts
  static/panes/editor.ts
  static/panes/executor.js
  static/panes/tree.ts
  static/widgets/alert.interfaces.ts
  static/widgets/alert.ts
  static/widgets/compiler-picker.ts
  static/widgets/load-save.ts
  static/widgets/pane-renaming.ts
Labels: ui

#4370 Add clang-14 and clang-15 to OpenCL
  etc/config/cpp_for_opencl.amazon.properties
  etc/config/openclc.amazon.properties
Labels: lang-c++-opencl, lang-opencl-c

#4369 fix: Gcc dump types
  static/components.interfaces.ts
  static/components.ts
  static/event-map.ts
  static/panes/compiler.ts
  static/panes/gccdump-view.interfaces.ts
  static/panes/gccdump-view.ts
Labels: ui
