Repository compiler-explorer/compiler-explorer, pull requests merged in 2022-07, with the labels that each got.

#3826 Add a way to trigger model markers on a range instead of a single token.
  static/panes/editor.js
  types/resultline/resultline.interfaces.ts
Labels: ui

#3837 Add dark theme styling for webkit scrollbars
  static/themes/dark-theme.scss
Labels: ui

#3828 Make it possible to display a URL in marker tooltips.
  static/panes/editor.js
  types/resultline/resultline.interfaces.ts
Labels: ui

#3829 Make URLs clickable in tools outputs.
  static/panes/tool.js
Labels: ui

#3831 Implement copy compiler button in conformance view
  static/panes/conformance-view.js
  views/templates.pug
Labels: ui

#3844 Drop StandardOutput=syslog from systemd docs
  docs/SystemdSocketActivation.md
Labels: documentation

#3846 Make line highlight more visible in dark mode.
  static/themes/dark-theme.scss
Labels: ui

#3848 Add Crystal 1.5.0
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#3845 Add the jakt programming language
  .github/labeler.yml
  etc/config/jakt.amazon.properties
  etc/config/jakt.defaults.properties
  examples/jakt/default.jakt
  lib/compilers/_all.js
  lib/compilers/jakt.ts
  lib/languages.ts
  static/modes/_all.ts
  static/modes/jakt-mode.ts
  types/languages.interfaces.ts
Labels: ui

#3842 Updates some Pug files
  views/_layout.pug
  views/index.pug
  views/popups.pug
  views/popups/alert.pug
  views/popups/enter-something.pug
  views/popups/history.pug
  views/popups/jsbeebemu.pug
  views/popups/library-selection.pug
  views/popups/load-save.pug
  views/popups/notifications.pug
  views/popups/popups.pug
  views/popups/renamepanemodal.pug
  views/popups/settings.pug
  views/popups/sharelinkdialog.pug
  views/popups/simplecook.pug
  views/popups/site-template-loader.pug
  views/popups/timing.pug
  views/popups/yes-no.pug
  views/templates.pug
  views/templates/panes/cfg.pug
  views/templates/panes/codeEditor.pug
  views/templates/panes/compiler-output.pug
  views/templates/panes/compiler.pug
  views/templates/panes/conformance.pug
  views/templates/panes/device.pug
  views/templates/panes/diff.pug
  views/templates/panes/executor.pug
  views/templates/panes/gccdump.pug
  views/templates/panes/llvm-opt-pipeline.pug
  views/templates/panes/pp.pug
  views/templates/panes/tool-output.pug
  views/templates/panes/tree.pug
  views/templates/templates.pug
  views/templates/widgets/compiler-selector.pug
  views/templates/widgets/lib-favorite-tpl.pug
  views/templates/widgets/lib-search-result-tpl.pug
  views/templates/widgets/lib-selected-tpl.pug
  views/templates/widgets/libs-dropdown.pug
  views/templates/widgets/libs-entry.pug
  views/templates/widgets/share-item.pug
  views/templates/widgets/tree-editor-tpl.pug
Labels: ui

#3855 Pony Lang Config
  CONTRIBUTORS.md
  etc/config/pony.amazon.properties
  etc/config/pony.defaults.properties
  examples/pony/default.pony
  lib/base-compiler.ts
  lib/compilers/_all.js
  lib/compilers/pony.ts
  lib/languages.ts
  test/check-img.js
  types/languages.interfaces.ts
  views/resources/logos/pony.svg
Labels: ui

#3860 Allow more ast lines while trying to keep out non-user-source
  lib/llvm-ast.js
  test/ast/bug-3849a.ast
  test/ast/bug-3849a.cpp
  test/ast/bug-3849b.ast
  test/ast/bug-3849b.cpp
  test/llvm-ast-parser-tests.js
Labels: lang-llvm

#3881 Skip full version button in info pane if not needed
  static/panes/compiler.js
Labels: ui

#3877 Add overwrite option to load-save localstorage
  static/widgets/load-save.ts
  views/popups/load-save.pug
Labels: ui

#3862 Adds way to disable executor recompilation on parameter change
  static/panes/executor.js
  static/settings.ts
  views/popups/settings.pug
  views/templates/panes/executor.pug
Labels: ui

#3885 Add support for Carbon
  etc/config/carbon.amazon.properties
  etc/config/carbon.defaults.properties
  examples/carbon/default.carbon
  lib/compilers/_all.js
  lib/compilers/carbon.js
  lib/languages.ts
  static/modes/_all.ts
  static/modes/carbon-mode.ts
  types/languages.interfaces.ts
  views/resources/logos/carbon.svg
Labels: ui

#3888 Fix gccdump
  static/panes/gccdump-view.ts
Labels: ui

#3854 Add a concept of flow on ResultLines.
  static/event-map.ts
  static/panes/editor.js
  static/panes/tool.js
  static/themes/dark-theme.scss
  static/themes/default-theme.scss
  static/widgets/load-save.ts
  types/resultline/resultline.interfaces.ts
Labels: ui

#3838 Enable LLVM optimisation pipeline viewer for LDC + ASan symbolizer
  lib/compilers/ldc.js
Labels: lang-d

#3891 Ldcsymbolizer
  etc/config/d.amazon.properties
  lib/compilers/ldc.js
Labels: lang-d

#3897 fix for pre v11 nvcc
  lib/compilers/nvcc.js
Labels: lang-cuda

#3904 Add remaining keywords to Carbon
  static/modes/carbon-mode.ts
Labels: ui

#3906 Add GCC 10.4.0 native (x86_64)
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-c++, lang-c, lang-fortran, lang-ada

#3908 Temporary fix for #3856
  lib/llvm-opt-transformer.ts
Labels: lang-llvm

#3907 Give LDC its own LDCParser for cmdline options.
  lib/compilers/argument-parsers.js
  lib/compilers/ldc.js
Labels: lang-d

#3894 Allow having an icon for the tools.
  lib/options-handler.js
  static/panes/compiler.js
  test/options-handler.js
Labels: ui

#3913 Clear editor decorations on lang change
  static/panes/editor.js
Labels: ui

#3905 Add clang "resugar" experimental variant (#3903)
  etc/config/c++.amazon.properties
Labels: lang-c++

#3895 Introduce quick-fixes.
  static/panes/editor.js
  static/quick-fixes-handler.ts
  types/resultline/resultline.interfaces.ts
Labels: ui

#3914 Small addition to #3908: Exclude bogus DebugLoc from opt remarks
  lib/llvm-opt-transformer.ts
Labels: lang-llvm

#3918 Fix `[object Object]` opt remarks display
  lib/llvm-opt-transformer.ts
Labels: lang-llvm

#3893 Add possibility for tools to generate an artifact
  static/panes/tool.js
  types/compilation/compilation.interfaces.ts
  views/templates/panes/tool-output.pug
Labels: ui

#3923 Fix variable name error.
  static/panes/tool.js
Labels: ui

#3917 Add basic CIRCT compiler support.
  .github/labeler.yml
  CONTRIBUTORS.md
  etc/config/circt.amazon.properties
  etc/config/circt.defaults.properties
  examples/circt/default.mlir
  lib/compilers/_all.js
  lib/compilers/circt.ts
  lib/languages.ts
  types/languages.interfaces.ts
  views/resources/logos/circt.svg
Labels: ui

#3901 more explicit that path-browserify should be used
  package-lock.json
  package.json
  static/multifile-service.ts
Labels: ui

#3916 Adds date filtering for ads
  .idea/compiler-explorer.iml
  cypress/integration/frontend-testing.js
  static/motd.interfaces.ts
  static/motd.ts
  static/tests/_all.js
  static/tests/motd.ts
  views/_layout.pug
Labels: ui

#3930 fix: use interfaces in pane.ts and related files
  static/panes/pane.interfaces.ts
  static/panes/pane.ts
Labels: ui
