Repository compiler-explorer/compiler-explorer, pull requests merged in 2022-05, with the labels that each got.

#3614 Automatically detect Java entry points
  lib/compilers/java.js
Labels: lang-java

#3618 Fix resize bug
  static/panes/compiler.js
  static/panes/executor.js
  static/panes/pane.ts
Labels: ui

#3608 Make Ctrl-A in output pane only select its contents
  static/explorer.scss
  static/panes/cfg-view.ts
  static/panes/output.ts
  views/templates.pug
Labels: ui

#3623 Add ISPC v1.18.0
  etc/config/ispc.amazon.properties
Labels: lang-ispc

#3631 Get GA script back to Google's default
  static/analytics.ts
Labels: ui

#3635 Documentation fixlet
  docs/README.md
Labels: documentation

#3630 Add GCC 12.1.0
  etc/config/ada.amazon.properties
  etc/config/assembly.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
Labels: lang-c++, lang-go, lang-d, lang-c, lang-fortran, lang-ada, lang-asm

#3621 Fix #3592
  static/panes/editor.js
Labels: ui

#3638 Fix for #3637
  lib/compilers/java.js
Labels: lang-java

#3644 Fix policy links
  etc/scripts/parsed_pug_file.js
  static/generated/cookies.pug
  static/generated/privacy.pug
Labels: ui

#3619 Renable license checks
  .eslint-license-header.yml
  lib/base-compiler.d.ts
  lib/compilers/clean.js
  lib/compilers/typescript.js
  lib/metrics-server.ts
  static/.eslintrc.js
  static/tests/_all.js
  static/tests/frontend-testing.interfaces.ts
  static/tests/frontend-testing.ts
  static/tests/hello-world.ts
  test/pp-output-cases/filter-tests.js
  test/unfurl-tests.js
  types/languages.interfaces.ts
Labels: ui, waiting, lang-clean, lang-typescript

#3647 Make tabbed panes active when reveals are sent
  static/panes/compiler.js
  static/panes/editor.js
Labels: ui

#3298 Add icons to languages in dropdown
  lib/languages.js
  static/main.js
  static/panes/editor.js
  views/resources/logos/ada-dark.svg
  views/resources/logos/ada.svg
  views/resources/logos/analysis.png
  views/resources/logos/assembly.png
  views/resources/logos/c++.svg
  views/resources/logos/c.svg
  views/resources/logos/clean.svg
  views/resources/logos/cmake.svg
  views/resources/logos/crystal-dark.svg
  views/resources/logos/crystal.svg
  views/resources/logos/cuda-dark.svg
  views/resources/logos/cuda.svg
  views/resources/logos/d.svg
  views/resources/logos/dart.svg
  views/resources/logos/erlang.svg
  views/resources/logos/fortran.svg
  views/resources/logos/go.svg
  views/resources/logos/haskell.png
  views/resources/logos/ispc.png
  views/resources/logos/java.svg
  views/resources/logos/kotlin.png
  views/resources/logos/llvm.png
  views/resources/logos/nim.svg
  views/resources/logos/ocaml.svg
  views/resources/logos/opencl-dark.svg
  views/resources/logos/opencl.svg
  views/resources/logos/pascal-dark.svg
  views/resources/logos/pascal.svg
  views/resources/logos/python.svg
  views/resources/logos/ruby.svg
  views/resources/logos/rust-dark.svg
  views/resources/logos/rust.svg
  views/resources/logos/scala.png
  views/resources/logos/swift.svg
  views/resources/logos/zig.svg
Labels: enhancement, ui

#3627 Dosbox + Turbo C 2.01 support
  docs/TurboC.md
  docs/turboc.properties
  lib/base-compiler.d.ts
  lib/compilers/_all.js
  lib/compilers/argument-parsers.js
  lib/compilers/dosbox-compiler.ts
  lib/compilers/dotnet.ts
  lib/compilers/turboc.ts
  lib/parsers/asm-parser-turboc.js
Labels: documentation, lang-c

#3656 Take two of policy stuff
  etc/scripts/parsed_pug_file.js
  static/generated/cookies.pug
  static/generated/privacy.pug
Labels: ui

#3657 Fix analytics.ts
  static/analytics.ts
Labels: ui

#3658 Add widberg compiler
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#3278 Minimal version of externalparser asm-parser
  app.js
  etc/config/c++.amazon.properties
  lib/base-compiler.js
  lib/compiler-finder.js
  lib/external-parsers/_all.ts
  lib/external-parsers/base.ts
  lib/external-parsers/ce-asm-parser.ts
  lib/external-parsers/external-parser.interface.ts
  lib/external-parsers/index.ts
  lib/utils.ts
  types/asmresult/asmresult.interfaces.ts
  types/execution/execution.interfaces.ts
  types/features/filters.interfaces.ts
  types/resultline/resultline.interfaces.ts
Labels: lang-c++

#3662 Reset stream styles between outputs
  static/ansi-to-html.ts
  static/panes/executor.js
  static/panes/output.ts
  static/panes/tool.js
  test/ansi-to-html-tests.js
Labels: ui

#3667 Have a way to disable asm docs if needed
  lib/compiler-finder.js
  static/panes/compiler.js
Labels: ui

#3665 Change Xtensa ISA to "xtensa"
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#3660 Clear linked line in the editor on mouse move
  static/panes/editor.js
Labels: ui

#3664 Support 24-bit rgb ansi sequences
  static/ansi-to-html.ts
  test/ansi-to-html-tests.js
Labels: ui

#3666 Respect the default language setting when doing code and ui reset
  static/main.js
Labels: ui

#3646 Remove unused prettier format script
  .github/workflows/test-and-deploy.yml
  .github/workflows/test-win.yml
  CONTRIBUTING.md
  Makefile
  package.json
Labels: documentation

#3668 Add toml11 library
  etc/config/c++.amazon.properties
Labels: lang-c++, new-libs

#3670 Jr/editor font size setting
  static/colour.ts
  static/main.js
  static/panes/compiler.js
  static/panes/editor.js
  static/panes/ir-view.ts
  static/panes/pane.ts
  static/settings.ts
  static/themes.ts
  static/widgets/fontscale.ts
  views/index.pug
  views/popups.pug
Labels: ui

#3677 Add new versions of GCC for rv32 and rv64
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#3687 Improve highlighting in ptx-mode
  static/modes/ptx-mode.ts
Labels: ui

#3689 Rust 1.61.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#3696 Removed sentry log
  static/alert.ts
Labels: ui

#3676 Convert diff view to ts
  static/components.js
  static/hub.ts
  static/panes/diff.interfaces.ts
  static/panes/diff.js
  static/panes/diff.ts
  types/compilation/compilation.interfaces.ts
Labels: ui

#3690 Add 2 more versions of GCC for rv32 and rv64
  etc/config/c++.amazon.properties
Labels: lang-c++

#3697 Highlight linked code (decoration) in red
  static/explorer.scss
Labels: ui

#3700 Fix GCC riscv32 path
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#3679 Beeb
  etc/config/assembly.amazon.properties
  lib/compilers/beebasm.ts
  lib/languages.js
  lib/parsers/asm-parser-beebasm.js
  static/.eslint-ce-static.yml
  static/alert.interfaces.ts
  static/alert.ts
  static/panes/compiler.js
  views/popups.pug
Labels: ui, lang-asm

#3712 Ada: Fix inputFileName at incorrect loc for binary and execution
  etc/config/ada.amazon.properties
  etc/config/ada.defaults.properties
  lib/compilers/ada.js
Labels: lang-ada

#3702 Add 3 new versions of GCC for ARM GNU Toolchain
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#3706 Add LDC 1.28.1 and 1.29.0, make 1.29.0 the new default
  etc/config/d.amazon.properties
Labels: lang-d

#3710 Add Dart 2.17.1
  etc/config/dart.amazon.properties
Labels: lang-dart

#3716 Ada: fix compile to binary/execute within jail
  lib/compilers/ada.js
Labels: lang-ada

#3711 urls werent being expanded in tree/ide mode
  static/panes/compiler.js
  static/panes/executor.js
Labels: ui

#3673 First try at fixing flang
  .github/labeler.yml
  etc/config/fortran.amazon.properties
  lib/base-compiler.d.ts
  lib/compilers/_all.js
  lib/compilers/flang.ts
Labels: lang-fortran

#3718 Base-compiler to typescript
  lib/base-compiler.d.ts
  lib/base-compiler.ts
  lib/buildenvsetup/ceconan.js
  lib/compilers/beebasm.ts
  lib/compilers/dotnet.ts
  lib/llvm-opt-transformer.ts
  lib/parsers/asm-parser-dotnet.ts
  lib/parsers/asm-parser.interfaces.ts
  static/panes/diff.ts
  types/asmresult/asmresult.interfaces.ts
  types/compilation/compilation.interfaces.ts
  types/libraries/libraries.interfaces.ts
Labels: ui, lang-dotnet

#3686 Define the list of available eventHub events
  static/event-hub.ts
  static/event-map.ts
  static/panes/ast-view.ts
  static/panes/compiler.js
  static/panes/diff.ts
  static/panes/flags-view.ts
  static/panes/gccdump-view.interfaces.ts
  static/panes/gccdump-view.ts
  static/panes/ir-view.ts
  static/panes/pane.ts
  static/panes/pp-view.interfaces.ts
  static/panes/tool-input-view.ts
  static/panes/tree.ts
  types/features/filters.interfaces.ts
  views/options-filters.pug
  views/options-output.pug
Labels: ui

#3727 Quick change to an aria-labelledby
  views/index.pug
Labels: ui

#3732 Add GCC 9.5 for native C/C++/D/Go and Ada
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/d.amazon.properties
  etc/config/go.amazon.properties
Labels: lang-c++, lang-go, lang-d, lang-c, lang-ada

#3728 Add new C and C++ ARMs cc @TamarChristinaArm
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#3724 Add libassert
  etc/config/c++.amazon.properties
Labels: lang-c++
