Repository compiler-explorer/compiler-explorer, pull requests merged in 2022-01, with the labels that each got.

#3238 Fix parsing assembler from binary whent templates are used
  lib/asm-parser.js
Labels: bugfix

#3254 Add Crystal 1.3.1
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#3255 Install Rust 1.58.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#3261 Fix broken link to Monaco editor languages
  docs/AddingALanguage.md
Labels: documentation

#3268 Fix changelog not showing
  static/main.js
Labels: ui

#3237 Group together all the clang trunks
  etc/config/c++.amazon.properties
Labels: lang-c++

#3280 Improve numeric tool tip to display character value
  static/panes/compiler.js
Labels: ui

#3284 * Adds Zig 0.9.0
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/zig.amazon.properties
Labels: new-compilers, lang-c++, lang-c, lang-zig

#3286 Add ISPC 1.17.0
  etc/config/ispc.amazon.properties
Labels: lang-ispc

#3285 Add 2 MIPS GCC based toolchains
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#3219 MRISC32 GCC should have instruction set "mrisc32"
  etc/config/c.amazon.properties
Labels: lang-c

#3242 Add warning for -flto flag
  static/panes/compiler.js
Labels: ui

#3283 Some more Ctrl-S behaviours
  static/explorer.scss
  static/panes/editor.js
  static/settings.interfaces.ts
  static/settings.js
  views/popups.pug
  views/templates.pug
Labels: enhancement, ui

#3252 Add comments for GNAT handling of command line options and enable strings
  etc/config/ada.amazon.properties
  etc/config/ada.defaults.properties
  lib/compilers/ada.js
Labels: lang-ada

#3296 ✨ Dang compiler addition!
  etc/config/c++.amazon.properties
Labels: lang-c++

#3293 Add ldpaths for Clang 13 libc++
  etc/config/c++.amazon.properties
Labels: lang-c++

#3297 Move static/settings.js to TypeScript
  static/api/formatting.interfaces.ts
  static/colour.ts
  static/formatter-registry.ts
  static/main.js
  static/monaco-config.ts
  static/options.interfaces.ts
  static/panes/compiler.js
  static/panes/editor.js
  static/panes/executor.js
  static/panes/flags-view.js
  static/panes/pane.ts
  static/panes/tool-input-view.js
  static/panes/tree.ts
  static/settings.interfaces.ts
  static/settings.js
  static/settings.ts
  static/timing-info-widget.js
  views/popups.pug
Labels: enhancement, ui

#3301 ✨ Add clang_dang as a C compiler!
  etc/config/c.amazon.properties
Labels: lang-c

#3168 Add support for C#, F# and Visual Basic
  .github/labeler.yml
  CONTRIBUTORS.md
  etc/config/csharp.defaults.properties
  etc/config/fsharp.defaults.properties
  etc/config/vb.defaults.properties
  examples/csharp/default.cs
  examples/fsharp/default.fs
  examples/vb/default.vb
  lib/compilers/_all.js
  lib/compilers/dotnet.js
  lib/languages.js
  webpack.config.esm.js
Labels: new-language

#3290 add jsoncpp 1.9.5
  CONTRIBUTORS.md
  etc/config/c++.amazon.properties
Labels: lang-c++

#3291 Add hosseinmoein/DataFrame
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
Labels: lang-c++, lang-circle

#3294 Add GNAT cross compiler from Alire project
  etc/config/ada.amazon.properties
  lib/compiler-finder.js
  lib/compilers/ada.js
Labels: lang-ada

#3302 Add setting for automatically formatting on compilation
  static/panes/editor.js
  static/settings.ts
  views/popups.pug
Labels: ui

#3300 Reimplement more options for Ctrl-S
  static/explorer.scss
  static/panes/editor.js
  static/settings.ts
  views/popups.pug
  views/templates.pug
Labels: ui
