Repository compiler-explorer/compiler-explorer, pull requests merged in 2023-01, with the labels that each got.

#4526 display crossgen2 version in asm output
  etc/config/csharp.defaults.properties
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#4514 Jakt: Ensure cxx-compiler-path matches the compiler that compiled jakt
  etc/config/jakt.amazon.properties
Labels: lang-jakt

#4531 Show error when not loading a zip through the IDE - Project - load from file
  static/panes/tree.ts
Labels: ui

#4549 Revert "Tsify rison.js (#4510)"
  lib/common-utils.ts
  static/rison.js
  static/rison.ts
  static/url.ts
Labels: ui

#4536 Add v8 of strong_type C++ lib
  etc/config/c++.amazon.properties
Labels: lang-c++

#4548 Add Kotlin 1.8.0
  etc/config/kotlin.amazon.properties
Labels: lang-kotlin

#4542 fix: use Kalray's ACB 4.11.1
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#4552 add Hook's icon and update lexicon
  lib/languages.ts
  static/modes/hook-mode.ts
  views/resources/logos/hook.png
Labels: ui, lang-hook

#4543 Add few clang compiler alias for BPF target
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#4556 bpf: use gcc for linking BPF binaries
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#4557 bpf: disable binary support for Clang
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#4569 Add Crystal 1.7.0
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#4568 Add FRC 2023 Compilers
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#4577 rename: compile to binary -> link to binary
  views/options-output.pug
Labels: ui

#4567 Move emulation related fields to artifact system
  lib/base-compiler.ts
  lib/compilers/beebasm.ts
  lib/compilers/cc65.ts
  lib/compilers/llvm-mos.ts
  lib/compilers/z88dk.ts
  static/panes/compiler.ts
  types/compilation/compilation.interfaces.ts
  types/tool.interfaces.ts
Labels: ui

#4581 fix: pahole wrongly refuses to do anything
  lib/tooling/pahole-tool.js
Labels: bug

#4580 Add Line Mapping Support to Hook
  lib/compilers/hook.ts
  test/compilers/hook-tests.js
  views/resources/logos/hook.png
Labels: ui, lang-hook

#4592 Use double quotes for embed iframes
  static/sharing.ts
Labels: ui

#4520 Tsify main
  lib/common-utils.ts
  lib/compilers/hook.ts
  lib/options-handler.ts
  package-lock.json
  package.json
  static/analytics.ts
  static/components.interfaces.ts
  static/global.ts
  static/hub.ts
  static/local.ts
  static/main.ts
  static/options.interfaces.ts
  static/panes/editor.ts
  static/settings.ts
  static/themes.ts
  types/languages.interfaces.ts
  webpack.config.esm.js
Labels: ui, lang-hook

#4591 Revert "Revert "Tsify rison.js (#4510)" (#4549)"
  static/rison.js
  static/rison.ts
  static/url.ts
Labels: ui

#4594 Rison error handling
  static/main.ts
Labels: ui

#4596 Quick fixes for bugs noticed while testing
  static/panes/cfg-view.ts
  static/settings.ts
  static/widgets/site-templates-widget.ts
Labels: ui

#4595 Add Julia
  .github/labeler.yml
  etc/config/julia.amazon.properties
  etc/config/julia.defaults.properties
  etc/scripts/julia_wrapper.jl
  examples/julia/default.jl
  lib/compilers/_all.js
  lib/compilers/julia.ts
  lib/languages.ts
  types/languages.interfaces.ts
  views/resources/logos/julia.svg
  webpack.config.esm.js
Labels: ui

#4598 Add dev favicon
  app.js
  static/favicon.ico
  static/favicons/favicon-beta.ico
  static/favicons/favicon-dev.ico
  static/favicons/favicon-staging.ico
  static/favicons/favicon-suspend.ico
  static/favicons/favicon.ico
  webpack.config.esm.js
Labels: ui

#4610 Improve graph layout core hack now that types have been fixed upstream
  package-lock.json
  package.json
  static/graph-layout-core.ts
Labels: ui

#4612 Fix size computation under display:none
  static/panes/cfg-view.ts
Labels: ui

#4622 Patch highlighting color scheme setting bug
  static/settings.ts
Labels: ui

#4604 Ignore trim filter for Hook
  etc/config/hook.amazon.properties
  etc/config/hook.defaults.properties
  lib/compilers/hook.ts
  test/compilers/hook-tests.js
Labels: lang-hook

#4619 rust: add cross gcc for BPF
  etc/config/rust.amazon.properties
Labels: lang-rust

#4629 issue : #4628 , Dark theme arrow property corrected
  static/styles/themes/dark-theme.scss
Labels: ui

#4631 libs: add cthash (a c++ library implementing constexpr sha-2)
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-circle

#4375 Clean up OpenCL compilation into SPIR-V.
  etc/config/cpp_for_opencl.amazon.properties
  etc/config/openclc.amazon.properties
Labels: lang-c++-opencl, lang-opencl-c

#4376 Add clspv compiler to C++ for OpenCL.
  etc/config/cpp_for_opencl.amazon.properties
Labels: lang-c++-opencl

#4575 Adds new Xtensa Esp32 compilers.
  etc/config/c++.amazon.properties
Labels: lang-c++

#4632 Add cross clang config for MIPS
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#4616 Handle super long symbols in the cfg
  lib/cfg.js
  package.json
  static/panes/cfg-view.ts
  static/styles/explorer.scss
Labels: ui

#4638 Update and fix link to MS privacy policy
  docs/Privacy.md
  etc/scripts/parsed_pug_file.js
  static/generated/privacy.pug
Labels: ui, documentation

#4641 automatically fix old gccdump states
  static/panes/gccdump-view.ts
  static/panes/pane.ts
Labels: ui

#4644 Fix some value handling in settings
  static/settings.ts
Labels: ui

#4646 Rust 1.67.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#4639 Fix module loading in Hook compiler
  lib/compilers/hook.ts
  test/compilers/hook-tests.js
Labels: lang-hook

#4656 Tsify lib/handlers/formatting.js
  lib/formatters/base.interfaces.ts
  lib/formatters/index.ts
  lib/handlers/formatting.ts
  static/styles/themes/dark-theme.scss
Labels: ui

#4651 Fix up hoom_home for interpreting
  lib/compilers/hook.ts
  test/compilers/hook-tests.js
Labels: lang-hook

#4670 Tsify asm-docs-tests to typescript with utils
  docs/AddingAssemblyDocumentation.md
  package-lock.json
  package.json
  test/handlers/asm-docs-tests.ts
  test/utils.ts
  tsconfig.backend.json
Labels: documentation
