Repository compiler-explorer/compiler-explorer, pull requests merged in 2023-11, with the labels that each got.

#5702 Add Nim version 1.6.16 and 2.0.0, use newer gcc
  etc/config/nim.amazon.properties
Labels: lang-nim

#5700 Fix #5255
  lib/base-compiler.ts
  lib/compilers/cl430.ts
  lib/compilers/clang.ts
  lib/compilers/spirv.ts
  lib/compilers/typescript-native.ts
  lib/utils.ts
Labels: lang-typescript

#5705 Add contracts-nonattr
  etc/config/c++.amazon.properties
Labels: lang-c++

#5699 LLVM TableGen: Add actions to Overrides menu
  lib/compilers/argument-parsers.ts
  lib/compilers/tablegen.ts
  test/compilers/argument-parsers-tests.js
  types/compilation/compiler-overrides.interfaces.ts
Labels: lang-tablegen

#5704 Support the opt pipeline view in dxc for HLSL
  etc/config/hlsl.defaults.properties
  lib/compilers/hlsl.ts
Labels: lang-hlsl

#5711 LLVM TableGen: Improve docstring for Actions Override and add example
  examples/tablegen/searchable_tables.td
  lib/compilers/tablegen.ts
Labels: lang-tablegen

#5692 Kotlin 1.9.10 & 1.9.20
  etc/config/kotlin.amazon.properties
Labels: lang-kotlin

#5719 Fix z-index of toasts in Boostreap 4
  static/styles/explorer.scss
Labels: ui

#5722 Added Trompeloeil v46
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-circle, lang-objc++

#5725 Fix shared state close issue
  static/panes/editor.ts
  static/panes/executor.ts
  test/cfg-cases/cfg-llvmir.invoke.json
  test/cfg-cases/cfg-llvmir.loop.json
Labels: ui

#5733 Use Sy's correct name
  AUTHORS.md
  static/panes/ast-view.ts
Labels: ui

#5732 Fix #5463
  static/panes/compiler.ts
Labels: ui

#5724 Add Swift 5.9 release and Swift 5.10 nightly
  etc/config/swift.amazon.properties
Labels: lang-swift

#5739 Disable diffable asm for dotnet 8.0+ by default
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#5749 Fix #4654
  lib/base-compiler.ts
  lib/compilers/hlsl.ts
  lib/compilers/ispc.ts
  lib/compilers/ldc.ts
  lib/compilers/spirv.ts
Labels: lang-d, lang-ispc, lang-hlsl

#5753 Fixed CLI args for snowball
  lib/compilers/snowball.ts
Labels: lang-snowball

#5759 Rust 1.74.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#5779 Bump to latest tom-select. Thanks @oyejorge
  package-lock.json
  package.json
  static/panes/diff.ts
  static/panes/llvm-opt-pipeline.ts
  static/widgets/compiler-picker.ts
Labels: ui

#5763 Add ISPC v1.22.0
  etc/config/ispc.amazon.properties
Labels: lang-ispc

#5760 Changes for NVIDIA HPC SDK 23.11
  etc/config/c++.amazon.properties
  etc/config/cuda.amazon.properties
Labels: lang-c++, lang-cuda

#5781 Bump remaining deps
  lib/compilers/dotnet.ts
  lib/handlers/formatting.ts
  package-lock.json
  static/panes/editor.ts
  static/rison.ts
Labels: ui, lang-dotnet

#5754 Added support for intel and new examples
  examples/snowball/num_hex.sn
  examples/snowball/vectors.sn
  lib/compilers/snowball.ts
Labels: lang-snowball

#5788 Changed exec to exe for snowball
  lib/compilers/snowball.ts
Labels: lang-snowball

#5789 New C3 compiler added
  etc/config/c3.amazon.properties
  lib/compilers/c3c.ts
Labels: lang-c3

#5783 kokkos `4.2.00`
  etc/config/c++.amazon.properties
Labels: lang-c++

#5790 Add taskflow
  CONTRIBUTORS.md
  etc/config/c++.amazon.properties
Labels: lang-c++

#5812 Add Racket nightly snapshot
  etc/config/racket.amazon.properties
Labels: lang-racket

#5794 Fix #5660
  lib/compilers/argument-parsers.ts
  lib/compilers/gnucobol.ts
Labels: lang-cobol

#5778 vax: add built 10.5.0 gcc-vax cross compiler
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/objc.amazon.properties
Labels: lang-c++, lang-c, lang-objc

#5748 Disable buttons for favorite overrides that are incompatible with the current compiler
  static/widgets/compiler-overrides.ts
Labels: ui

#5758 Improvements to the display of Overrides favourites
  static/widgets/compiler-overrides.ts
Labels: ui

#5821 Add strong_type v13
  etc/config/c++.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-objc++

#5816 Add gimple front-end syntax option for gcc tree/rtl viewer
  lib/base-compiler.ts
  static/panes/compiler.ts
  static/panes/gccdump-view.interfaces.ts
  static/panes/gccdump-view.ts
  types/compilation/compilation.interfaces.ts
  views/templates/panes/gccdump.pug
Labels: ui

#5827 fix ldc llvmir
  lib/compilers/ldc.ts
Labels: lang-d

#5825 Add LanguageConfiguration for llvm ir
  etc/config/llvm.defaults.properties
  static/modes/llvm-ir-mode.ts
Labels: ui, lang-llvm
