Repository compiler-explorer/compiler-explorer, pull requests merged in 2023-02, with the labels that each got.

#4605 rebased ts/executor
  static/components.interfaces.ts
  static/components.ts
  static/panes/executor.interfaces.ts
  static/panes/executor.js
  static/panes/executor.ts
  static/widgets/timing-info-widget.ts
  types/compilation/compilation.interfaces.ts
  types/resultline/resultline.interfaces.ts
Labels: ui

#4602 Move url expansion to files
  lib/base-compiler.ts
  static/compiler-service.ts
  static/download-service.ts
  static/multifile-service.ts
  static/panes/compiler.ts
  static/panes/conformance-view.ts
  static/panes/executor.ts
  types/compilation/compilation.interfaces.ts
Labels: ui

#4686 Bump rollbear/strong_type to v9 and v10
  etc/config/c++.amazon.properties
Labels: lang-c++

#4474 Convert tool.js to typescript (based off #4166)
  static/components.interfaces.ts
  static/components.ts
  static/event-map.ts
  static/panes/compiler.ts
  static/panes/tool.interfaces.ts
  static/panes/tool.js
  static/panes/tool.ts
Labels: ui

#4708 Tsify generate_site_template_screenshots.js
  docs/AddingASiteTemplate.md
  etc/scripts/generate_site_template_screenshots.ts
  etc/scripts/tsconfig.json
  views/resources/template_screenshots/TreeIDEMode.dark.png
  views/resources/template_screenshots/TreeIDEMode.darkplus.png
  views/resources/template_screenshots/TreeIDEMode.default.png
Labels: ui, documentation

#4705 Update hook-mode.ts
  static/modes/hook-mode.ts
Labels: ui, lang-hook

#4731 Fix tool conversion bugs
  static/components.interfaces.ts
  static/components.ts
  static/panes/compiler.ts
Labels: ui

#4736 Add clang-tidy default tool to c/c++.defaults.properties
  etc/config/c++.defaults.properties
  etc/config/c.defaults.properties
Labels: lang-c++, lang-c

#4741 Add Kotlin 1.8.10
  etc/config/kotlin.amazon.properties
Labels: lang-kotlin

#4743 Add updated CUDA versions.
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#4746 fix: GO compiler names
  etc/config/go.amazon.properties
Labels: lang-go

#4744 Expose `autoCloseQuotes` and `autoSurround` editor settings
  static/panes/editor.ts
  static/settings.ts
  views/popups/settings.pug
Labels: ui

#4756 Update hook-mode.ts
  lib/compilers/hook.ts
  static/modes/hook-mode.ts
Labels: ui, lang-hook

#4755 Updated version of some jfalcou libraries
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
Labels: lang-c++, lang-circle

#4750 fix for device selection not saved in shared link
  static/panes/device-view.ts
Labels: ui

#4770 compiler.clang_p1144: get libstdc++ headers from trunk, remove -std=c++2a
  etc/config/c++.amazon.properties
Labels: lang-c++

#4642 Add GCC 9.4, 9.5, 10.4 for Arm and AArch64 and And Morello Alpha 2
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#4778 Bump used node version to 18
  .github/workflows/deploy-win.yml
  .github/workflows/test-and-deploy.yml
  .github/workflows/test-win.yml
  CONTRIBUTING.md
  README.md
  etc/scripts/find-node
Labels: documentation

#4782 added cereal serialization library
  etc/config/c++.amazon.properties
Labels: lang-c++
