Repository compiler-explorer/compiler-explorer, pull requests merged in 2023-07, with the labels that each got.

#5123 Use correct kokkos version and `packagedheaders=true`
  etc/config/c++.amazon.properties
Labels: lang-c++

#5239 Use correct path for jsoncons. Fixes #5238
  etc/config/c++.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-objc++

#5248 gcc: add native gcc 10.5.0
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
  etc/config/objc++.amazon.properties
  etc/config/objc.amazon.properties
Labels: lang-c++, lang-go, lang-d, lang-c, lang-fortran, lang-ada, lang-objc, lang-objc++

#5208 Add checks for config problems
  etc/config/cppx_gold.defaults.properties
  etc/config/fortran.defaults.properties
  etc/config/hlsl.defaults.properties
  etc/config/modula2.defaults.properties
  lib/compiler-finder.ts
  lib/properties.ts
Labels: lang-fortran, lang-cppx, lang-hlsl, lang-modula2

#5250 propcheck: applies to local config
  etc/config/ada.defaults.properties
  etc/config/analysis.defaults.properties
  etc/config/c.defaults.properties
  etc/config/hlsl.defaults.properties
  etc/config/modula2.defaults.properties
  etc/config/objc.defaults.properties
  etc/config/openclc.defaults.properties
  etc/config/toit.defaults.properties
  etc/scripts/util/propscheck.py
Labels: lang-c, lang-ada, lang-opencl-c, lang-toit, lang-hlsl, lang-objc, lang-modula2

#5249 gcc: add cross for 10.5.0 arm/arm64
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-c++, lang-c, lang-fortran

#5245 Added snowball lang
  .github/labeler.yml
  CONTRIBUTORS.md
  etc/config/snowball.amazon.properties
  etc/config/snowball.default.properties
  examples/snowball/default.sn
  examples/snowball/fib.sn
  examples/snowball/vectors.sn
  lib/cfg/cfg.ts
  lib/compilers/_all.ts
  lib/compilers/snowball.ts
  lib/languages.ts
  types/languages.interfaces.ts
  views/resources/logos/snowball.svg
Labels: ui

#5252 Bump latest deps
  lib/handlers/health-check.ts
  lib/handlers/noscript.ts
  lib/handlers/route-api.ts
  lib/handlers/source.ts
  lib/llvm-ir.ts
  lib/objdumper/base.ts
  lib/storage/base.ts
  package-lock.json
  package.json
  static/hub.ts
  static/print-view.ts
  static/quick-fixes-handler.ts
  static/settings.ts
  static/styles/explorer.scss
  static/themes.ts
  static/widgets/site-templates-widget.ts
  test/embedding.html
  webpack.config.esm.ts
Labels: ui

#5236 Load and show creation_date of shortlink
  lib/handlers/api.ts
  lib/handlers/route-api.ts
  lib/storage/base.ts
  lib/storage/local.ts
  lib/storage/null.ts
  lib/storage/remote.ts
  lib/storage/s3.ts
  static/main.ts
  static/panes/tree.ts
  static/styles/explorer.scss
  static/utils.ts
  test/storage/storage-s3-tests.ts
  test/unfurl-tests.ts
  views/index.pug
Labels: ui

#5263 Fix link datetime layout
  static/main.ts
  static/styles/explorer.scss
Labels: ui

#5264 README: Fix link to tinyurl URL shortener implementation
  README.md
Labels: documentation

#5268 Rust 1.71.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#5266 kokkos 4.1.00
  etc/config/c++.amazon.properties
Labels: lang-c++

#5269 Add strong_type v12 and trompeloeil v45
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-circle, lang-objc++

#5243 Add Clang builds with assertions
  etc/config/c++.amazon.properties
Labels: lang-c++

#5277 Use session _then_ local storage for saved state
  static/history.ts
  static/local.ts
  static/main.ts
  static/presentation.ts
  static/settings.ts
  static/sharing.ts
  static/widgets/compiler-overrides.ts
  static/widgets/compiler-picker.ts
  static/widgets/libs-widget.ts
  static/widgets/load-save.ts
  static/widgets/site-templates-widget.ts
Labels: ui

#5276 Use period-correct GCC toolchains for old Clang releases (3.1-4.0)
  etc/config/c++.amazon.properties
Labels: lang-c++

#5282 Add logo for Carbon-Lang
  lib/languages.ts
  views/resources/logos/carbon.png
Labels: ui

#5280 Kotlin 1.9.0
  etc/config/kotlin.amazon.properties
Labels: lang-kotlin

#5281 Use Java 19 runtime for Kotlin 1.8.x
  etc/config/kotlin.amazon.properties
Labels: lang-kotlin

#5296 Add GCC 13.2.0 native
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
  etc/config/modula2.amazon.properties
  etc/config/objc++.amazon.properties
  etc/config/objc.amazon.properties
Labels: lang-c++, lang-go, lang-d, lang-c, lang-fortran, lang-ada, lang-objc, lang-objc++, lang-modula2

#5300 Sort settings language keys before presenting in ui
  static/settings.ts
Labels: ui

#5302 Add an intro for why/where/how/when etc
  README.md
  docs/WhatIsCompilerExplorer.md
  docs/images/AddExecuteOnly.png
  docs/images/CE-explain.svg
  docs/images/Execute.png
  docs/images/Executed.png
  docs/images/ExecutorFromThis.png
Labels: documentation

#5301 Add Crystal 1.9.2 / 1.8.2
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#5316 Wordsmithing "What is compiler explorer?"
  docs/WhatIsCompilerExplorer.md
Labels: documentation
