Repository compiler-explorer/compiler-explorer, pull requests merged in 2023-06, with the labels that each got.

#5098 add mlir-trunk
  etc/config/mlir.amazon.properties
Labels: lang-mlir

#5086 New Language: C3
  .github/labeler.yml
  CONTRIBUTORS.md
  etc/config/c3.amazon.properties
  etc/config/c3.defaults.properties
  examples/c3/default.c3
  lib/compilers/_all.ts
  lib/compilers/c3c.ts
  lib/languages.ts
  static/modes/_all.ts
  static/modes/c3-mode.ts
  types/languages.interfaces.ts
  views/resources/logos/c3.svg
Labels: ui

#5103 Rust 1.70.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#5109 fix intel notation for cobol
  etc/config/cobol.amazon.properties
  etc/config/cobol.defaults.properties
  lib/compilers/gnucobol.ts
Labels: lang-cobol

#5104 Add -gcc-toolchain option for Clang 3.1, 3.2, and 3.3
  CONTRIBUTORS.md
  etc/config/c++.amazon.properties
Labels: lang-c++

#5110 Fix cobol binary modes and objdump
  etc/config/cobol.amazon.properties
  etc/config/cobol.defaults.properties
  lib/compilers/gnucobol.ts
Labels: lang-cobol

#5094 Add Kokkos C++ library
  etc/config/c++.amazon.properties
Labels: lang-c++

#5102 Update mlir.ts for issue #5902
  lib/compilers/mlir.ts
Labels: lang-mlir

#5114 Bump all deps
  docs/SupportedEmulators.md
  lib/asm-docs/arm.ts
  package-lock.json
  static/styles/explorer.scss
  static/styles/themes/dark-theme.scss
  static/styles/themes/default-theme.scss
  static/styles/themes/pink-theme.scss
  webpack.config.esm.ts
Labels: ui, documentation

#5116 Bump to latest LRUCache; use the correct import now the old way is deprecated
  lib/cache/in-memory.ts
  lib/cache/on-disk.ts
  package-lock.json
  package.json
  static/compiler-service.ts
  static/panes/compiler.ts
Labels: ui

#5120 Fix conformance view state bug
  static/panes/conformance-view.ts
Labels: ui

#5128 Capture errors in sentry better
  app.ts
  lib/cache/s3.ts
  lib/handlers/api.ts
  lib/handlers/compile.ts
  lib/handlers/health-check.ts
  lib/handlers/route-api.ts
  lib/sentry.ts
  static/analytics.ts
  static/compiler-service.ts
  static/event-hub.ts
  static/main.ts
  static/panes/compiler.ts
  static/sentry.ts
  static/sharing.ts
Labels: ui

#5130 Identify unused imports during lint
  .eslintrc.yml
  lib/.eslintrc.cjs
  lib/buildenvsetup/base.ts
  lib/compilers/clang.ts
  lib/compilers/gnucobol.ts
  lib/compilers/z88dk.ts
  lib/compilers/zig.ts
  lib/parsers/asm-parser-vc6.ts
  lib/parsers/llvm-pass-dump-parser.ts
  static/.eslintrc.cjs
  static/compiler-shared.ts
  static/components.interfaces.ts
  static/graph-layout-core.ts
  static/panes/executor.ts
  static/themes.ts
  static/widgets/compiler-picker.ts
  test/base-compiler-tests.ts
  test/cache-tests.ts
  test/llvm-ast-parser-tests.ts
  test/options-handler.js
  test/pp-output-test.ts
  test/utils-tests.ts
Labels: ui

#5132 Fix ordering in the compiler picker popup
  lib/compiler-finder.ts
  static/widgets/compiler-picker-popup.ts
  types/compiler.interfaces.ts
Labels: ui

#5111 Improve cache handling on the frontend, cache executions on the backend, and improve controls on the exec pane
  .eslintrc.yml
  docs/API.md
  lib/base-compiler.ts
  lib/compilers/java.ts
  lib/compilers/kotlin.ts
  lib/compilers/win32-mingw-clang.ts
  lib/compilers/win32-mingw-gcc.ts
  lib/handlers/compile.interfaces.ts
  lib/handlers/compile.ts
  lib/llvm-ir.ts
  static/compiler-service.ts
  static/panes/compiler-request.interfaces.ts
  static/panes/compiler.ts
  static/panes/device-view.ts
  static/panes/executor.ts
  static/styles/explorer.scss
  static/styles/themes/dark-theme.scss
  static/styles/themes/default-theme.scss
  static/styles/themes/pink-theme.scss
  test/handlers/compile-tests.js
  types/compilation/compilation.interfaces.ts
  types/compiler.interfaces.ts
  types/features/filters.interfaces.ts
  views/templates/panes/executor.pug
Labels: ui, documentation

#5134 Improve CFG viewer navigation and behavior
  static/components.ts
  static/panes/cfg-view.interfaces.ts
  static/panes/cfg-view.ts
  views/templates/panes/cfg.pug
Labels: ui

#5140 add floating point representation for numeric tooltip
  static/panes/compiler.ts
Labels: ui

#5141 Add GCC 11.4.0 and 12.3.0 for cross targets
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
  etc/config/objc++.amazon.properties
  etc/config/objc.amazon.properties
Labels: lang-c++, lang-go, lang-d, lang-c, lang-fortran, lang-ada, lang-objc, lang-objc++

#5147 Fix word wrapping for compiler filters
  static/styles/explorer.scss
  views/popups/compiler-picker-modal.pug
Labels: ui

#5144 Update nvdisasm for CUDA
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#5146 Check for clipboard support better
  static/panes/editor.ts
Labels: ui

#4924 Kind of ISA cleanup
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  lib/instructionsets.ts
Labels: lang-c++, lang-c, lang-ada

#5149 mp-units 0.8.0 support added + trunk updated for V2
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-circle, lang-objc++

#5150 `fmt/10.0.0` added + circle revisions synced with the rest
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-circle, lang-objc++

#5165 Fix C arduino arguments
  etc/config/c.amazon.properties
Labels: lang-c

#5166 Filter ansi escape codes in noscript
  lib/handlers/compile.interfaces.ts
  lib/handlers/compile.ts
  views/noscript/compiler.pug
Labels: ui

#5169 Fix color scheme being overwritten on load
  static/settings.ts
Labels: ui

#5145 Add HPC SDK 23.3 and 23.5 to c++.amazon.properties
  etc/config/c++.amazon.properties
Labels: lang-c++

#5170 Fix longstanding issue TypeError: e.map is not a function
  static/panes/editor.ts
  static/panes/executor.ts
Labels: ui

#5171 War on @ts-expect-error
  lib/compilers/pascal.ts
  lib/compilers/tic2000.ts
  static/.eslintrc.cjs
  static/analytics.ts
  static/ansi-to-html.interfaces.ts
  static/ansi-to-html.ts
  static/event-hub.ts
  static/event-map.ts
  static/hub.ts
  static/panes/compiler.interfaces.ts
  static/panes/compiler.ts
  static/panes/conformance-view.interfaces.ts
  static/panes/conformance-view.ts
  static/panes/device-view.ts
  static/panes/diff.ts
  static/panes/editor.ts
  static/panes/executor.ts
  static/panes/output.ts
  static/panes/tree.ts
  static/sharing.ts
  static/widgets/libs-widget.ts
Labels: ui

#5174 Fix color scheme flash on page load for pink theme
  static/styles/explorer.scss
  views/_layout.pug
Labels: ui

#5162 Fix word wrapping bug
  static/panes/editor.ts
Labels: ui

#5151 dotnet 6.0.18 and 7.0.7
  etc/config/csharp.amazon.properties
  etc/config/csharp.defaults.properties
  etc/config/fsharp.amazon.properties
  etc/config/fsharp.defaults.properties
  etc/config/vb.amazon.properties
  etc/config/vb.defaults.properties
Labels: lang-dotnet

#5152 Make Boost available for CUDA
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#5160 add Stack Usage Viewer
  cypress/e2e/frontend.cy.ts
  lib/base-compiler.ts
  lib/clientstate-normalizer.ts
  lib/compilers/argument-parsers.ts
  lib/compilers/golang.ts
  lib/compilers/nvcc.ts
  lib/stack-usage-transformer.ts
  static/components.interfaces.ts
  static/components.ts
  static/event-map.ts
  static/hub.ts
  static/panes/compiler.ts
  static/panes/stack-usage-view.interfaces.ts
  static/panes/stack-usage-view.ts
  test/stack-usage-transformer-test.ts
  types/compilation/compilation.interfaces.ts
  types/compiler.interfaces.ts
  views/templates/panes/compiler.pug
  views/templates/templates.pug
Labels: ui

#5136 Added TypeScript Native ver 0.0.35-alpha
  etc/config/typescript.amazon.properties
  etc/config/typescript.defaults.properties
  lib/compilers/typescript-native.ts
Labels: lang-typescript

#5155 Support control flow graphs from the IR pane
  docs/AddingATool.md
  lib/base-compiler.ts
  lib/cfg/cfg-parsers/base.ts
  lib/cfg/cfg-parsers/llvm-ir.ts
  lib/cfg/cfg.ts
  lib/clientstate-normalizer.ts
  lib/compilers/clangcl.ts
  lib/compilers/ispc.ts
  lib/compilers/pony.ts
  lib/compilers/spirv.ts
  lib/compilers/typescript-native.ts
  lib/llvm-ir.ts
  lib/stack-usage-transformer.ts
  static/components.ts
  static/event-map.ts
  static/hub.ts
  static/modes/llvm-ir-mode.ts
  static/panes/cfg-view.interfaces.ts
  static/panes/cfg-view.ts
  static/panes/compiler.ts
  static/panes/device-view.ts
  static/panes/ir-view.ts
  static/widgets/libs-widget.ts
  types/compilation/cfg.interfaces.ts
  types/compilation/compilation.interfaces.ts
  views/templates/panes/ir.pug
Labels: ui, documentation, lang-llvm, lang-pony

#5173 add oneapi 2023.0.0 & 2023.1.0
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-c++, lang-c, lang-fortran

#5161 Create a print view
  static/event-map.ts
  static/main.ts
  static/panes/ast-view.ts
  static/panes/compiler.ts
  static/panes/device-view.ts
  static/panes/diff.ts
  static/panes/editor.ts
  static/panes/flags-view.ts
  static/panes/gccdump-view.ts
  static/panes/gnatdebug-view.ts
  static/panes/gnatdebugtree-view.ts
  static/panes/haskellcmm-view.ts
  static/panes/haskellcore-view.ts
  static/panes/haskellstg-view.ts
  static/panes/ir-view.ts
  static/panes/llvm-opt-pipeline.ts
  static/panes/opt-view.ts
  static/panes/output.ts
  static/panes/pane.ts
  static/panes/pp-view.ts
  static/panes/rusthir-view.ts
  static/panes/rustmacroexp-view.ts
  static/panes/rustmir-view.ts
  static/panes/tool-input-view.ts
  static/panes/tool.ts
  static/print-view.ts
  static/styles/explorer.scss
  static/themes.ts
  views/_layout.pug
Labels: ui

#5180 Support user site templates
  static/main.ts
  static/styles/explorer.scss
  static/widgets/site-templates-widget.ts
  types/features/site-templates.interfaces.ts
  views/popups/_all.pug
  views/popups/site-template-loader.pug
Labels: ui

#5188 Fix CE not working without internet
  static/tests/motd.ts
  views/_layout.pug
Labels: ui

#5190 Improve sentry capturing of unhandled promise rejections
  static/analytics.ts
  static/main.ts
  static/sentry.ts
Labels: ui

#5189 Fix handling when the opt output is truncated
  lib/base-compiler.ts
  lib/exec.ts
  lib/llvm-opt-transformer.ts
  test/exec-tests.ts
  types/execution/execution.interfaces.ts
Labels: lang-llvm

#5191 Improve pane typing
  lib/base-compiler.ts
  static/panes/ast-view.ts
  static/panes/cfg-view.ts
  static/panes/device-view.ts
  static/panes/diff.ts
  static/panes/flags-view.ts
  static/panes/gccdump-view.ts
  static/panes/gnatdebug-view.ts
  static/panes/gnatdebugtree-view.ts
  static/panes/haskellcmm-view.ts
  static/panes/haskellcore-view.ts
  static/panes/haskellstg-view.ts
  static/panes/ir-view.ts
  static/panes/llvm-opt-pipeline.ts
  static/panes/opt-view.ts
  static/panes/output.ts
  static/panes/pane.interfaces.ts
  static/panes/pane.ts
  static/panes/pp-view.ts
  static/panes/rusthir-view.ts
  static/panes/rustmacroexp-view.ts
  static/panes/rustmir-view.ts
  static/panes/stack-usage-view.ts
  static/panes/tool-input-view.ts
  static/panes/tool.ts
  types/compilation/compilation.interfaces.ts
Labels: ui

#5198 C64 emulation
  lib/compilers/cc65.ts
  lib/compilers/llvm-mos.ts
  static/panes/compiler.ts
  types/tool.interfaces.ts
Labels: ui

#5185 mp-units now use fmt/10.0.0
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-circle, lang-objc++

#5179 Headers via conan
  etc/config/c++.amazon.properties
  lib/base-compiler.ts
  lib/buildenvsetup/base.ts
  lib/buildenvsetup/ceconan-rust.ts
  lib/buildenvsetup/ceconan.ts
  lib/buildenvsetup/cliconan.ts
  lib/options-handler.ts
  test/options-handler.js
  types/libraries/libraries.interfaces.ts
Labels: lang-c++

#5193 Add the movfuscator
  etc/config/c.amazon.properties
  lib/base-compiler.ts
  lib/compilers/_all.ts
  lib/compilers/movfuscator.ts
Labels: lang-c

#5210 Move all styles to static/styles
  static/main.ts
  static/noscript.ts
  static/styles/colours.scss
  static/styles/noscript.scss
Labels: ui

#5206 Improve the type of ExecutionOptions.env
  lib/base-compiler.ts
  lib/compilation-env.ts
  lib/compilers/avrgcc6502.ts
  lib/compilers/beebasm.ts
  lib/compilers/circle.ts
  lib/compilers/clang.ts
  lib/compilers/clean.ts
  lib/compilers/clspv.ts
  lib/compilers/dosbox-compiler.ts
  lib/compilers/dotnet.ts
  lib/compilers/fortran.ts
  lib/compilers/gnucobol.ts
  lib/compilers/hook.ts
  lib/compilers/julia.ts
  lib/compilers/mrustc.ts
  lib/compilers/pascal-win.ts
  lib/compilers/pascal.ts
  lib/compilers/pony.ts
  lib/compilers/ptxas.ts
  lib/compilers/racket.ts
  lib/compilers/rga.ts
  lib/compilers/spirv.ts
  lib/compilers/win32-mingw-clang.ts
  lib/compilers/win32-mingw-gcc.ts
  lib/compilers/wine-vc.ts
  lib/compilers/wsl-vc.ts
  lib/compilers/z88dk.ts
  lib/exec.ts
  lib/win-utils.ts
  types/compilation/compilation.interfaces.ts
Labels: lang-dotnet, lang-pony, lang-racket, lang-hook

#5212 Don't rely on overlapping IDs in cuda vs defaults
  etc/config/cuda.defaults.properties
Labels: lang-cuda

#5219 Mark older clang versions as debugpatched
  etc/config/c++.amazon.properties
Labels: lang-c++
