Repository compiler-explorer/compiler-explorer, pull requests merged in 2023-03, with the labels that each got.

#4803 Add ISPC v1.19.0
  etc/config/ispc.amazon.properties
Labels: lang-ispc

#4808 Add LDC 1.31.0 and make it the default D compiler
  etc/config/d.amazon.properties
Labels: lang-d

#4799 update dotnet versions
  etc/config/csharp.amazon.properties
  etc/config/csharp.defaults.properties
  etc/config/fsharp.amazon.properties
  etc/config/fsharp.defaults.properties
  etc/config/vb.amazon.properties
  etc/config/vb.defaults.properties
Labels: lang-dotnet

#4819 added Grafana Stats page to other-menu
  views/menu-other.pug
Labels: ui

#4789 Compiler picker UI improvements
  etc/config/ada.amazon.properties
  etc/config/assembly.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c++.defaults.properties
  etc/config/c.amazon.properties
  lib/common-utils.ts
  lib/compiler-finder.ts
  package-lock.json
  package.json
  static/.eslint-ce-static.yml
  static/highlight.ts
  static/panes/compiler.ts
  static/panes/conformance-view.ts
  static/panes/executor.ts
  static/styles/explorer.scss
  static/styles/themes/dark-theme.scss
  static/styles/themes/default-theme.scss
  static/widgets/compiler-picker-popup.ts
  static/widgets/compiler-picker.ts
  types/compiler.interfaces.ts
  views/popups/_all.pug
  views/popups/compiler-picker-modal.pug
Labels: lang-c++, ui, lang-c, lang-ada, lang-asm

#4830 Add default cmake arg
  static/components.interfaces.ts
  static/components.ts
Labels: ui

#4828 Update Crystal 1.7.0 -> 1.7.3
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#4833 Upgrade LRU-Cache
  lib/cache/in-memory.ts
  lib/cache/on-disk.ts
  package-lock.json
  package.json
  static/compiler-service.ts
  static/panes/compiler.ts
  types/compilation/compilation.interfaces.ts
Labels: ui

#4804 Fix and update NVRTC compiler
  etc/config/cuda.amazon.properties
  etc/config/cuda.gpu.properties
  lib/compilers/_all.ts
  lib/compilers/nvrtc.ts
Labels: lang-cuda

#4829 Pass compiler options to cmake
  etc/config/c++.amazon.properties
  lib/base-compiler.ts
  lib/toolchain-utils.ts
Labels: lang-c++

#4837 Add a tool with Sonar C++ analysis.
  etc/config/c++.amazon.properties
  lib/tooling/_all.ts
  lib/tooling/sonar-tool.ts
  views/resources/logos/Sonar-dark.svg
  views/resources/logos/Sonar.svg
Labels: lang-c++, ui

#4842 Rust 1.68.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#4845 Cache S3Bucket clients by region
  lib/s3-handler.ts
Labels: bugfix

#4847 fix vb langversion
  etc/config/vb.amazon.properties
  etc/config/vb.defaults.properties
Labels: lang-dotnet

#4821 rename jit option for dotnet 8
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#4851 Bump all minor versions - npm update; also bump webpack version speculatively...
  lib/compilers/dotnet.ts
  lib/tooling/sonar-tool.ts
  package-lock.json
  static/modes/cobol-mode.ts
  webpack.config.esm.ts
Labels: ui, lang-dotnet, lang-cobol

#4854 Bump to latest monaco
  package-lock.json
  package.json
  static/modes/cppp-mode.ts
  static/panes/editor.ts
Labels: lang-c++, ui

#4852 Bump to latest LRU library and use new clear() method
  package-lock.json
  package.json
  static/panes/compiler.ts
  static/panes/executor.ts
Labels: ui

#4860 Update error alert styling
  static/main.ts
  static/panes/compiler.ts
  static/panes/tree.ts
  static/styles/explorer.scss
  static/styles/themes/dark-theme.scss
  static/styles/themes/default-theme.scss
  static/widgets/alert.ts
  static/widgets/load-save.ts
Labels: ui

#4856 Update cobol.amazon.properties
  etc/config/cobol.amazon.properties
Labels: lang-cobol

#4849 Compiler Picker UI Improvements
  etc/config/ada.amazon.properties
  etc/config/assembly.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c++.defaults.properties
  etc/config/c.amazon.properties
  lib/common-utils.ts
  lib/compiler-finder.ts
  package-lock.json
  package.json
  static/.eslint-ce-static.yml
  static/highlight.ts
  static/panes/compiler.ts
  static/panes/conformance-view.ts
  static/panes/executor.ts
  static/styles/explorer.scss
  static/styles/themes/dark-theme.scss
  static/styles/themes/default-theme.scss
  static/widgets/compiler-picker-popup.ts
  static/widgets/compiler-picker.ts
  types/compiler.interfaces.ts
  views/popups/_all.pug
  views/popups/compiler-picker-modal.pug
  views/templates/panes/compiler.pug
  views/templates/panes/executor.pug
  views/templates/widgets/compiler-selector.pug
Labels: lang-c++, ui, lang-c, lang-ada, lang-asm

#4859 Address lzstring decompress failure
  static/url.ts
Labels: ui

#4863 Make bracket colourisation configurable.
  static/panes/editor.ts
  static/settings.ts
  views/popups/settings.pug
Labels: ui

#4864 Give an error when no editor language is specified
  static/panes/editor.interfaces.ts
  static/panes/editor.ts
Labels: ui

#4870 Add a boundary check for the compiler context menu handler
  static/panes/compiler.ts
Labels: ui

#4871 Capture info to help triage an issue #4868
  static/panes/editor.ts
Labels: ui

#4875 Add CUDA 12.1
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#4879 Add HPC SDK 23.1
  etc/config/c++.amazon.properties
Labels: lang-c++

#4878 Support for CompCert
  etc/config/c.amazon.properties
  lib/compilers/_all.ts
  lib/compilers/compcert.ts
Labels: lang-c

#4839 add simdjson
  etc/config/c++.amazon.properties
Labels: lang-c++

#4761 add properties and test for cewrapper
  app.ts
  etc/cewrapper/compilers-and-tools.json
  etc/cewrapper/user-execution.json
  etc/config/c++.amazon.properties
  etc/config/c++.amazonwin.properties
  etc/config/c++.win32.properties
  etc/config/c.amazon.properties
  etc/config/c.amazonwin.properties
  etc/config/compiler-explorer.amazon.win32.properties
  etc/config/compiler-explorer.amazonwin.properties
  etc/config/compiler-explorer.winstaging.properties
  etc/config/compiler-explorer.wintest.properties
  etc/config/execution.amazonwin.properties
  etc/config/execution.defaults.properties
  etc/scripts/util/propscheck.py
  lib/base-compiler.ts
  lib/compilers/_all.ts
  lib/compilers/clang.ts
  lib/compilers/win32-mingw-clang.ts
  lib/compilers/win32-mingw-gcc.ts
  lib/compilers/win32.ts
  lib/exec.ts
  lib/parsers/asm-parser.ts
  lib/utils.ts
  lib/win-utils.ts
  test/exec-tests.ts
  test/test-properties/execution/execution.test.properties
Labels: lang-c++, lang-c, do-not-merge

#4888 Add 'mingw' to mingw compilerCategories
  etc/config/c++.amazonwin.properties
  etc/config/c.amazonwin.properties
Labels: lang-c++, lang-c

#4887 LLVM 16
  etc/config/assembly.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/llvm.amazon.properties
Labels: lang-c++, lang-c, lang-asm, lang-llvm

#4882 Add new version of Kalray KVX compiler 4.12.0
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#4890 Ensure a default language is provided for new editor panes
  static/components.interfaces.ts
  static/components.ts
  static/main.ts
  static/panes/editor.ts
  static/panes/tree.ts
Labels: ui

#4898 Limits + windows linking
  etc/cewrapper/compilers-and-tools.json
  etc/cewrapper/user-execution.json
  etc/config/c++.amazonwin.properties
  etc/config/c.amazonwin.properties
  lib/compilers/win32-mingw-clang.ts
  lib/compilers/win32-mingw-gcc.ts
Labels: lang-c++, lang-c

#4905 First support for VAX cross compiler
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/objc.amazon.properties
Labels: lang-c++, lang-c, lang-objc

#4908 Initial support for GCC cobol
  etc/config/cobol.amazon.properties
  lib/compilers/_all.ts
  lib/compilers/gcccobol.ts
Labels: lang-cobol

#4892 Add MLIR 16.0.0
  etc/config/mlir.amazon.properties
  examples/mlir/default.mlir
Labels: lang-mlir
