Repository compiler-explorer/compiler-explorer, pull requests merged in 2023-04, with the labels that each got.

#4919 Add a close button for the "Now in pink" banner
  static/aprilfools2023.ts
  static/styles/explorer.scss
  views/index.pug
Labels: ui

#4721 Add d8 for disassembling javascript
  etc/config/javascript.amazon.properties
  etc/config/javascript.defaults.properties
  examples/javascript/default.mjs
  lib/compilers/_all.ts
  lib/compilers/v8.ts
  lib/languages.ts
  types/languages.interfaces.ts
  views/resources/logos/js.svg
Labels: ui

#4883 Support configuring extra arguments for the demangler, objdumper and execution wrapper
  docs/AddingACompiler.md
  lib/base-compiler.ts
  lib/compiler-finder.ts
  lib/compilers/clang.ts
  lib/compilers/java.ts
  lib/compilers/pascal-win.ts
  lib/compilers/ptxas.ts
  lib/compilers/turboc.ts
  lib/compilers/z88dk.ts
  lib/demangler/base.ts
  lib/demangler/nvhpc.ts
  lib/demangler/pascal.ts
  lib/demangler/win32.ts
  lib/objdumper/base.ts
  types/compiler.interfaces.ts
Labels: documentation

#4903 updated OSACA version to 0.5.0
  etc/config/analysis.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/clean.amazon.properties
  etc/config/cppx.amazon.properties
  etc/config/cppx_blue.amazon.properties
  etc/config/cppx_gold.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
  etc/config/haskell.amazon.properties
  etc/config/ispc.amazon.properties
  etc/config/llvm.amazon.properties
  etc/config/objc++.amazon.properties
  etc/config/objc.amazon.properties
  etc/config/pascal.amazon.properties
  etc/config/rust.amazon.properties
  etc/config/swift.amazon.properties
  etc/config/zig.amazon.properties
Labels: lang-c++, lang-rust, lang-go, lang-d, lang-haskell, lang-ispc, lang-swift, lang-pascal, lang-c, lang-zig, lang-fortran, lang-clean, lang-cppx, lang-llvm, lang-objc, lang-objc++

#4920 Upgrade all minor versions; format; bump sonar and css minimizer
  .github/workflows/test-frontend.yml
  docs/AddingACompiler.md
  lib/compilers/dotnet.ts
  lib/compilers/win32-mingw-clang.ts
  lib/compilers/win32-mingw-gcc.ts
  package-lock.json
  package.json
  static/styles/explorer.scss
  webpack.config.esm.ts
Labels: ui, documentation, lang-dotnet

#4927 Turn off april fools mode
  static/aprilfools2023.ts
  static/main.ts
  static/styles/explorer.scss
  views/index.pug
Labels: ui

#4935 A few pink mode fixes
  static/colours.scss
  static/styles/themes/pink-theme.scss
  static/themes.ts
Labels: ui

#4937 fix url includes for files used in tree
  static/panes/compiler.ts
Labels: ui

#4946 Ft/branch
  etc/config/c.amazon.properties
  lib/tooling/sonar-tool.ts
Labels: lang-c

#4932 [doc] Add suggestions for deploying multiple compilers locally.
  README.md
Labels: documentation

#4913 Updates configuration for xtensa compilers.
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#4952 Add OpenJDK 19 & 20
  etc/config/java.amazon.properties
  etc/config/kotlin.amazon.properties
  etc/config/scala.amazon.properties
Labels: lang-java, lang-kotlin, lang-scala

#4954 Added the latest versions of the Trompeloeil mocking fw
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-circle, lang-objc++

#4955 Add the Vala programming language
  .github/labeler.yml
  etc/config/vala.amazon.properties
  etc/config/vala.defaults.properties
  examples/vala/default.vala
  lib/compilers/_all.ts
  lib/compilers/vala.ts
  lib/languages.ts
  static/modes/_all.ts
  static/modes/vala-mode.ts
  types/languages.interfaces.ts
  views/resources/logos/vala.svg
Labels: ui

#4286 Basic CMake support for CUDA
  lib/base-compiler.ts
  static/multifile-service.ts
Labels: ui

#4976 defer compilation by when still loading panes
  static/panes/compiler.ts
  static/panes/executor.ts
Labels: ui

#4973 Device view diff
  static/panes/diff.interfaces.ts
  static/panes/diff.ts
Labels: ui

#4979 Add Crystal 1.8.1
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#4980 Added TypeScript Native 0.0.26 alpha
  etc/config/typescript.amazon.properties
  etc/config/typescript.defaults.properties
Labels: lang-typescript

#4982 Rust 1.69.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#4970 Add Go 1.20
  etc/config/go.amazon.properties
Labels: lang-go

#4984 npm update and bump; run all the formatters and linters
  package-lock.json
  static/colours.scss
  webpack.config.esm.ts
Labels: ui

#4967 Offer timetrace json to view somewhere
  lib/base-compiler.ts
  lib/compilers/clang.ts
  static/panes/compiler.ts
  types/compilation/compilation.interfaces.ts
  types/tool.interfaces.ts
Labels: ui

#4991 Set maxOptions for the language select
  static/panes/editor.ts
Labels: ui

#4992 Add Swift 5.8
  etc/config/swift.amazon.properties
Labels: lang-swift

#4993 Add think-cell library
  etc/config/c++.amazon.properties
Labels: lang-c++

#4998 Add native GCC 13.1
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
  etc/config/modula2.amazon.properties
  etc/config/objc++.amazon.properties
  etc/config/objc.amazon.properties
Labels: lang-c++, lang-go, lang-d, lang-c, lang-fortran, lang-ada, lang-objc, lang-objc++, lang-modula2

#4996 Fix sparc-leon gcc 12.2.0
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/objc.amazon.properties
Labels: lang-c++, lang-c, lang-fortran, lang-objc

#5000 Fix drag source component state creation in compiler pane
  static/panes/compiler.ts
Labels: ui
