Repository compiler-explorer/compiler-explorer, pull requests merged in 2023-09, with the labels that each got.

#5440 fix: Do not add default libraries to state if previous state exists
  static/widgets/libs-widget.ts
Labels: ui

#5448 Add the github ReactivePlusPlus library
  etc/config/c++.amazon.properties
Labels: lang-c++

#5460 Update README.md
  README.md
Labels: documentation

#5457 Add lib pcre2
  etc/config/c++.amazon.properties
Labels: lang-c++

#5480 Fix WSL for systems that don't have windows paths
  app.ts
  docs/WindowsSubsystemForLinux.md
  lib/compilers/wsl-vc.ts
  lib/exec.ts
Labels: documentation

#5485 Add LDC 1.34.0 and make it the new default
  etc/config/d.amazon.properties
Labels: lang-d

#5477 Add new CCCL library for CUDA
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#5500 LLVM 17
  etc/config/assembly.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/llvm.amazon.properties
Labels: lang-c++, lang-c, lang-asm, lang-llvm

#5498 Add JDK 21
  etc/config/java.amazon.properties
Labels: lang-java

#5497 Add autodetect for staticlib `stdc++exp`
  etc/config/c++.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-objc++

#5507 jakt: Fix signature of default example's main
  examples/jakt/default.jakt
  static/modes/jakt-mode.ts
Labels: ui, lang-jakt

#5504 GnuCOBOL: always pass -g to the C compiler
  lib/compilers/gnucobol.ts
Labels: lang-cobol

#5505 LLVM 17 Clang Assertions
  etc/config/c++.amazon.properties
Labels: lang-c++

#5095 add_rust_dashmap_crate Added dashmap crate version 5.4.0.
  etc/config/rust.amazon.properties
Labels: lang-rust, do-not-merge

#5509 mp-units 2.0 and fmt 10.1.1 added
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-circle, lang-objc++

#5522 Add ForCompile project to API.md. (#5516)
  CONTRIBUTORS.md
  docs/API.md
Labels: documentation

#5526 fix(config): Add gcc 7.5 to C config
  etc/config/c.amazon.properties
Labels: lang-c

#5521 Replace ts-node-esm with direct calls to node to support node 20
  .github/workflows/deploy-win.yml
  .github/workflows/test-and-deploy.yml
  .github/workflows/test-win.yml
  CONTRIBUTING.md
  Makefile
  README.md
  compiler-args-app.ts
  docs/AddingASiteTemplate.md
  etc/scripts/build-dist-win.ps1
  etc/scripts/build-dist.sh
  etc/scripts/docenizers/docenizer-java.sh
  etc/scripts/docenizers/docenizer-llvm.sh
  etc/scripts/find-node
  package.json
Labels: documentation

#5528 Add NASM 2.16.01
  etc/config/assembly.amazon.properties
  etc/config/pascal.amazon.properties
Labels: lang-pascal, do-not-merge, lang-asm
