Repository compiler-explorer/compiler-explorer, pull requests merged in 2023-08, with the labels that each got.

#5329 Add cross gcc 13.2
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
  etc/config/objc++.amazon.properties
  etc/config/objc.amazon.properties
Labels: lang-c++, lang-go, lang-d, lang-c, lang-fortran, lang-ada, lang-objc, lang-objc++

#5352 Add LDC 1.33.0 and make it the new default d compiler
  etc/config/d.amazon.properties
Labels: lang-d

#5330 New Compiler: Hexagon-clang
  etc/config/c++.amazon.properties
  lib/compilers/_all.ts
  lib/compilers/clang.ts
  lib/parsers/asm-parser-hexagon.ts
  lib/parsers/asm-parser.ts
Labels: lang-c++

#5298 C/C++ Add support for libbpf
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#5324 Nvc++ deviceview support
  etc/config/c++.amazon.properties
  lib/compilers/_all.ts
  lib/compilers/nvcpp.ts
Labels: lang-c++

#5371 fix: correct some compiler categories
  etc/config/c.amazon.properties
  lib/instructionsets.ts
  types/instructionsets.ts
Labels: lang-c

#5379 cobol: GnuCOBOL 3.2
  CONTRIBUTORS.md
  etc/config/cobol.amazon.properties
Labels: lang-cobol

#5375 Add KYOSU to CE
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-circle, lang-objc++

#5339 Add the github ureact library
  etc/config/c++.amazon.properties
Labels: lang-c++

#5385 Fix V `.vmodules` path
  lib/compilers/v.ts
Labels: lang-v

#5377 ClangIR enabled clang support
  etc/config/c++.amazon.properties
Labels: lang-c++

#5374 Add Go 1.21
  etc/config/go.amazon.properties
Labels: lang-go

#5384 fixed missing adjustment of GnuCOBOL default
  etc/config/cobol.amazon.properties
Labels: lang-cobol

#5389 Implement comment filtering in LlvmIrParser
  lib/llvm-ir.ts
  static/panes/ir-view.interfaces.ts
  static/panes/ir-view.ts
  types/compilation/ir.interfaces.ts
  views/templates/panes/ir.pug
Labels: ui

#5399 updated OSACA version to v0.5.2
  etc/config/analysis.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/clean.amazon.properties
  etc/config/cppx.amazon.properties
  etc/config/cppx_blue.amazon.properties
  etc/config/cppx_gold.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
  etc/config/haskell.amazon.properties
  etc/config/ispc.amazon.properties
  etc/config/llvm.amazon.properties
  etc/config/objc++.amazon.properties
  etc/config/objc.amazon.properties
  etc/config/pascal.amazon.properties
  etc/config/rust.amazon.properties
  etc/config/swift.amazon.properties
  etc/config/zig.amazon.properties
Labels: lang-c++, lang-rust, lang-go, lang-d, lang-haskell, lang-ispc, lang-swift, lang-pascal, lang-c, lang-zig, lang-fortran, lang-clean, lang-cppx, lang-llvm, lang-objc, lang-objc++

#5403 rename the std::execution library to "stdexec (std::execution)"
  etc/config/c++.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-objc++

#5387 Add ISPC v1.21.0
  etc/config/ispc.amazon.properties
Labels: lang-ispc

#5345 add dotnet aot support for linux-x64
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#5390 Add LC3 C compiler.
  etc/config/c.amazon.properties
Labels: lang-c

#5347 Add YOMM2 1.4.0
  etc/config/c++.amazon.properties
Labels: lang-c++

#5410 dotnet: show the actual error when compilation fails
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#5391 Use corerun and DisassemblyLoader for dotnet
  lib/compilers/dotnet.ts
  lib/parsers/asm-parser-dotnet.ts
Labels: lang-dotnet

#5412 oneapi 2023.2.1 release + fix sycl execution
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-c++, lang-c, lang-fortran

#5415 Bring back crossgen2
  lib/compilers/dotnet.ts
  lib/parsers/asm-parser-dotnet.ts
Labels: lang-dotnet

#5419 Improve the disassembly format for dotnet
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#5378 Fix for old links where language is not set in the editor
  static/panes/editor.ts
Labels: ui

#5423 [win] enable appcontainer for compilers
  etc/cewrapper/compilers-and-tools.json
Labels: do-not-merge

#5421 Add Boost 1.83.0
  etc/config/c++.amazon.properties
Labels: lang-c++

#5433 Add NVCC 12.2.1 to cuda.amazon.properties
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#5432 Add HPC SDK 23.7 to c++.amazon.properties
  etc/config/c++.amazon.properties
Labels: lang-c++

#5406 [Library Request] Add async_simple library
  etc/config/c++.amazon.properties
Labels: lang-c++

#5437 Fix link to formatter section
  docs/API.md
Labels: documentation

#5438 Add Qt version 6.5.2
  etc/config/c++.amazon.properties
Labels: lang-c++
