Repository compiler-explorer/compiler-explorer, pull requests merged in 2023-10, with the labels that each got.

#5556 cxx-variadic-friends: add ce changes for experimental branch
  etc/config/c++.amazon.properties
Labels: lang-c++

#5558 Update `.js` to `.ts` in documentation
  .github/labeler.yml
  CONTRIBUTING.md
  CONTRIBUTORS.md
  docs/AddingACompiler.md
  docs/AddingALanguage.md
  docs/AddingAssemblyDocumentation.md
  docs/AddingCustomCompilersOverview.md
  docs/SystemdSocketActivation.md
  docs/WindowsSubsystemForLinux.md
  docs/internal/FrontendTesting.md
Labels: documentation

#5529 Convert favicon images to png
  static/favicons/favicon-beta.ico
  static/favicons/favicon-dev.ico
  static/favicons/favicon-staging.ico
  static/favicons/favicon-suspend.ico
  static/favicons/favicon.ico
Labels: ui

#5560 Rust 1.73.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#5563 Bump all the things forward
  CONTRIBUTING.md
  docs/API.md
  lib/parsers/asm-parser.ts
  package-lock.json
  webpack.config.esm.ts
Labels: documentation

#5566 Add cpptrace
  etc/config/c++.amazon.properties
Labels: lang-c++

#5554 add arm-unknown-eabi GCC 13.2
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#5568 Add NVIDIA HPC SDK 23.9 to etc/config/c++.amazon.properties
  etc/config/c++.amazon.properties
Labels: lang-c++

#5572 Readme Update
  README.md
Labels: documentation

#5596 Add Julia v1.9.3
  etc/config/julia.amazon.properties
Labels: lang-julia

#5599 fix month
  static/utils.ts
Labels: ui

#5589 Add Crystal 1.10.1
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#5571 Show up to date version for trunk compilers
  etc/config/assembly.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/compiler-explorer.amazon.properties
  etc/config/cpp_for_opencl.amazon.properties
  etc/config/cppx_blue.amazon.properties
  etc/config/cppx_gold.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
  etc/config/hlsl.amazon.properties
  etc/config/ispc.amazon.properties
  etc/config/javascript.amazon.properties
  etc/config/mlir.amazon.properties
  etc/config/nim.amazon.properties
  etc/config/objc++.amazon.properties
  etc/config/objc.amazon.properties
  etc/config/rust.amazon.properties
  etc/config/swift.amazon.properties
  etc/config/zig.amazon.properties
  lib/compiler-finder.ts
  lib/options-handler.ts
  static/panes/compiler.ts
  static/panes/executor.ts
  static/widgets/compiler-version-info.ts
  types/compiler.interfaces.ts
Labels: lang-c++, lang-rust, lang-go, lang-d, ui, lang-ispc, lang-swift, lang-c, lang-zig, lang-fortran, lang-nim, lang-asm, lang-cppx, lang-c++-opencl, lang-mlir, lang-hlsl, lang-objc, lang-objc++

#5610 Fix Crystal assembly and LLVM IR output on 1.9+
  lib/compilers/crystal.ts
Labels: lang-crystal

#5622 Add Hylo support
  etc/config/hylo.amazon.properties
  etc/config/hylo.defaults.properties
  examples/hylo/default.hylo
  lib/compilers/_all.ts
  lib/compilers/hylo.ts
  lib/languages.ts
  static/modes/_all.ts
  static/modes/hylo-mode.ts
  types/languages.interfaces.ts
  views/resources/logos/hylo.svg
Labels: ui

#5602 Surface Dart 2.19, 3.0, and 3.1 releases
  etc/config/dart.amazon.properties
Labels: lang-dart

#5616 Use verbose version flag to get `rustc` version
  etc/config/rust.defaults.properties
Labels: lang-rust

#5628 Fix compilers language file template in "Adding a Language" doc
  docs/AddingALanguage.md
Labels: documentation

#5588 Support latest versions of spdlog
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-circle, lang-objc++

#5600 ✨ Allow #embed file replacement and preserve eol-tokens
  static/compiler-service.ts
Labels: ui

#5631 feat(devcontainers): add the ability to use GitHub Codespaces and VS Code remote containers
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  CONTRIBUTING.md
  CONTRIBUTORS.md
Labels: documentation

#5627 Add AST viewer support for HLSL/DXC
  lib/compilers/hlsl.ts
Labels: lang-hlsl

#5605 feat: update grammar of Cpp2
  static/modes/cppfront-mode.ts
Labels: ui

#5604 Add support for RISC-V GNU as
  etc/config/assembly.amazon.properties
Labels: lang-asm

#5638 Fix #5604
  etc/config/assembly.amazon.properties
Labels: lang-asm

#5636 Fix #5552
  static/panes/output.ts
Labels: ui

#5639 Add Qt 6.6.0
  etc/config/c++.amazon.properties
Labels: lang-c++

#5585 Allow disabling diffable asm manually
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#5629 Add the LLVM TableGen language
  .github/labeler.yml
  etc/config/tablegen.amazon.properties
  etc/config/tablegen.defaults.properties
  examples/tablegen/default.td
  lib/compilers/_all.ts
  lib/compilers/tablegen.ts
  lib/languages.ts
  static/modes/_all.ts
  static/modes/tablegen-mode.ts
  types/languages.interfaces.ts
Labels: ui

#5640 Add Solidity 0.8.21
  etc/config/solidity.amazon.properties
Labels: lang-solidity

#5666 Dont attempt to demangle (llvm-ir) if we cant
  lib/demangler/base.ts
  lib/llvm-ir.ts
Labels: lang-llvm

#5675 Sort Armv8 all architectural features clang below trunk version
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/cpp_for_opencl.amazon.properties
  etc/config/openclc.amazon.properties
Labels: lang-c++, lang-c, lang-c++-opencl, lang-opencl-c

#5665 Fix #5247
  static/components.interfaces.ts
  static/panes/ir-view.ts
Labels: ui

#5661 Fix crossgen2 compilation
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#5648 Always get version string for dotnet
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#5690 Handle errors in the LLVM transform
  lib/base-compiler.ts
  lib/llvm-opt-transformer.ts
  test/llvm-opt-transformer-test.ts
Labels: high priority, lang-llvm

#5671 Add seastar trunk and 2211 versions to CE
  etc/config/c++.amazon.properties
Labels: lang-c++

#5647 Fix libbpf includes
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#5652 LLVM TableGen: Add trunk compiler and default include path
  etc/config/tablegen.amazon.properties
  lib/compilers/tablegen.ts
Labels: lang-tablegen

#5662 Support LLVM-MCA for armv8-a clang
  etc/config/c++.amazon.properties
Labels: lang-c++

#5696 store exec+sandbox types
  lib/base-compiler.ts
  lib/compilers/clean.ts
Labels: lang-clean
