Repository compiler-explorer/compiler-explorer, pull requests merged in 2023-05, with the labels that each got.

#5005 Add LDC 1.32.1 and make it the default D compiler
  etc/config/d.amazon.properties
Labels: lang-d

#5013 Add Boost 1.82.0
  etc/config/c++.amazon.properties
Labels: lang-c++

#5012 Fix wrong compiler exec
  etc/config/c.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-c, lang-fortran

#5015 Add strong_type v11
  etc/config/c++.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-objc++

#5027 lang(cpp2): improve highlighting
  CONTRIBUTORS.md
  static/modes/cppfront-mode.ts
Labels: ui

#5026 fix categories for some clang compilers
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#5023 Added TypeScript Native 0.0.27 alpha
  etc/config/typescript.amazon.properties
  etc/config/typescript.defaults.properties
Labels: lang-typescript

#5036 Add native GCC 12.3.0
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
  etc/config/objc++.amazon.properties
  etc/config/objc.amazon.properties
Labels: lang-c++, lang-go, lang-d, lang-c, lang-fortran, lang-ada, lang-objc, lang-objc++

#5046 Assembly syntax highlight of comments after code
  static/modes/asm-mode.ts
Labels: ui, lang-asm

#5033 Add ISPC v1.20.0
  etc/config/ispc.amazon.properties
Labels: lang-ispc

#5057 Clarify a readelf / pahole error message and add readelf to defaults.properties
  etc/config/c++.defaults.properties
  etc/config/c.defaults.properties
  lib/tooling/pahole-tool.ts
  lib/tooling/readelf-tool.ts
Labels: lang-c++, lang-c

#5035 Update README.md
  README.md
Labels: documentation

#5068 Fix warning detection for wine msvc
  static/compiler-service.ts
Labels: ui

#5067 Make compiler full version tooltips scrollable
  static/styles/explorer.scss
Labels: ui

#5066 Better tab width handling
  static/panes/editor.ts
Labels: ui

#5072 min width spon thing
  static/styles/explorer.scss
Labels: ui

#5056 Fix ARM C cross compiler names
  etc/config/c.amazon.properties
Labels: lang-c

#5059 Add FRC 2023 Compilers
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#5061 feat: parse Cpp2 to highlight it
  static/modes/cppfront-mode.ts
  static/themes.ts
Labels: ui

#5045 Add new "Debug intrinsics" filter.
  docs/API.md
  lib/base-compiler.ts
  lib/clientstate-normalizer.ts
  lib/clientstate.ts
  lib/compilers/analysis-tool.ts
  lib/compilers/argument-parsers.ts
  lib/compilers/carbon.ts
  lib/compilers/circt.ts
  lib/compilers/clangcl.ts
  lib/compilers/java.ts
  lib/compilers/mlir.ts
  lib/compilers/osaca.ts
  lib/compilers/racket.ts
  lib/compilers/rust.ts
  lib/compilers/zig.ts
  lib/external-parsers/base.ts
  lib/handlers/compile.ts
  lib/llvm-ir.ts
  static/panes/compiler.ts
  test/analysis-tests.ts
  test/asm-tests.ts
  test/example-states/default-state.json
  test/state/andthekitchensink.json
  test/state/andthekitchensink.json.normalized
  test/state/bug-2231.json
  test/state/conformanceview.json
  test/state/conformanceview.json.normalized
  test/state/executor.json
  test/state/executor.json.normalized
  test/state/executorwrap.json
  test/state/executorwrap.json.normalized
  test/state/output-editor-id.json
  test/state/output-editor-id.normalized.json
  test/state/tree-gl-outputpane.json
  test/state/tree-gl-outputpane.normalized.json
  test/state/tree-gl.json
  test/state/tree-mobile.goldenified.json
  test/state/tree-mobile.json
  test/state/tree.goldenified.json
  test/state/tree.json
  test/state/tree.normalized.json
  test/state/twocompilers.json
  test/state/twocompilers.json.normalized
  types/compiler.interfaces.ts
  types/features/filters.interfaces.ts
  views/options-filters.pug
Labels: ui, documentation, lang-mlir, lang-circt, lang-racket

#5090 Add native GCC 11.4.0
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
  etc/config/objc++.amazon.properties
  etc/config/objc.amazon.properties
Labels: lang-c++, lang-go, lang-d, lang-c, lang-fortran, lang-ada, lang-objc, lang-objc++

#5074 Egregiously overengineered fix for a niche UI bug
  static/main.ts
  static/styles/explorer.scss
Labels: ui

#5076 Better compiler argument warnings handling
  README.md
  static/compiler-service.interfaces.ts
  static/compiler-service.ts
  static/panes/compiler.ts
  static/panes/executor.ts
  static/settings.ts
  static/styles/explorer.scss
  static/styles/themes/dark-theme.scss
  static/styles/themes/default-theme.scss
  static/styles/themes/pink-theme.scss
  views/popups/settings.pug
Labels: ui, documentation

#5081 Add something to the context menu in place of paste when not supported
  static/panes/editor.ts
Labels: ui
