Repository compiler-explorer/compiler-explorer, pull requests merged in 2024-10, with the labels that each got.

#6853 Update C3 default compiler and do some further fixes to C3-mode.
  etc/config/c3.amazon.properties
  static/modes/c3-mode.ts
Labels: ui, lang-c3

#6917 Introduce opt-pipeline for ClangIr
  lib/base-compiler.ts
  lib/compilers/argument-parsers.ts
  lib/parsers/llvm-pass-dump-parser.ts
  static/panes/opt-pipeline.ts
  types/compiler.interfaces.ts
Labels: ui

#6921 Add quill v7.3.0
  etc/config/c++.amazon.properties
Labels: lang-c++

#6883 Add preliminary GLSL support
  .github/labeler.yml
  etc/config/glsl.defaults.properties
  examples/glsl/default.glsl
  lib/compilers/_all.ts
  lib/compilers/glsl.ts
  lib/languages.ts
  static/modes/_all.ts
  static/modes/glsl-mode.ts
  types/languages.interfaces.ts
Labels: ui

#6925 Temporarily disable linking and execution for clang-cl
  etc/config/c++.amazonwin.properties
Labels: lang-c++

#6908 Flang: Remove flang-to-external-fc support and "new" from names
  etc/config/fortran.amazon.properties
  etc/config/fortran.defaults.properties
  lib/compilers/argument-parsers.ts
  lib/compilers/flang.ts
Labels: lang-fortran

#6922 IL: Fixes include path for Linux
  examples/il/default.il
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#6927 Surface Dart 3.2 to 3.5 releases
  etc/config/dart.amazon.properties
Labels: lang-dart

#6919 feat: added ability to receive a base64 with compressed clientstate, #6918
  CONTRIBUTORS.md
  docs/API.md
  lib/handlers/route-api.ts
  test/handlers/route-api-test.ts
Labels: documentation

#6928 .NET: Invoke compiler directly to speed up compilation
  etc/config/vb.defaults.properties
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#6910 Changes for NVIDIA HPC SDK 24.9 (fixed)
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/cuda.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-c++, lang-c, lang-cuda, lang-fortran

#6937 Tooltips for llvm ir
  etc/scripts/docenizers/docenizer-llvm.ts
  lib/asm-docs/generated/asm-docs-llvm.ts
  static/panes/ir-view.ts
Labels: ui

#6943 .NET: Stop using a response file
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#6946 Update c.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c

#6939 Add trompeloeil v49
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-circle, lang-objc++

#6938 [Spice] Add version 0.20.6
  etc/config/spice.amazon.properties
Labels: lang-spice

#6934 zig: update default version to 0.13.0
  etc/config/zig.amazon.properties
Labels: lang-zig

#6931 Remember the compiler pickers isa and group filters + search
  static/widgets/compiler-picker-popup.ts
Labels: ui

#6954 Eliminate all google-analytics dead code
  lib/csp.ts
  static/main.ts
  static/motd.ts
  static/panes/ast-view.ts
  static/panes/cfg-view.ts
  static/panes/clangir-view.ts
  static/panes/compiler.ts
  static/panes/conformance-view.ts
  static/panes/device-view.ts
  static/panes/diff.ts
  static/panes/editor.ts
  static/panes/executor.ts
  static/panes/flags-view.ts
  static/panes/gccdump-view.ts
  static/panes/gnatdebug-view.ts
  static/panes/gnatdebugtree-view.ts
  static/panes/haskellcmm-view.ts
  static/panes/haskellcore-view.ts
  static/panes/haskellstg-view.ts
  static/panes/ir-view.ts
  static/panes/opt-pipeline.ts
  static/panes/opt-view.ts
  static/panes/output.ts
  static/panes/pane.ts
  static/panes/pp-view.ts
  static/panes/rusthir-view.ts
  static/panes/rustmacroexp-view.ts
  static/panes/rustmir-view.ts
  static/panes/stack-usage-view.ts
  static/panes/tool-input-view.ts
  static/panes/tool.ts
  static/panes/tree.ts
  static/sharing.ts
  static/widgets/compiler-picker.ts
  static/widgets/history-widget.ts
  static/widgets/load-save.ts
Labels: ui

#6957 LLVM Flang: Use "flang" binary instead of "flang-new" symlink
  etc/config/fortran.amazon.properties
  etc/config/fortran.defaults.properties
Labels: lang-fortran

#6950 feat: update grammar of Cpp2
  static/modes/cppfront-mode.ts
Labels: ui

#6963 Add QT 6.8.0
  etc/config/c++.amazon.properties
Labels: lang-c++

#6972 Added p3412 lines to a configuration file.
  etc/config/c++.amazon.properties
Labels: lang-c++

#6975 [LIBRARY_REQUEST] beman_optional26: fix deployment after the library was renamed inside the Beman project
  etc/config/c++.amazon.properties
Labels: lang-c++

#6979 A few leftovers that escaped the google-analytics cleanup
  lib/options-handler.ts
  static/analytics.ts
  static/global.ts
Labels: ui

#6960 Add mimic++ as c++ header-only library
  etc/config/c++.amazon.properties
Labels: lang-c++

#6964 Add ISPC v1.25.0
  etc/config/ispc.amazon.properties
Labels: lang-ispc

#6961 use OSACA v0.6.1
  etc/config/analysis.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/clean.amazon.properties
  etc/config/cppx.amazon.properties
  etc/config/cppx_blue.amazon.properties
  etc/config/cppx_gold.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/gimple.amazon.properties
  etc/config/go.amazon.properties
  etc/config/haskell.amazon.properties
  etc/config/ispc.amazon.properties
  etc/config/llvm.amazon.properties
  etc/config/objc++.amazon.properties
  etc/config/objc.amazon.properties
  etc/config/pascal.amazon.properties
  etc/config/rust.amazon.properties
  etc/config/spice.amazon.properties
  etc/config/swift.amazon.properties
  etc/config/zig.amazon.properties
Labels: lang-c++, lang-rust, lang-go, lang-d, lang-haskell, lang-ispc, lang-swift, lang-pascal, lang-c, lang-zig, lang-fortran, lang-clean, lang-cppx, lang-llvm, lang-objc, lang-objc++, lang-gimple, lang-spice

#6965 Added MatX version v0.9.0
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#6968 Rust 1.82.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#6969 Update CCCL versions
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#6956 Add Python 3.13 and make it the default
  etc/config/python.amazon.properties
Labels: lang-python

#6949 Add Crystal 1.14.0 and 1.13.3
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#6986 Minor bump
  package-lock.json
  package.json
  static/panes/tree.ts
Labels: ui

#6973 Do not cache the sdk version and compiler path
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#7010 Add display for internal compiler id
  static/panes/compiler.ts
  static/panes/executor.ts
  static/widgets/compiler-version-info.ts
Labels: ui

#7011 Fix #6967: drop external contracts in SolidityCompiler.processAsm
  lib/compilers/solidity.ts
Labels: lang-solidity

#7002 Show that pane is already open when disabling the button to create a new pane
  static/panes/compiler.ts
  static/styles/explorer.scss
  views/templates/panes/compiler.pug
Labels: ui

#7017 Rename panes/tool.interfaces to tool.state to avoid file duplicity
  static/components.interfaces.ts
  static/event-map.ts
  static/panes/tool-input-view.ts
  static/panes/tool.interfaces.ts
  static/panes/tool.ts
Labels: ui

#7018 Tsify tools (mostly)
  app.ts
  lib/base-compiler.ts
  lib/buildenvsetup/base.ts
  lib/cache/s3.ts
  lib/compilers/assembly.ts
  lib/compilers/cc65.ts
  lib/compilers/clang.ts
  lib/compilers/llvm-mos.ts
  lib/compilers/nvcc.ts
  lib/compilers/nvcpp.ts
  lib/handlers/compile.ts
  lib/tooling/base-tool.interface.ts
  lib/tooling/base-tool.ts
  lib/tooling/bloaty-tool.ts
  lib/tooling/clang-format-tool.ts
  lib/tooling/clang-query-tool.ts
  lib/tooling/clang-tidy-tool.ts
  lib/tooling/compiler-dropin-tool.ts
  lib/tooling/llvm-dwarfdump-tool.ts
  lib/tooling/llvm-mca-tool.ts
  lib/tooling/nm-tool.ts
  lib/tooling/osaca-tool.ts
  lib/tooling/pahole-tool.ts
  lib/tooling/pvs-studio-tool.ts
  lib/tooling/readelf-tool.ts
  lib/tooling/sonar-tool.ts
  lib/tooling/strings-tool.ts
  lib/tooling/x86to6502-tool.ts
  static/components.interfaces.ts
  static/event-map.ts
  static/panes/compiler.ts
  static/panes/device-view.ts
  static/panes/diff.ts
  static/panes/editor.ts
  static/panes/tool.ts
  test/stats-test.ts
  types/compilation/compilation.interfaces.ts
  types/compiler.interfaces.ts
Labels: ui, lang-c, lang-cuda, lang-asm, lang-llvm

#7021 TSify StackUsage and others
  lib/base-compiler.ts
  lib/compilers/clang.ts
  lib/compilers/golang.ts
  lib/compilers/nvcc.ts
  lib/compilers/v.ts
  lib/storage/base.ts
  static/multifile-service.ts
  static/panes/editor.ts
Labels: lang-go, ui, lang-cuda, lang-v

#7022 Unify CompileChildLibraries and SelectedVersionLibraries
  lib/base-compiler.ts
  lib/compilers/ada.ts
  lib/compilers/cc65.ts
  lib/compilers/cppfront.ts
  lib/compilers/dart.ts
  lib/compilers/fake-for-test.ts
  lib/compilers/flang-fc1.ts
  lib/compilers/fortran.ts
  lib/compilers/gnucobol.ts
  lib/compilers/haskell.ts
  lib/compilers/hylo.ts
  lib/compilers/jakt.ts
  lib/compilers/nasm.ts
  lib/compilers/pythran.ts
  lib/compilers/racket.ts
  lib/compilers/rust.ts
  lib/compilers/rustc-cg-gcc.ts
  lib/compilers/snowball.ts
  lib/compilers/spirv.ts
  lib/compilers/toit.ts
  lib/compilers/turboc.ts
  lib/compilers/v.ts
  lib/compilers/vala.ts
  lib/compilers/win32.ts
  lib/compilers/ylc.ts
  lib/handlers/compile.ts
  lib/stats.ts
  static/panes/conformance-view.ts
  types/compilation/compilation.interfaces.ts
  types/compiler.interfaces.ts
Labels: lang-rust, ui, lang-haskell, lang-c, lang-fortran, lang-python, lang-ada, lang-asm, lang-dart, lang-toit, lang-jakt, lang-racket, lang-cobol, lang-vala, lang-snowball, lang-v

#6700 Remote execution
  app.ts
  etc/config/compiler-explorer.aarch64prod.properties
  etc/config/compiler-explorer.aarch64staging.properties
  etc/config/compiler-explorer.amazon.properties
  etc/config/compiler-explorer.amazonwin.properties
  etc/config/compiler-explorer.staging.properties
  etc/config/execution.aarch64.properties
  etc/config/rust.amazon.properties
  lib/base-compiler.ts
  lib/binaries/binary-utils.ts
  lib/binaries/win-utils.ts
  lib/compilation-env.ts
  lib/compilers/cerberus.ts
  lib/compilers/java.ts
  lib/compilers/kotlin.ts
  lib/compilers/rust.ts
  lib/compilers/win32-mingw-clang.ts
  lib/compilers/win32-mingw-gcc.ts
  lib/execution/base-execution-env.ts
  lib/execution/base-execution-triple.ts
  lib/execution/events-websocket.ts
  lib/execution/execution-query.ts
  lib/execution/execution-triple.ts
  lib/execution/remote-execution-env.ts
  lib/execution/sqs-execution-queue.ts
  lib/handlers/compile.interfaces.ts
  lib/handlers/compile.ts
  lib/handlers/health-check.ts
  lib/instructionsets.ts
  lib/properties.ts
  lib/toolchain-utils.ts
  package-lock.json
  package.json
  static/panes/compiler.ts
  static/panes/executor.ts
  test/base-compiler-tests.ts
  test/compilation-env.ts
  test/execution-triple-tests.ts
  test/handlers/health-check-tests.ts
  test/library-tests.ts
  test/test-properties/rust/rust.local.properties
  test/tool-tests.ts
  test/utils.ts
  types/compilation/compilation.interfaces.ts
  types/instructionsets.ts
Labels: lang-c++, lang-rust, ui, lang-java, lang-kotlin

#7023 Store times in `number`s only
  lib/base-compiler.ts
  lib/buildenvsetup/buildenv.interfaces.ts
  lib/buildenvsetup/ceconan.ts
  lib/compilers/assembly.ts
  lib/compilers/rga.ts
  lib/exec.ts
  lib/execution/base-execution-env.ts
  lib/parsers/asm-parser-beebasm.ts
  lib/parsers/asm-parser-cpp.ts
  lib/parsers/asm-parser-dart.ts
  lib/parsers/asm-parser-dotnet.ts
  lib/parsers/asm-parser-mads.ts
  lib/parsers/asm-parser-spirv.ts
  lib/parsers/asm-parser-z88dk.ts
  lib/parsers/asm-parser.ts
  lib/utils.ts
  test/asm-tests.ts
  types/asmresult/asmresult.interfaces.ts
  types/compilation/compilation.interfaces.ts
  types/execution/execution.interfaces.ts
Labels: lang-asm, lang-dotnet

#7026 Unhide secret words
  docs/API.md
Labels: documentation

#7028 Extra safety around executeParameters.args
  static/panes/executor.ts
  types/compilation/compilation.interfaces.ts
Labels: ui

#7030 In diff view, protect against undefined asm (case of a failed build)
  static/panes/diff.ts
Labels: ui

#7031 Make 'new source editor' preserve the origin language
  static/components.ts
  static/multifile-service.ts
  static/panes/editor.ts
  static/panes/tree.ts
Labels: ui

#7025 Various tsifications
  app.ts
  lib/base-compiler.ts
  lib/buildenvsetup/ceconan.ts
  lib/clientstate-normalizer.ts
  lib/clientstate.ts
  lib/compilers/clang.ts
  lib/compilers/cppfront.ts
  lib/compilers/gnucobol.ts
  lib/compilers/jakt.ts
  lib/compilers/rust.ts
  lib/compilers/snowball.ts
  lib/compilers/v.ts
  lib/compilers/vala.ts
  lib/compilers/win32.ts
  lib/handlers/noscript.ts
  lib/handlers/route-api.ts
  lib/logger.ts
  lib/stats.ts
  package-lock.json
  package.json
  test/state/andthekitchensink.normalized.json
  test/state/conformanceview.normalized.json
  test/state/executor.normalized.json
  test/state/executorwrap.normalized.json
  test/state/libsegfault.normalized.json
  test/state/twocompilers.normalized.json
  test/statenormalisation-tests.ts
  test/stats-test.ts
Labels: lang-rust, lang-jakt, lang-cobol, lang-vala, lang-snowball, lang-v

#7035 Reintroduce `[already open]` for “new tool” buttons
  static/panes/compiler.ts
Labels: ui

#7034 Remove legacy test dependencies
  package-lock.json
  package.json
  static/tests/hello-world.ts
  static/tests/motd.ts
Labels: ui

#7003 [rust] update `clap` crate
  etc/config/rust.amazon.properties
Labels: lang-rust

#7036 Tooltips for llvm opt output
  static/panes/compiler.ts
Labels: ui

#6947 Add SPIR-V language with SPIRV-Tools compilers
  .github/labeler.yml
  etc/config/spirv.amazon.properties
  etc/config/spirv.defaults.properties
  examples/spirv/default.spvasm
  lib/compilers/_all.ts
  lib/compilers/spirv-tools.ts
  lib/compilers/spirv.ts
  lib/languages.ts
  types/languages.interfaces.ts
  views/resources/logos/spirv.svg
Labels: ui

#7041 Add GLSL Logo
  lib/languages.ts
  views/resources/logos/glsl-dark.svg
  views/resources/logos/glsl.svg
Labels: ui
