Repository compiler-explorer/compiler-explorer, pull requests merged in 2024-04, with the labels that each got.

#6309 Create the real dark mode
  static/colour.ts
  static/main.ts
  static/real-dark.ts
  static/styles/explorer.scss
  static/themes.ts
  views/index.pug
Labels: ui

#6262 Add new keywords to LLVM IR mode
  static/modes/llvm-ir-mode.ts
Labels: ui, lang-llvm

#6316 Add LDC 1.37.0 and make it the default D compiler
  etc/config/d.amazon.properties
Labels: lang-d

#6265 Optionally show disambiguating hashes in demangled Rust identifiers
  etc/config/rust.amazon.properties
  etc/config/rust.defaults.properties
  lib/base-compiler.ts
  lib/compilers/gccrs.ts
  lib/compilers/rust.ts
  static/panes/compiler.ts
  types/compiler.interfaces.ts
  types/features/filters.interfaces.ts
  views/options-output.pug
Labels: lang-rust, ui

#6285 [julia] Add LLVM IrView
  etc/scripts/julia_wrapper.jl
  lib/base-compiler.ts
  lib/compilers/julia.ts
Labels: lang-julia

#6325 Implement alert filters for library dialog
  static/widgets/libs-widget.ts
Labels: ui

#6324 Add one dark theme
  CONTRIBUTORS.md
  static/colour.ts
  static/styles/colours.scss
  static/styles/explorer.scss
  static/styles/themes/custom-golden-layout-themes/one-dark.scss
  static/styles/themes/one-dark-theme.scss
  static/themes.ts
Labels: ui

#6339 docs/API.md: Document /api/asm/<instructionSet>/<opcode>
  docs/API.md
Labels: documentation

#6341 Correct several colors in one dark
  static/styles/themes/custom-golden-layout-themes/one-dark.scss
  static/styles/themes/one-dark-theme.scss
Labels: ui

#6334 Simplify Android compiler properties
  etc/config/android-java.amazon.properties
  etc/config/android-java.defaults.properties
  etc/config/android-kotlin.amazon.properties
  etc/config/android-kotlin.defaults.properties
  lib/compilers/d8.ts
  lib/compilers/dex2oat.ts
Labels: lang-android-java, lang-android-kotlin

#6331 Add llvm 18 compilers for LLVM IR/MIR, assembly and TableGen
  etc/config/assembly.amazon.properties
  etc/config/llvm.amazon.properties
  etc/config/llvm_mir.amazon.properties
  etc/config/tablegen.amazon.properties
Labels: lang-asm, lang-llvm, lang-tablegen

#6322 [HLSL] Add DXC 1.8.2403.2 release
  etc/config/hlsl.amazon.properties
Labels: lang-hlsl

#6326 Use rustfmt from the latest rust release
  etc/config/rust.amazon.properties
  lib/formatters/rustfmt.ts
Labels: lang-rust

#6354 Add simple filters for llvm optimiziation-remarks
  lib/base-compiler.ts
  static/panes/opt-view.interfaces.ts
  static/panes/opt-view.ts
  views/templates/panes/compiler.pug
  views/templates/panes/ir.pug
  views/templates/panes/opt-view.pug
  views/templates/templates.pug
Labels: ui

#6371 Make Swift 5.10 not nightly
  etc/config/swift.amazon.properties
Labels: lang-swift

#6375 Add the `phf` crate for Rust
  CONTRIBUTORS.md
  etc/config/rust.amazon.properties
Labels: lang-rust

#6373 Update the default DXC to the latest release.
  etc/config/hlsl.amazon.properties
Labels: lang-hlsl

#6374 Propagate java/kotlin errors to D8
  lib/compilers/d8.ts
Labels: lang-android-java, lang-android-kotlin

#6377 Add Zig 0.12.0
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/zig.amazon.properties
Labels: lang-c++, lang-c, lang-zig

#6367 Kokkos `4.3.0`
  etc/config/c++.amazon.properties
Labels: lang-c++

#6345 Updated java toolchain
  etc/config/java.amazon.properties
Labels: lang-java

#6173 Dynamic instruction set for documentation
  lib/base-compiler.ts
  lib/instructionsets.ts
  static/panes/compiler.ts
  test/base-compiler-tests.ts
  test/instructionsets-tests.ts
  types/compilation/compilation.interfaces.ts
Labels: ui

#6302 Disable GA
  etc/config/compiler-explorer.amazon.properties
  etc/scripts/parsed-pug/parsed_pug_file.js
  static/analytics.ts
  static/generated/cookies.pug
  static/generated/privacy.pug
  static/global.ts
Labels: ui

#6387 Migrate to eslint-plugin-n; as ...-node is deprecated
  .eslintrc.yml
  app.ts
  cypress.config.ts
  lib/.eslintrc.cjs
  lib/aws.ts
  lib/compilation-queue.ts
  package-lock.json
  package.json
  shared/.eslintrc.cjs
  static/.eslintrc.cjs
  test/.eslintrc.yml
  vitest.config.ts
  webpack.config.esm.ts
Labels: ui

#6369 Add RGA 2.9
  etc/config/hlsl.amazon.properties
Labels: lang-hlsl

#6395 Fix #6394: preserve optview filters when sharing
  static/panes/opt-view.ts
Labels: ui

#6393 Opt remarks: replace hover-over-sidebar display with inline text
  lib/llvm-opt-transformer.ts
  static/panes/opt-view.interfaces.ts
  static/panes/opt-view.ts
  static/styles/themes/dark-theme.scss
  static/styles/themes/default-theme.scss
  static/styles/themes/one-dark-theme.scss
  static/styles/themes/pink-theme.scss
Labels: ui, lang-llvm

#6397 Removed UseDynamicNumberOfCompilerThreads command-line argument when running on java <11
  lib/compilers/java.ts
Labels: lang-java

#6407 Fix inline opt-remarks: toggling a filter off did not remove the remarks from the display.
  static/panes/opt-view.ts
Labels: ui

#6382 Add profile support for dex2oat.
  etc/config/android-java.amazon.properties
  etc/config/android-java.defaults.properties
  etc/config/android-kotlin.amazon.properties
  etc/config/android-kotlin.defaults.properties
  examples/android-java/default.java
  examples/android-kotlin/default.kt
  lib/compilers/dex2oat.ts
Labels: lang-android-java, lang-android-kotlin

#6368 Cmake updates
  etc/config/cmakescript.amazon.properties
Labels: lang-cmakescript

#6404 Add bincode support for Rust
  etc/config/rust.amazon.properties
Labels: lang-rust

#6405 [Spice] Add version 0.19.6
  etc/config/spice.amazon.properties
Labels: lang-spice
