Repository compiler-explorer/compiler-explorer, pull requests merged in 2024-06, with the labels that each got.

#6523 [Spice] Add version 0.20.0
  etc/config/spice.amazon.properties
Labels: lang-spice

#6527 Changes for NVIDIA HPC SDK 24.5
  etc/config/c++.amazon.properties
  etc/config/cuda.amazon.properties
Labels: lang-c++, lang-cuda

#6539 Update cuda.amazon.properties for CUDA 12.4u1
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#6556 fix kotlin execution result when compilation fails
  lib/compilers/java.ts
  lib/compilers/kotlin.ts
Labels: lang-java, lang-kotlin

#6514 Support Android API stubs
  etc/config/android-java.amazon.properties
  etc/config/android-kotlin.amazon.properties
  lib/compilers/d8.ts
  lib/compilers/dex2oat.ts
Labels: lang-android-java, lang-android-kotlin

#6563 Add @dascandy's contracts branch
  etc/config/c++.amazon.properties
Labels: lang-c++

#6548 [Spice] Add version 0.20.1
  etc/config/spice.amazon.properties
Labels: lang-spice

#6506 Update Android compilers (D8, dex2oat)
  etc/config/android-java.amazon.properties
  etc/config/android-kotlin.amazon.properties
Labels: lang-android-java, lang-android-kotlin

#6542 Add liblzma (v5.6.2), fix which use
  etc/config/c.amazon.properties
Labels: lang-c

#6572 Use improved ansi colors for one dark pro
  static/styles/themes/ansi-dark.scss
  static/styles/themes/dark-theme.scss
  static/styles/themes/one-dark-theme.scss
Labels: ui

#6429 Add webassembly language
  .github/labeler.yml
  etc/config/wasm.amazon.properties
  etc/config/wasm.defaults.properties
  examples/wasm/default.wat
  lib/compilers/_all.ts
  lib/compilers/argument-parsers.ts
  lib/compilers/wasmtime.ts
  lib/languages.ts
  static/modes/_all.ts
  static/modes/wat-mode.ts
  types/languages.interfaces.ts
  views/resources/logos/wasm.svg
Labels: ui

#6552 Add full-url capture for sentry messages triggered in front end
  static/main.ts
  static/sentry.ts
Labels: ui

#6589 Update llvm-objdump for Webassembly
  etc/config/wasm.amazon.properties
Labels: lang-wasm

#6522 Refactor and adding new dotnet compilers
  etc/config/csharp.amazon.properties
  etc/config/csharp.defaults.properties
  etc/config/fsharp.amazon.properties
  etc/config/fsharp.defaults.properties
  etc/config/vb.amazon.properties
  etc/config/vb.defaults.properties
  lib/compilers/_all.ts
  lib/compilers/dotnet.ts
Labels: lang-dotnet

#6595 Add 'wrap lines' toggle to ir-view
  static/panes/ir-view.interfaces.ts
  static/panes/ir-view.ts
  views/templates/panes/ir.pug
Labels: ui

#6606 Horizontal scroll the entire execution pane
  static/panes/executor.ts
  static/styles/explorer.scss
Labels: ui

#6605 Remember scroll position on recompile
  static/panes/compiler.ts
Labels: ui

#6570 Add a way to filter opt-pipeline passes
  static/panes/opt-pipeline.ts
  views/templates/panes/opt-pipeline.pug
Labels: ui

#6601 Add Boost 1.85.0
  etc/config/c++.amazon.properties
Labels: lang-c++

#6612 [Spice] Add version 0.20.2
  etc/config/spice.amazon.properties
Labels: lang-spice

#6618 Add support for filtering debug records in LLVM IR
  lib/llvm-ir.ts
  lib/parsers/llvm-pass-dump-parser.ts
  test/llvm-pass-dump-parser-tests.ts
Labels: lang-llvm

#6592 Add ZKsync solidity compiler 1.4.1 and 1.5.0
  .github/labeler.yml
  etc/config/solidity.amazon.properties
  etc/config/solidity.defaults.properties
  lib/compilers/_all.ts
  lib/compilers/solidity-zksync.ts
Labels: lang-solidity

#6616 add some msvc compilers
  etc/config/c++.amazon.properties
  etc/config/c++.amazonwin.properties
  lib/base-compiler.ts
  lib/compilers/win32.ts
Labels: lang-c++

#6623 Add missing ExecutionEnvironmentClass for dotnet
  etc/config/csharp.amazon.properties
  etc/config/csharp.defaults.properties
  etc/config/fsharp.amazon.properties
  etc/config/fsharp.defaults.properties
  etc/config/vb.amazon.properties
  etc/config/vb.defaults.properties
Labels: lang-dotnet

#6625 Port over the C++ compilers to C
  etc/config/c.amazonwin.properties
Labels: lang-c

#6604 Add C23 keywords to our C highlighting mode
  static/modes/nc-mode.ts
Labels: ui

#6626 Add aliases for 19_38
  etc/config/c++.amazonwin.properties
  etc/config/c.amazonwin.properties
Labels: lang-c++, lang-c

#6627 Comply with some MS terms
  docs/Privacy.md
  etc/config/c++.amazonwin.properties
  etc/config/c.amazonwin.properties
  etc/scripts/parsed-pug/parsed_pug_file.js
  lib/base-compiler.ts
  lib/compiler-finder.ts
  static/generated/privacy.pug
  types/compiler.interfaces.ts
Labels: lang-c++, ui, documentation, lang-c

#6628 Fix alias...again
  etc/config/c++.amazonwin.properties
  etc/config/c.amazonwin.properties
Labels: lang-c++, lang-c

#6630 Add clang-rocm 6.0.2 and 6.1.2 for C++
  etc/config/c++.amazon.properties
  etc/config/cuda.amazon.properties
Labels: lang-c++, lang-cuda

#6635 Add CLI11 version 2.4.2
  etc/config/c++.amazon.properties
Labels: lang-c++

#6637 Add GCC 12.4 for native and cross
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/gimple.amazon.properties
  etc/config/go.amazon.properties
  etc/config/objc++.amazon.properties
  etc/config/objc.amazon.properties
Labels: lang-c++, lang-go, lang-d, lang-c, lang-fortran, lang-ada, lang-objc, lang-objc++, lang-gimple

#6640 Upgrade gcc-toolchain version used for clang 7-9
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#6642 Set instruction sets for msvc compilers
  etc/config/c++.amazonwin.properties
Labels: lang-c++

#6644 re-fix #6622: upgrade to a nearer gcc-toolchain version
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#6652 Add Beman.Optional26 library trunk version
  etc/config/c++.amazon.properties
Labels: lang-c++

#6621 Move dex2oat profiles from inline to template
  etc/config/site-templates.conf
  examples/android-java/default.java
  examples/android-kotlin/default.kt
  lib/compilers/d8.ts
  lib/compilers/dex2oat.ts
  views/resources/template_screenshots/AndroidJavaIDE.dark.png
  views/resources/template_screenshots/AndroidJavaIDE.darkplus.png
  views/resources/template_screenshots/AndroidJavaIDE.default.png
  views/resources/template_screenshots/AndroidJavaIDE.onedark.png
  views/resources/template_screenshots/AndroidJavaIDE.pink.png
  views/resources/template_screenshots/AndroidJavaIDE.real-dark.png
  views/resources/template_screenshots/AndroidKotlinIDE.dark.png
  views/resources/template_screenshots/AndroidKotlinIDE.darkplus.png
  views/resources/template_screenshots/AndroidKotlinIDE.default.png
  views/resources/template_screenshots/AndroidKotlinIDE.onedark.png
  views/resources/template_screenshots/AndroidKotlinIDE.pink.png
  views/resources/template_screenshots/AndroidKotlinIDE.real-dark.png
Labels: ui, lang-android-java, lang-android-kotlin

#6641 Setup temporary msvc latest aliases for the latest versions we have
  etc/config/c++.amazonwin.properties
Labels: lang-c++

#6631 Support Kotlin 2.0.0
  etc/config/kotlin.amazon.properties
Labels: lang-kotlin

#6643 Fix objdumper for clang arm64
  etc/config/c++.amazon.properties
Labels: lang-c++

#6591 Add R8 for Android
  etc/config/android-java.amazon.properties
  etc/config/android-kotlin.amazon.properties
  examples/android-java/R8Example.java
  examples/android-java/default.java
  examples/android-kotlin/R8Example.kt
  examples/android-kotlin/default.kt
  lib/compilers/_all.ts
  lib/compilers/dex2oat.ts
  lib/compilers/r8.ts
Labels: lang-android-java, lang-android-kotlin

#6639 Add build info for libraries
  static/styles/explorer.scss
  static/widgets/libs-widget.ts
  views/templates/widgets/lib-search-result-tpl.pug
Labels: ui

#6611 Fix paneRenaming not affecting source editor
  static/panes/editor.ts
Labels: ui

#6671 Stop fixing stack-usage/opt-remarks font size
  static/styles/themes/default-theme.scss
Labels: ui

#6669 Change the default delay before re-compilation from 750 to 1500 ms
  static/settings.ts
  views/popups/settings.pug
Labels: ui

#6672 Add @je4d's p1974 clang
  etc/config/c++.amazon.properties
Labels: lang-c++
