Repository compiler-explorer/compiler-explorer, pull requests merged in 2024-03, with the labels that each got.

#6209 Disable sharing clipboard button when link generation fails
  static/sharing.ts
Labels: ui

#6203 [Spice] Also apply abort-after-dump option to assembly output
  lib/compilers/spice.ts
Labels: lang-spice

#6200 Add new cpptrace and libassert versions
  etc/config/c++.amazon.properties
Labels: lang-c++

#6213 Add a new sponsor: ThinkCell. Thank you!
  etc/config/sponsors.yaml
  static/styles/explorer.scss
Labels: ui

#6214 [Spice] Add version 0.19.4
  etc/config/spice.amazon.properties
Labels: lang-spice

#6223 Support colour background for think-cell
  etc/config/sponsors.yaml
  lib/sponsors.interfaces.ts
  lib/sponsors.ts
  test/sponsors-test.ts
  views/bits/sponsors-content.pug
Labels: ui

#6221 Add digit separators to long numbers in numeric tooltip
  lib/languages.ts
  shared/common-utils.ts
  static/panes/compiler.ts
  test/common-utils-tests.ts
  types/languages.interfaces.ts
Labels: ui

#6226 Fix an element on('dragstart') applies to
  static/panes/compiler.ts
Labels: ui

#6235 Add the missing clang 18s
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#6236 Replace the deprecated `substr` with `substring`
  lib/base-compiler.ts
  lib/buildenvsetup/ceconan-rust.ts
  lib/compiler-arguments.ts
  lib/compilers/argument-parsers.ts
  lib/compilers/clang.ts
  lib/compilers/java.ts
  lib/compilers/llvm-mos.ts
  lib/compilers/pascal.ts
  lib/compilers/ptxas.ts
  lib/compilers/wine-vc.ts
  lib/demangler/pascal.ts
  lib/demangler/prefix-tree.ts
  lib/llvm-ir.ts
  lib/parsers/asm-parser-hexagon.ts
  lib/parsers/asm-parser.ts
  lib/storage/base.ts
  lib/utils.ts
  static/ansi-to-html.ts
  static/sharing.ts
Labels: ui, lang-pascal, lang-java, lang-asm, lang-llvm

#6244 Support for bloomberg reflection p2996 cc @katzdm
  etc/config/c++.amazon.properties
Labels: lang-c++

#6228 Allow overriding clang demangler from properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/cpp_for_opencl.amazon.properties
  etc/config/llvm.amazon.properties
  etc/config/openclc.amazon.properties
  lib/compilers/clang.ts
Labels: lang-c++, lang-c, lang-c++-opencl, lang-opencl-c, lang-llvm

#6251 Add cpptrace 0.5.0
  etc/config/c++.amazon.properties
Labels: lang-c++

#6234 Decode UTF-8 encoded strings in numeric tooltip
  static/panes/compiler.ts
  static/panes/device-view.ts
  static/utils.ts
  test/static/utils-tests.ts
Labels: ui

#6243 Changes for NVIDIA HPC SDK 24.3
  etc/config/c++.amazon.properties
Labels: lang-c++

#6253 Add libassert 2.0.0
  etc/config/c++.amazon.properties
Labels: lang-c++

#5848 Ansi color theming
  static/ansi-to-html.ts
  static/panes/executor.ts
  static/panes/output.ts
  static/styles/explorer.scss
  static/styles/themes/dark-theme.scss
Labels: ui

#6266 Attempt to disable sticky scroll
  static/monaco-config.ts
Labels: ui

#6267 Rust 1.77.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#6281 [julia] Do not modify in-place `options` in `runCompiler`
  lib/compilers/julia.ts
Labels: lang-julia

#6263 Add strong_type v14
  etc/config/c++.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-objc++

#6270 [Spice] Add version 0.19.5
  etc/config/spice.amazon.properties
Labels: lang-spice

#6283 Add julia nightly compiler
  etc/config/julia.amazon.properties
Labels: lang-julia

#6284 Add `zerocopy` crate
  CONTRIBUTORS.md
  etc/config/rust.amazon.properties
Labels: lang-rust

#6286 Add MadPascal
  etc/config/pascal.amazon.properties
  lib/compilers/_all.ts
  lib/compilers/argument-parsers.ts
  lib/compilers/madpascal.ts
  lib/parsers/asm-parser-mads.ts
Labels: lang-pascal

#6282 Add DXC 1.8.2403 releases
  etc/config/hlsl.amazon.properties
Labels: lang-hlsl

#6296 Add Go 1.22
  etc/config/go.amazon.properties
Labels: lang-go
