Repository compiler-explorer/compiler-explorer, pull requests merged in 2024-07, with the labels that each got.

#6653 Added Intel OneAPI 2024.1 and 2024.2
  etc/config/c++.amazon.properties
Labels: lang-c++

#6677 Adds new MSVC C compilers; updates aliases, points latest at v40
  etc/config/c++.amazonwin.properties
  etc/config/c.amazonwin.properties
Labels: lang-c++, lang-c

#6678 Adds 'latest' manually configured for now
  etc/config/c++.amazonwin.properties
  etc/config/c.amazonwin.properties
Labels: lang-c++, lang-c

#6655 Add wasmtime versions 21.0.1 and 22.0.0
  etc/config/wasm.amazon.properties
  etc/config/wasm.defaults.properties
Labels: lang-wasm

#6679 Adding ruby 3.2.2 to ruby.amazon.properties
  etc/config/ruby.amazon.properties
Labels: lang-ruby

#6683 Fix HIP/CUDA for rocm-6.1.2
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#6686 Update to SDCC 4.4.0
  etc/config/c.amazon.properties
Labels: lang-c

#6690 Add p3309 (+ fix description of P3068 clang)
  etc/config/c++.amazon.properties
Labels: lang-c++

#6693 mp-units 2.2.0 + fmt 11.0.0
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-circle, lang-objc++

#6688 Add LDC 1.39.0 and make it the default D compiler
  etc/config/d.amazon.properties
Labels: lang-d

#6682 Pass instructionSet, -mcpu, -march and -mtriple through to llvm-mca
  lib/instructionsets.ts
  lib/tooling/llvm-mca-tool.ts
Labels: lang-llvm

#6697 Add EricWF's contracts implementation
  etc/config/c++.amazon.properties
Labels: lang-c++

#6703 Increase defaultDelayAfterChange to 2s
  static/settings.ts
Labels: ui

#6705 Make scroll-up increase the font size and scroll-down decrease it
  static/widgets/fontscale.ts
Labels: ui

#6719 After a 10 day experiment, decrease defaultDelayAfterChange back
  static/settings.ts
Labels: ui

#6712 Add strong_type v15 and Trompeloeil v48
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-circle, lang-objc++

#6718 replace mfem trunk with 4.7
  etc/config/c++.amazon.properties
Labels: lang-c++

#6698 Set default min API to 27 for R8/D8
  lib/compilers/d8.ts
  lib/compilers/r8.ts
Labels: lang-android-java, lang-android-kotlin

#6723 Rust 1.80.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#6724 [Spice] Add version 0.20.3
  etc/config/spice.amazon.properties
Labels: lang-spice

#6706 Add zig 0.12.1 and 0.13.0
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/zig.amazon.properties
Labels: lang-c++, lang-c, lang-zig

#6728 Add 0.5.5, 0.6.0, 0.6.1 C3 versions. Remove incorrect keywords from C3.
  etc/config/c3.amazon.properties
  static/modes/c3-mode.ts
Labels: ui, lang-c3

#6730 Implement more diff types
  static/panes/diff.interfaces.ts
  static/panes/diff.ts
Labels: ui

#6731 Add p3367 (constexpr coroutines)
  etc/config/c++.amazon.properties
Labels: lang-c++
