Repository compiler-explorer/compiler-explorer, pull requests merged in 2024-05, with the labels that each got.

#6418 Add missing clang versions for armv7-a C++
  etc/config/c++.amazon.properties
Labels: lang-c++

#6424 Rust 1.78.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#6425 Hanfle filtering `tail call void @llvm.dbg.*` in LLVM IR
  lib/llvm-ir.ts
  lib/parsers/llvm-pass-dump-parser.ts
Labels: lang-llvm

#6414 gcc: add old renovated versions
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/objc.amazon.properties
Labels: lang-c++, lang-c, lang-objc

#6426 Improve initialization of decorations in MonacoPane
  static/colour.ts
  static/panes/ast-view.ts
  static/panes/compiler.ts
  static/panes/device-view.ts
  static/panes/editor.ts
  static/panes/ir-view.ts
  static/panes/opt-view.ts
  static/panes/pane.ts
  static/panes/stack-usage-view.ts
Labels: ui

#6447 Add GCC 14.1 for native (intel)
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/gimple.amazon.properties
  etc/config/go.amazon.properties
  etc/config/modula2.amazon.properties
  etc/config/objc++.amazon.properties
  etc/config/objc.amazon.properties
  etc/config/rust.amazon.properties
Labels: lang-c++, lang-rust, lang-go, lang-d, lang-c, lang-fortran, lang-ada, lang-objc, lang-objc++, lang-modula2, lang-gimple

#6453 Add 21 cross compilers for GCC 14.1
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
  etc/config/objc++.amazon.properties
  etc/config/objc.amazon.properties
Labels: lang-c++, lang-go, lang-d, lang-c, lang-fortran, lang-ada, lang-objc, lang-objc++

#6451 Suggestion to update llvm-cxxfilt logic
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/cpp_for_opencl.amazon.properties
  etc/config/llvm.amazon.properties
  etc/config/objc++.amazon.properties
  etc/config/openclc.amazon.properties
  lib/compilers/clang.ts
Labels: lang-c++, lang-c, lang-c++-opencl, lang-opencl-c, lang-llvm, lang-objc++

#6463 Init optRemarks in ctor
  static/panes/opt-view.ts
Labels: ui

#6465 Fix #6464: defend against empty saved layout
  static/hub.ts
  static/main.ts
Labels: ui

#6419 Add Flang frontend driver to Fortran Compilers
  .github/labeler.yml
  etc/config/fortran.amazon.properties
  lib/compilers/_all.ts
  lib/compilers/flang-fc1.ts
Labels: lang-fortran

#6470 Mark the go compiler `gc` as not supporting cfg
  lib/base-compiler.ts
  lib/compilers/assembly.ts
  lib/compilers/beebasm.ts
  lib/compilers/golang.ts
  lib/compilers/ispc.ts
  lib/compilers/movfuscator.ts
  lib/compilers/nim.ts
  lib/compilers/racket.ts
  lib/compilers/rust.ts
  lib/compilers/snowball.ts
  lib/compilers/solidity-eravm.ts
  lib/compilers/solidity.ts
  lib/compilers/swift.ts
  lib/compilers/zig.ts
Labels: lang-rust, lang-go, lang-ispc, lang-swift, lang-zig, lang-nim, lang-asm, lang-solidity, lang-racket, lang-snowball

#6466 add GCC arm64 4.9.4 and 5.5.0
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-c++, lang-c, lang-fortran

#6455 Add Crystal 1.12.1
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#6471 Don't trust `hasStackUsageOutput`/`hasOptOutput`
  static/panes/opt-view.ts
  static/panes/stack-usage-view.ts
Labels: ui

#6421 Add mlir-translate
  etc/config/mlir.amazon.properties
Labels: lang-mlir

#6432 Update clangir compiler options
  etc/config/c++.amazon.properties
Labels: lang-c++

#6472 Add the "nix" Rust crate
  CONTRIBUTORS.md
  etc/config/rust.amazon.properties
Labels: lang-rust

#6469 Make `stack-usage` display inline, same as `opt-view`
  static/panes/stack-usage-view.ts
  static/styles/explorer.scss
  static/styles/themes/dark-theme.scss
  static/styles/themes/default-theme.scss
  static/styles/themes/one-dark-theme.scss
  static/styles/themes/pink-theme.scss
Labels: ui

#6477 Add 'wrap lines' button to opt-view
  static/panes/opt-view.interfaces.ts
  static/panes/opt-view.ts
  views/templates/panes/opt-view.pug
Labels: ui

#6485 Add widberg-defs C/C++ library
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#6396 Add noUnusedLocals to tsconfig + fix the new alerts
  lib/compilers/d8.ts
  lib/compilers/solidity-eravm.ts
  lib/llvm-ast.ts
  lib/parsers/asm-parser-mads.ts
  lib/parsers/asm-parser.ts
  lib/runtime-tools/heaptrack-wrapper.ts
  static/compiler-service.ts
  static/compiler-shared.ts
  static/panes/compiler.ts
  static/panes/conformance-view.ts
  static/panes/tree.ts
  static/widgets/compiler-overrides.ts
  static/widgets/runtime-tools.ts
  test/base-compiler-tests.ts
  tsconfig.base.json
Labels: ui, lang-solidity, lang-llvm, lang-android-java, lang-android-kotlin

#6474 Add latest Kalray compiler: ACB 5.0.0
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#6488 Loongarch64: add support for Ada, D and Objective-C++
  etc/config/ada.amazon.properties
  etc/config/d.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-d, lang-ada, lang-objc++

#6489 fix: path for tools for arm-unknown 13.2 we wrong
  etc/config/c++.amazon.properties
Labels: lang-c++

#6498 Add jwt-cpp C++ library
  etc/config/c++.amazon.properties
Labels: lang-c++

#6499 Add @hanickadot's p3068 constexpr exceptions branch
  etc/config/c++.amazon.properties
Labels: lang-c++

#6493 Add LDC 1.38.0 and make it the default D compiler
  etc/config/d.amazon.properties
Labels: lang-d

#6501 Fix and investigate weird exception in stack-usage-view
  static/panes/stack-usage-view.ts
Labels: ui

#6500 Fix jwt-cpp include paths
  etc/config/c++.amazon.properties
Labels: lang-c++

#6515 Add GCC 13.3.0 native
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/gimple.amazon.properties
  etc/config/go.amazon.properties
  etc/config/modula2.amazon.properties
  etc/config/objc++.amazon.properties
  etc/config/objc.amazon.properties
Labels: lang-c++, lang-go, lang-d, lang-c, lang-fortran, lang-ada, lang-objc, lang-objc++, lang-modula2, lang-gimple

#6519 Add 23 cross GCC 13.3
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/go.amazon.properties
  etc/config/objc++.amazon.properties
  etc/config/objc.amazon.properties
Labels: lang-c++, lang-go, lang-d, lang-c, lang-fortran, lang-ada, lang-objc, lang-objc++

#6517 Switch back some ICC to use recent gcc 13.3 headers
  etc/config/c++.amazon.properties
Labels: lang-c++

#6413 Local/Remote Execution environment
  app.ts
  etc/config/compiler-explorer.defaults.properties
  etc/config/csharp.defaults.properties
  etc/config/fsharp.defaults.properties
  etc/config/vb.defaults.properties
  lib/artifact-utils.ts
  lib/base-compiler.ts
  lib/compilation-env.ts
  lib/compilers/beebasm.ts
  lib/compilers/carbon.ts
  lib/compilers/cc65.ts
  lib/compilers/clang.ts
  lib/compilers/dotnet.ts
  lib/compilers/llvm-mos.ts
  lib/compilers/madpascal.ts
  lib/compilers/z88dk.ts
  lib/execution/_all.ts
  lib/execution/base-execution-env.ts
  lib/execution/dotnet-execution-env.ts
  lib/execution/execution-env.interfaces.ts
  lib/execution/index.ts
  lib/handlers/api.ts
  lib/handlers/route-api.ts
  lib/utils.ts
  static/panes/diff.ts
  static/panes/executor.ts
  static/panes/output.ts
  test/demangler-tests.ts
  test/handlers/api-tests.ts
  test/options-handler.ts
  test/pp-output-test.ts
  types/compilation/compilation.interfaces.ts
Labels: ui, lang-c, lang-dotnet

#6528 Disable link and execute for older GCC version
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c, lang-fortran

#6536 Add GCC 14.1 for sparc-leon
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/objc.amazon.properties
Labels: lang-c++, lang-c, lang-fortran, lang-ada, lang-objc

#6486 Remove unused events `filtersChange`, `requestFilters`, some added types to `BaseCompiler.compile`
  lib/base-compiler.ts
  static/event-map.ts
  static/panes/compiler.ts
Labels: ui

#6534 Add ISPC v1.24.0
  etc/config/ispc.amazon.properties
Labels: lang-ispc

#6538 [HLSL] Add DXC 1.8.2405 release
  etc/config/hlsl.amazon.properties
Labels: lang-hlsl
