Repository compiler-explorer/compiler-explorer, pull requests merged in 2024-01, with the labels that each got.

#5931 fix android-d8 compiler ids
  etc/config/android-java.amazon.properties
  etc/config/android-java.defaults.properties
  etc/config/android-kotlin.amazon.properties
  etc/config/android-kotlin.defaults.properties
Labels: lang-android-java, lang-android-kotlin

#5861 gimple: add all missing cross gcc
  etc/config/gimple.amazon.properties
Labels: lang-gimple

#5953 README.md: list official domains
  README.md
Labels: documentation

#5949 fmt 10.2.1 & mp-units 2.1.0 added
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-circle, lang-objc++

#5952 Added Trompeloeil v47
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-circle, lang-objc++

#5935 Add pybind11 library
  etc/config/c++.amazon.properties
Labels: lang-c++

#5927 Add Julia v1.10.0
  etc/config/julia.amazon.properties
Labels: lang-julia

#5958 Update all the things
  package-lock.json
  package.json
  static/panes/compiler.ts
  static/panes/executor.ts
  static/widgets/libs-widget.ts
  webpack.config.esm.ts
Labels: ui

#5915 Add Boost 1.84.0
  etc/config/c++.amazon.properties
Labels: lang-c++

#5977 Fix3864: `pony` created an `.ll` file that processIrOutput didn't expect
  lib/compilers/pony.ts
Labels: lang-pony

#5979 Stop forcing debug builds in `pony`
  lib/compilers/pony.ts
Labels: lang-pony

#5980 Fix #5847 but seriously this time - addition to PR #5882
  static/widgets/compiler-overrides.ts
Labels: ui

#5981 Fix a leftover case of bad file-extension replacement in rust
  lib/compilers/rust.ts
Labels: lang-rust

#5984 icc: workaround bug in libstdc++
  etc/config/c++.amazon.properties
Labels: lang-c++

#5989 Since ES6 there's no reason to use `underscore`s map and filter
  app.ts
  lib/base-compiler.ts
  lib/buildenvsetup/cliconan.ts
  lib/compilation-env.ts
  lib/compilers/hlsl.ts
  lib/compilers/ispc.ts
  lib/compilers/pony.ts
  lib/compilers/spirv.ts
  lib/compilers/tinyc.ts
  lib/compilers/win32.ts
  lib/compilers/zig.ts
  lib/handlers/compile.ts
  lib/properties.ts
  lib/tooling/compiler-dropin-tool.ts
  lib/tooling/x86to6502-tool.ts
  static/multifile-service.ts
  static/panes/compiler.ts
  static/panes/editor.ts
Labels: ui, lang-ispc, lang-zig, lang-pony, lang-hlsl

#5990 rust: display unwise option warning for `-C target-cpu=native`
  etc/config/rust.amazon.properties
Labels: lang-rust

#5991 Fix #5630: filter out `--emit mir=..` in RustCompiler.buildExecutable
  lib/base-compiler.ts
  lib/compilers/rust.ts
Labels: lang-rust

#5978 Fix #5832: cuda 11.3.1 is incompatible with gcc 10+
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#5974 Add Crystal 1.11.1
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#5992 Add PyPy 3.9 and 3.10
  etc/config/python.amazon.properties
Labels: lang-python

#6000 Add Flux library
  etc/config/c++.amazon.properties
  etc/config/circle.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-c++, lang-circle, lang-objc++

#5997 Add latest GNU assembler for Arm64
  etc/config/assembly.amazon.properties
Labels: lang-asm

#5986 Add Zig 0.11.0
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/zig.amazon.properties
Labels: lang-c++, lang-c, lang-zig

#5916 Add support for dex2oat (latest)
  etc/config/android-java.amazon.properties
  etc/config/android-java.defaults.properties
  etc/config/android-kotlin.amazon.properties
  etc/config/android-kotlin.defaults.properties
  lib/compilers/_all.ts
  lib/compilers/dex2oat.ts
  lib/parsers/dex2oat-pass-dump-parser.ts
  test/android-tests.ts
  test/android/java/input.java
  test/android/java/oatdump.asm
  test/android/java/output.asm
  test/android/kotlin/input.kt
  test/android/kotlin/oatdump.asm
  test/android/kotlin/output.asm
Labels: lang-android-java, lang-android-kotlin

#5966 Fixing paths for Glaze and adding latest version
  etc/config/c++.amazon.properties
Labels: lang-c++

#5968 Add Python 3.12 and make it the default
  etc/config/python.amazon.properties
Labels: lang-python

#5973 Add vast-trunk compiler
  etc/config/c++.amazon.properties
Labels: lang-c++

#5969 Updated examples and changed to snowball 0.1.0
  etc/config/snowball.amazon.properties
  etc/config/snowball.default.properties
  examples/snowball/class.sn
  examples/snowball/default.sn
  examples/snowball/fib.sn
  examples/snowball/num_hex.sn
  examples/snowball/vectors.sn
Labels: lang-snowball

#6007 Various updates
  package-lock.json
  package.json
  static/quick-fixes-handler.ts
  webpack.config.esm.ts
Labels: ui

#5988 Fix #5987: make rustc generate *only* IR output in generateIR
  lib/compilers/rust.ts
Labels: lang-rust

#6011 Add artArtifactDir to Android config files
  etc/config/android-java.amazon.properties
  etc/config/android-kotlin.amazon.properties
Labels: lang-android-java, lang-android-kotlin

#6021 Hello again. Fixed snowball
  etc/config/snowball.amazon.properties
Labels: lang-snowball

#6018 Add SDCC 4.2.0 and SDCC 4.3.0
  etc/config/c.amazon.properties
Labels: lang-c

#6012 Add gcem library
  etc/config/c++.amazon.properties
Labels: lang-c++

#6010 Update LLVM Flang file names
  etc/config/fortran.amazon.properties
Labels: lang-fortran

#6031 Fix #5126: fix event_hub.mediateDependentCalls
  static/event-hub.ts
Labels: ui

#6027 Improve typings for the now-global HandlerConfig
  app.ts
  lib/base-compiler.ts
  lib/compilers/d8.ts
  lib/compilers/dex2oat.ts
  lib/compilers/java.ts
  lib/compilers/kotlin.ts
  lib/handlers/route-api.ts
Labels: lang-java, lang-kotlin, lang-android-java, lang-android-kotlin

#6028 Add Wyrm transpiler
  etc/config/gimple.amazon.properties
  lib/compilers/_all.ts
  lib/compilers/wyrm.ts
Labels: lang-gimple

#6032 icc: workaround bug in libstdc++ (#5984) (cont)
  etc/config/c++.amazon.properties
Labels: lang-c++

#6049 Remove usage of the depracated monaco.IEditor deltaDecorations
  static/colour.ts
  static/panes/ast-view.ts
  static/panes/compiler.ts
  static/panes/device-view.ts
  static/panes/editor.ts
  static/panes/ir-view.ts
  static/panes/opt-view.ts
  static/panes/stack-usage-view.ts
Labels: ui

#6052 Unify the way tmp dir is used
  app.ts
  docs/WindowsSubsystemForLinux.md
  lib/base-compiler.ts
  lib/compilers/ewarm.ts
  lib/compilers/ewavr.ts
  lib/compilers/win32.ts
  lib/compilers/wsl-vc.ts
  lib/exec.ts
  test/cache-tests.ts
  test/packager-tests.ts
  test/utils.ts
  test/win-path-tests.ts
Labels: lang-c++, documentation, lang-c

#6058 Update README.md
  README.md
Labels: documentation

#6064 Update all the minor packages; reformat and bump
  .devcontainer/devcontainer.json
  package-lock.json
  package.json
  static/tsconfig.json
  tsconfig.json
  webpack.config.esm.ts
Labels: ui

#6063 Support a new sponsor layout
  etc/config/sponsors.yaml
  lib/sponsors.interfaces.ts
  lib/sponsors.ts
  test/sponsors-test.ts
  views/bits/sponsors-content.pug
Labels: ui

#6066 Move Hook to hook-lang organization
  etc/config/hook.amazon.properties
  etc/config/hook.defaults.properties
  lib/languages.ts
  views/resources/logos/hook-dark.png
  views/resources/logos/hook.png
Labels: ui, lang-hook
