Repository compiler-explorer/compiler-explorer, pull requests merged in 2025-08, with the labels that each got.

#7983 Update to Privacy Policy
  docs/Privacy.md
  etc/scripts/parsed-pug/parsed_pug_file.js
  static/generated/privacy.pug
Labels: ui, documentation

#7988 [Spice] Add version 0.22.3
  etc/config/spice.amazon.properties
Labels: lang-spice

#7987 Add alias option for gcc tree/rtl viewer (#7985)
  lib/base-compiler.ts
  static/panes/compiler.ts
  static/panes/gccdump-view.interfaces.ts
  static/panes/gccdump-view.ts
  types/compilation/compilation.interfaces.ts
  views/templates/panes/gccdump.pug
Labels: ui

#7751 Add comprehensive Cypress E2E tests for Claude Explain feature
  cypress/README.md
  cypress/e2e/claude-explain.cy.ts
  cypress/e2e/monaco-test.cy.ts
  cypress/support/utils.ts
  docs/ClaudeExplain.md
  static/panes/explain-view.ts
Labels: ui, documentation

#8005 Migrate 'wine' msvc to windows
  etc/config/c++.amazon.properties
  etc/config/c++.amazonwin.properties
  etc/config/c.amazon.properties
  etc/config/c.amazonwin.properties
  etc/config/execution.amazon.properties
  etc/config/execution.gpu.properties
  etc/scripts/vc19_amd.bat
  etc/scripts/vc19_x86.bat
Labels: lang-c++, lang-c

#8016 Fix #8013: Pinkify opt-pipeline view
  static/styles/themes/pink-theme.scss
Labels: ui

#8008 Add Codon Python compiler
  etc/config/python.amazon.properties
  lib/compilers/_all.ts
  lib/compilers/codon.ts
Labels: lang-python

#8017 Make argument parsers instances instead of static classes
  compiler-args-app.ts
  etc/config/go.amazon.properties
  lib/base-compiler.ts
  lib/compilers/argument-parsers.ts
  lib/compilers/coccinelle.ts
  lib/compilers/mojo.ts
  lib/compilers/rust.ts
  lib/compilers/tablegen.ts
  test/analysis-tests.ts
  test/android-tests.ts
  test/base-compiler-tests.ts
  test/compilers/argument-parsers-tests.ts
  test/demangler-tests.ts
  test/pascal-tests.ts
Labels: lang-rust, lang-go, lang-tablegen, lang-mojo

#8003 Bump Binutils version into 2.45 when using GCC 15.1.
  etc/config/assembly.amazon.properties
Labels: lang-asm

#8032 Add ISPC v1.28.0
  etc/config/ispc.amazon.properties
Labels: lang-ispc

#7853 Pack trees in control flow graphs and add a setting for a wider or narrower layout
  static/components.ts
  static/graph-layout-core.ts
  static/panes/cfg-view.interfaces.ts
  static/panes/cfg-view.ts
  static/utils.ts
  views/templates/panes/cfg.pug
Labels: ui

#8038 Fix #8037: avoid duplicate `compile` call
  static/panes/editor.ts
Labels: ui

#8046 Add p2034_lambda GCC
  etc/config/c++.amazon.properties
Labels: lang-c++

#8055 Add ISPC v1.28.1
  etc/config/ispc.amazon.properties
Labels: lang-ispc

#8065 Send a "request compile" if compile on demand isn't set
  static/panes/editor.ts
Labels: ui

#8048 Add Intel OneAPI 2025.2.1
  etc/config/c++.amazon.properties
Labels: lang-c++

#8060 Add zig 0.15.1 and make it the default zig compiler
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/zig.amazon.properties
Labels: lang-c++, lang-c, lang-zig
