Repository compiler-explorer/compiler-explorer, pull requests merged in 2025-07, with the labels that each got.

#7877 add quill v10.0.1
  etc/config/c++.amazon.properties
Labels: lang-c++

#7883 refactor: Decouple Site Template images from template name
  etc/config/site-templates.yaml
  etc/scripts/generate_site_template_screenshots.ts
  lib/handlers/api/site-template-controller.ts
  public/template_screenshots/Ada-IDE.dark.png
  public/template_screenshots/Ada-IDE.darkplus.png
  public/template_screenshots/Ada-IDE.default.png
  public/template_screenshots/Ada-IDE.onedark.png
  public/template_screenshots/Ada-IDE.pink.png
  public/template_screenshots/Ada-IDE.real-dark.png
  public/template_screenshots/Android-Java-IDE.dark.png
  public/template_screenshots/Android-Java-IDE.darkplus.png
  public/template_screenshots/Android-Java-IDE.default.png
  public/template_screenshots/Android-Java-IDE.onedark.png
  public/template_screenshots/Android-Java-IDE.pink.png
  public/template_screenshots/Android-Java-IDE.real-dark.png
  public/template_screenshots/Android-Kotlin-IDE.dark.png
  public/template_screenshots/Android-Kotlin-IDE.darkplus.png
  public/template_screenshots/Android-Kotlin-IDE.default.png
  public/template_screenshots/Android-Kotlin-IDE.onedark.png
  public/template_screenshots/Android-Kotlin-IDE.pink.png
  public/template_screenshots/Android-Kotlin-IDE.real-dark.png
  public/template_screenshots/Cpp-Cmake.dark.png
  public/template_screenshots/Cpp-Cmake.darkplus.png
  public/template_screenshots/Cpp-Cmake.default.png
  public/template_screenshots/Cpp-Cmake.onedark.png
  public/template_screenshots/Cpp-Cmake.pink.png
  public/template_screenshots/Cpp-Cmake.real-dark.png
  public/template_screenshots/Diff-of-Two-Compilers.dark.png
  public/template_screenshots/Diff-of-Two-Compilers.darkplus.png
  public/template_screenshots/Diff-of-Two-Compilers.default.png
  public/template_screenshots/Diff-of-Two-Compilers.onedark.png
  public/template_screenshots/Diff-of-Two-Compilers.pink.png
  public/template_screenshots/Diff-of-Two-Compilers.real-dark.png
  public/template_screenshots/Diff-of-Two-Sources.dark.png
  public/template_screenshots/Diff-of-Two-Sources.darkplus.png
  public/template_screenshots/Diff-of-Two-Sources.default.png
  public/template_screenshots/Diff-of-Two-Sources.onedark.png
  public/template_screenshots/Diff-of-Two-Sources.pink.png
  public/template_screenshots/Diff-of-Two-Sources.real-dark.png
  public/template_screenshots/Java-IDE.dark.png
  public/template_screenshots/Java-IDE.darkplus.png
  public/template_screenshots/Java-IDE.default.png
  public/template_screenshots/Java-IDE.onedark.png
  public/template_screenshots/Java-IDE.pink.png
  public/template_screenshots/Java-IDE.real-dark.png
  public/template_screenshots/LLVM-IR.dark.png
  public/template_screenshots/LLVM-IR.darkplus.png
  public/template_screenshots/LLVM-IR.default.png
  public/template_screenshots/LLVM-IR.onedark.png
  public/template_screenshots/LLVM-IR.pink.png
  public/template_screenshots/LLVM-IR.real-dark.png
  public/template_screenshots/Pascal-IDE.dark.png
  public/template_screenshots/Pascal-IDE.darkplus.png
  public/template_screenshots/Pascal-IDE.default.png
  public/template_screenshots/Pascal-IDE.onedark.png
  public/template_screenshots/Pascal-IDE.pink.png
  public/template_screenshots/Pascal-IDE.real-dark.png
  static/widgets/site-templates-widget.ts
  types/features/site-templates.interfaces.ts
Labels: ui

#7880 Infer pane state from pane constructor
  static/components.interfaces.ts
  static/hub.ts
Labels: ui

#7910 Add P3385 experimental clang compiler
  etc/config/c++.amazon.properties
Labels: lang-c++

#7930 Fix #7907: Add fllvm to zig compilations
  lib/compilers/zig.ts
Labels: lang-zig

#7931 Fix #7908: Restrict zig -fno-strip switch to versions that support it
  lib/compilers/zig.ts
Labels: lang-zig

#7925 Refactor Enhance Type Saftey in Library Elements
  static/widgets/libs-widget.ts
Labels: ui

#7923 [HLSL] Add DXC 1.8.2505 releases
  etc/config/hlsl.amazon.properties
Labels: lang-hlsl

#7891 Add Fortran library roots_fortran v1.5.0
  etc/config/fortran.amazon.properties
Labels: lang-fortran

#7917 Add Crystal 1.17.0
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#7905 Add C++ library proxy 3.3.0 and 3.4.0
  etc/config/c++.amazon.properties
Labels: lang-c++

#7932 Fix #7539: llvm-mca falls back to autodetected arch if fails to use compilation switches
  lib/tooling/llvm-mca-tool.ts
Labels: lang-llvm

#7945 Update 'Other' with shop, links, remove about me
  README.md
  views/menu-other.pug
Labels: ui, documentation

#7942 Changes for NVIDIA HPC SDK 25.7
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-c++, lang-c, lang-fortran

#7946 Add Kokkos 4.6.02
  etc/config/c++.amazon.properties
Labels: lang-c++

#7965 Fix CEFSharp bot errors in Sentry - Fixes COMPILER-EXPLORER-C14
  static/sentry.ts
Labels: ui

#7952 Fix NIM compiler ENOENT error when moving cache files
  lib/compilers/nim.ts
Labels: lang-nim

#7967 Add MatX 0.9.1 and 0.9.2
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#7943 Add NVRTC 12.2-12.9
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#7970 SCSS Migration Phase 1: Modernize color functions and @import statements
  static/styles/colours.scss
  static/styles/themes/custom-golden-layout-themes/pink.scss
  static/styles/themes/dark-theme.scss
  static/styles/themes/one-dark-theme.scss
  static/styles/themes/pink-theme.scss
Labels: ui

#7972 Filter out network-level jQuery failures from Sentry reports
  static/main.ts
Labels: ui

#7971 SCSS Migration Phase 2: Complete @import to @use conversion
  static/styles/explorer.scss
  static/styles/themes/custom-golden-layout-themes/one-dark.scss
  static/styles/themes/custom-golden-layout-themes/pink.scss
  static/styles/themes/dark-theme.scss
  static/styles/themes/default-theme.scss
  static/styles/themes/one-dark-theme.scss
  static/styles/themes/pink-theme.scss
Labels: ui
