Repository compiler-explorer/compiler-explorer, pull requests merged in 2025-01, with the labels that each got.

#7247 Fix include path for Armv7-A compilers using gcc 12.2.0 sysroot
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/cpp_for_opencl.amazon.properties
  etc/config/openclc.amazon.properties
Labels: lang-c++, lang-c, lang-c++-opencl, lang-opencl-c

#7242 Install kotlin 2.1.0
  etc/config/kotlin.amazon.properties
Labels: lang-kotlin

#7245 Add clang 19 for more languages.
  etc/config/assembly.amazon.properties
  etc/config/c.amazon.properties
  etc/config/llvm_mir.amazon.properties
Labels: lang-c, lang-asm

#7251 Support kotlinc output for Android Kotlin
  etc/config/android-kotlin.amazon.properties
  lib/compilers/kotlin.ts
Labels: lang-kotlin, lang-android-kotlin

#7228 Improve odin codegen processing
  lib/compilers/odin.ts
  lib/parsers/asm-parser-odin.ts
  static/modes/odin-mode.ts
  test/odin-tests.ts
  test/odin/add_require.odin
  test/odin/add_require.odin.expected
Labels: ui, lang-odin

#7260 Fix MSVC's handling of `/link` options, fix and modernize some docs
  .gitignore
  docs/WindowsLocal.properties
  docs/WindowsNative.md
  docs/WindowsSubsystemForLinux.md
  lib/compilers/win32.ts
Labels: documentation

#7266 [rust] switch to `-C debuginfo=2`
  lib/compilers/rust.ts
  test/base-compiler-tests.ts
Labels: lang-rust

#7262 Add recent Pythons as libraries for C-like languages
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/circle.amazon.properties
  etc/config/gimple.amazon.properties
  etc/config/objc++.amazon.properties
  etc/config/objc.amazon.properties
Labels: lang-c++, lang-c, lang-circle, lang-objc, lang-objc++, lang-gimple

#7268 Update scala with new compilers and jdk 21
  etc/config/scala.amazon.properties
Labels: lang-scala

#7270 Set demanglerType=win32 in Windows sample props
  docs/WindowsLocal.properties
Labels: documentation

#7273 Support execution and binary output in ispc
  etc/config/ispc.amazon.properties
  etc/config/ispc.defaults.properties
  lib/base-compiler.ts
  lib/compilers/ispc.ts
Labels: lang-ispc

#7267 Add Hexagon-clang support for LLVM IR
  etc/config/llvm.amazon.properties
Labels: lang-llvm

#7203 Use odin 2025-01
  etc/config/odin.amazon.properties
Labels: lang-odin

#7259 upgrade mimic++ header-only library
  etc/config/c++.amazon.properties
Labels: lang-c++

#7264 Add some tools for rust
  etc/config/rust.amazon.properties
Labels: lang-rust

#7294 Update Android compilers
  etc/config/android-java.amazon.properties
  etc/config/android-kotlin.amazon.properties
Labels: lang-android-java, lang-android-kotlin

#7300 Update SPIR-V with newest Vulkan SDK
  etc/config/spirv.amazon.properties
Labels: lang-spirv

#7301 Add Cobol 1.1; see compiler-explorer/compiler-explorer#5626
  etc/config/cobol.amazon.properties
Labels: lang-cobol

#7275 Added CCCL 2.7.0
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#7293 Changes for NVIDIA HPC SDK 25.1
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-c++, lang-c, lang-fortran

#7302 Fix up C++ CCCL
  etc/config/c++.amazon.properties
Labels: lang-c++

#7313 Add quill v8.1.0
  etc/config/c++.amazon.properties
Labels: lang-c++

#7305 Edit `xieite` library info
  etc/config/c++.amazon.properties
Labels: lang-c++

#7317 Special casing for msp430
  etc/config/c++.amazon.properties
  lib/compilers/_all.ts
  lib/compilers/msp430.ts
  lib/parsers/asm-parser-msp430.ts
Labels: lang-c++

#7325 Update SDCC to 4.5.0
  etc/config/c.amazon.properties
Labels: lang-c

#7320 Mitigations for CL labels
  static/modes/asm-mode.ts
Labels: ui, lang-asm

#7276 [swift]: add swift development snapshot compiler [6.1]
  etc/config/swift.amazon.properties
Labels: lang-swift

#7314 odin: require main function
  lib/compilers/odin.ts
  test/odin-tests.ts
  test/odin/add_require.odin.expected
Labels: lang-odin

#7323 Update to add Boost 1.87 support
  etc/config/c++.amazon.properties
Labels: lang-c++

#7318 Parse terminal hyperlinks in command output
  static/ansi-to-html.ts
  static/panes/output.ts
  test/ansi-to-html-tests.ts
Labels: ui

#7328 Rename beman.optional26 to beman.optional
  etc/config/c++.amazon.properties
Labels: lang-c++

#7332 Update objdump version to 14.2.0 for RISC-V clang trunk.
  etc/config/c++.amazon.properties
Labels: lang-c++

#7333 Add R8/D8 latest for Android
  etc/config/android-java.amazon.properties
  etc/config/android-kotlin.amazon.properties
Labels: lang-android-java, lang-android-kotlin

#7334 Prevent exception if compiler didn't generate
  lib/compilers/nim.ts
Labels: lang-nim

#7336 Re-enable pahole for ada, now it doesn't crash. Closes #1973
  etc/config/ada.amazon.properties
Labels: lang-ada

#7326 Add Crystal 1.15.0 and 1.14.1
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#7340 Fix number regex for SPIR-V parser
  static/modes/spirv-mode.ts
Labels: ui, lang-swift, lang-crystal, lang-spirv

#7345 Add EDG 6.7 release files
  etc/config/c++.amazon.properties
Labels: lang-c++

#7346 Add new language: Algol68 and corresponding GCC frontend
  .github/labeler.yml
  etc/config/algol68.amazon.properties
  etc/config/algol68.defaults.properties
  examples/algol68/default.a68
  lib/compilers/ga68.ts
  lib/languages.ts
  types/languages.interfaces.ts
Labels: new-compilers, new-language

#7348 Add GCC cross for Tricore
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/gimple.amazon.properties
Labels: lang-c++, lang-c, lang-fortran, lang-gimple
