Repository compiler-explorer/compiler-explorer, pull requests merged in 2025-09, with the labels that each got.

#8076 Install Clang/LLVM 21
  etc/config/assembly.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c++.amazonwin.properties
  etc/config/c.amazon.properties
  etc/config/llvm.amazon.properties
  etc/config/llvm_mir.amazon.properties
  etc/config/tablegen.amazon.properties
Labels: lang-c++, lang-c, lang-asm, lang-llvm, lang-tablegen

#8080 Add new C++ library med
  etc/config/c++.amazon.properties
Labels: lang-c++

#8095 [Spice] Add version 0.22.4
  etc/config/spice.amazon.properties
Labels: lang-spice

#8073 Added nvcc 13.0.0 and nvrtc 13.0.0
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#8105 Fix #8104: consider Cfg with no layout when exporting image
  static/panes/cfg-view.ts
Labels: ui

#8103 Make Explain generally available
  cypress/e2e/claude-explain.cy.ts
  static/panes/compiler.ts
Labels: ui

#8113 [swift]: add 6.2 release compilers
  etc/config/swift.amazon.properties
Labels: lang-swift

#8114 [swift][refactor]: sort compilers config entry in descending order
  etc/config/swift.amazon.properties
Labels: lang-swift

#8115 Fix view zones after toggling opt-remark filters
  static/panes/opt-view.ts
Labels: ui

#8124 Update Solidity solc and solx compiler versions
  etc/config/solidity.amazon.properties
  etc/config/solidity.defaults.properties
Labels: lang-solidity

#8129 Added nvcc 13.0.1 and nvrtc 13.0.1 to CUDA C++
  etc/config/cuda.amazon.properties
Labels: lang-cuda

#8136 Changes for NVIDIA HPC SDK 25.9
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-c++, lang-c, lang-fortran

#8148 okToCache fix for nsjail errors and extra checks
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/elixir.amazon.properties
  etc/config/go.amazon.properties
  etc/config/jakt.amazon.properties
  etc/config/toit.amazon.properties
  lib/app.interfaces.ts
  lib/app/cli.ts
  lib/app/compilation-env.ts
  lib/exec.ts
  lib/handlers/compile.ts
Labels: lang-c++, lang-go, lang-c, lang-toit, lang-jakt
