Repository compiler-explorer/compiler-explorer, pull requests merged in 2025-04, with the labels that each got.

#7537 Rust 1.86.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#7543 Update c++.amazon.properties: update repo URL after org renaming
  etc/config/c++.amazon.properties
Labels: lang-c++

#7538 Update dex2oat latest name
  etc/config/android-java.amazon.properties
  etc/config/android-kotlin.amazon.properties
Labels: lang-android-java, lang-android-kotlin

#7552 Add Crystal 1.16.0
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#7542 Add quill v9.0.0
  etc/config/c++.amazon.properties
Labels: lang-c++

#7535 Update Go 1.21.13, 1.22.12, 1.23.8 and add 1.24.2
  etc/config/go.amazon.properties
Labels: lang-go

#7544 [swift]: add 6.1 x86 release compiler
  etc/config/swift.amazon.properties
Labels: lang-swift

#7553 add hipclang for rocm 6.2.4 and 6.3.3
  etc/config/c++.amazon.properties
  etc/config/cuda.amazon.properties
Labels: lang-c++, lang-cuda

#7558 Fix #7464: resolve TomSelect glitch by delaying active option setting
  static/panes/gccdump-view.ts
Labels: ui

#7561 Support opt remarks for rustc-nightly
  lib/base-compiler.ts
  lib/compilers/rust.ts
Labels: lang-rust

#7540 Add Bintuils 2.42 assemblers for x86, riscv32 and riscv64
  etc/config/assembly.amazon.properties
Labels: lang-asm

#7556 Add Kokkos 4.5.01 and 4.6.00
  etc/config/c++.amazon.properties
Labels: lang-c++

#7532 fix: add newer spdlog versions
  etc/config/circle.amazon.properties
  etc/config/objc++.amazon.properties
Labels: lang-circle, lang-objc++

#7546 Add (e)z80-clang compilers.
  CONTRIBUTORS.md
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  lib/compilers/_all.ts
  lib/compilers/clang.ts
  lib/instructionsets.ts
  types/instructionsets.ts
Labels: lang-c++, lang-c

#7565 Add spdlog also to c++
  etc/config/c++.amazon.properties
Labels: lang-c++

#7520 Changes for NVIDIA HPC SDK 25.3
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/cuda.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-c++, lang-c, lang-cuda, lang-fortran

#7522 Fix go-to label with position-independent code
  lib/demangler/base.ts
  lib/parsers/asm-parser.ts
  static/panes/compiler.ts
  test/demangle-cases/bug-1468.asm.json
  test/demangle-cases/bug-1468b.asm.json
  test/demangle-cases/bug-1468c.asm.json
  test/demangle-cases/bug-1468d.asm.json
  test/demangle-cases/bug-1468e.asm.json
  test/demangle-cases/bug-515.asm.json
  test/demangle-cases/bug-660.asm.json
  test/demangle-cases/bug-713.asm.json
  test/demangle-cases/bug-7521-pic-rust.asm
  test/demangle-cases/bug-7521-pic-rust.asm.demangle
  test/demangle-cases/bug-7521-pic-rust.asm.json
  test/demangle-cases/bug-7521-powerpc.asm
  test/demangle-cases/bug-7521-powerpc.asm.demangle
  test/demangle-cases/bug-7521-powerpc.asm.json
  test/demangle-cases/bug-978.asm.json
  test/demangle-cases/no-demangling.asm.json
  test/demangle-cases/similar-symbols.asm.json
  test/demangler-tests.ts
  test/filter-tests.ts
  test/filters-cases/bug-7521-pic-rust.asm
  test/filters-cases/bug-7521-pic-rust.asm.binary.directives.labels.comments.json
  test/filters-cases/bug-7521-pic-rust.asm.directives.comments.json
  test/filters-cases/bug-7521-pic-rust.asm.directives.json
  test/filters-cases/bug-7521-pic-rust.asm.directives.labels.comments.json
  test/filters-cases/bug-7521-pic-rust.asm.directives.labels.comments.library.dontMaskFilenames.json
  test/filters-cases/bug-7521-pic-rust.asm.directives.labels.comments.library.json
  test/filters-cases/bug-7521-pic-rust.asm.directives.labels.json
  test/filters-cases/bug-7521-pic-rust.asm.directives.library.json
  test/filters-cases/bug-7521-pic-rust.asm.none.json
  test/filters-cases/bug-7521-powerpc.asm
  test/filters-cases/bug-7521-powerpc.asm.binary.directives.labels.comments.json
  test/filters-cases/bug-7521-powerpc.asm.directives.comments.json
  test/filters-cases/bug-7521-powerpc.asm.directives.json
  test/filters-cases/bug-7521-powerpc.asm.directives.labels.comments.json
  test/filters-cases/bug-7521-powerpc.asm.directives.labels.comments.library.dontMaskFilenames.json
  test/filters-cases/bug-7521-powerpc.asm.directives.labels.comments.library.json
  test/filters-cases/bug-7521-powerpc.asm.directives.labels.json
  test/filters-cases/bug-7521-powerpc.asm.directives.library.json
  test/filters-cases/bug-7521-powerpc.asm.none.json
  test/filters-cases/diab.asm.directives.comments.json
  test/filters-cases/diab.asm.directives.json
  test/filters-cases/diab.asm.directives.labels.comments.json
  test/filters-cases/diab.asm.directives.labels.comments.library.dontMaskFilenames.json
  test/filters-cases/diab.asm.directives.labels.comments.library.json
  test/filters-cases/diab.asm.directives.labels.json
  test/filters-cases/diab.asm.directives.library.json
  test/filters-cases/diab.asm.none.json
  test/utils.ts
  types/asmresult/asmresult.interfaces.ts
Labels: ui

#7304 Add support for the Sail language
  etc/config/sail.amazon.properties
  etc/config/sail.defaults.properties
  examples/sail/basics.sail
  examples/sail/bitfields.sail
  examples/sail/bitvectors.sail
  examples/sail/default.sail
  examples/sail/match.sail
  examples/sail/max_array.sail
  examples/sail/sum_over_array.sail
  examples/sail/types.sail
  lib/compilers/_all.ts
  lib/compilers/sail.ts
  lib/languages.ts
  static/modes/_all.ts
  static/modes/sail-mode.ts
  types/languages.interfaces.ts
  views/resources/logos/sail.svg
Labels: ui

#7584 Add description and URL for `cs50` library
  etc/config/c.amazon.properties
Labels: lang-c

#7587 Add LDC 1.40.1 and make it the default D compiler
  etc/config/d.amazon.properties
Labels: lang-d

#7589 Update Qt 6.9.0
  etc/config/c++.amazon.properties
Labels: lang-c++

#7588 Execution fixes (when using architectures that cant run)
  lib/binaries/binary-utils.ts
  lib/execution/execution-query.ts
  static/panes/output.ts
Labels: ui

#7555 Make the Bronto Refactor Tool available for C++ compilations
  etc/config/c++.amazon.properties
  lib/tooling/_all.ts
  lib/tooling/bronto-refactor-tool.ts
Labels: lang-c++

#7578 [swift]: add 6.1 arm release compiler
  etc/config/swift.amazon.properties
Labels: lang-swift

#7530 Add RapidJSON C++ library
  CONTRIBUTORS.md
  etc/config/c++.amazon.properties
Labels: lang-c++

#7591 add clang -fimplicit-constexpr branch
  etc/config/c++.amazon.properties
Labels: lang-c++

#7599 Fix typo in README.md
  README.md
Labels: documentation

#7593 [CUDA] update ptxas and clang compilers with recent CUDA SDK versions.
  etc/config/assembly.amazon.properties
  etc/config/cuda.amazon.properties
Labels: lang-cuda, lang-asm

#7605 Handle items that don't exist in embedded mode; fix iframe generation
  docs/TestingTheUi.md
  static/main.ts
  static/sharing.ts
  static/widgets/compiler-version-info.ts
Labels: ui, documentation

#7606 Fix the embedded iframe buttons. Note to future selves: try and avoid…
  docs/TestingTheUi.md
  static/sharing.ts
  views/popups/sharelinkdialog.pug
Labels: ui, documentation

#7608 Cleanup post bootstrap 5
  docs/Bootstrap5Migration.md
  static/bootstrap-utils.ts
  static/sharing.ts
  static/widgets/alert.ts
Labels: ui, documentation

#7577 Add native x86_64 GCC 15.1.0
  etc/config/ada.amazon.properties
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/cobol.amazon.properties
  etc/config/d.amazon.properties
  etc/config/fortran.amazon.properties
  etc/config/gimple.amazon.properties
  etc/config/go.amazon.properties
  etc/config/modula2.amazon.properties
  etc/config/objc++.amazon.properties
  etc/config/objc.amazon.properties
  etc/config/rust.amazon.properties
Labels: lang-c++, lang-rust, lang-go, lang-d, lang-c, lang-fortran, lang-ada, lang-cobol, lang-objc, lang-objc++, lang-modula2, lang-gimple

#7617 Bump to latest sentry; preload etc
  app.ts
  lib/handlers/api.ts
  lib/sentry.ts
  package-lock.json
  package.json
  static/sentry.ts
Labels: ui

#7626 Add comprehensive Configuration.md documentation
  docs/AboutLibraryPaths.md
  docs/AddingACompiler.md
  docs/AddingAFormatter.md
  docs/AddingALanguage.md
  docs/AddingALibrary.md
  docs/AddingATool.md
  docs/AddingCustomCompilersOverview.md
  docs/Cerberus.md
  docs/Configuration.md
  docs/EWARM.md
  docs/EWAVR.md
  docs/TiC2000.md
  docs/TurboC.md
  docs/WindowsNative.md
  docs/WindowsSubsystemForLinux.md
Labels: documentation

#7623 Add beman.net library trunk version
  etc/config/c++.amazon.properties
Labels: lang-c++

#7621 Add beman.task library trunk version
  etc/config/c++.amazon.properties
Labels: lang-c++

#7613 Add beman execution library
  etc/config/c++.amazon.properties
Labels: lang-c++

#7625 Add beman.exemplar library trunk version
  etc/config/c++.amazon.properties
Labels: lang-c++

#7628 update clad to v1.10 with clang v20.1.0
  etc/config/c++.amazon.properties
Labels: lang-c++

#7614 Dart: update to 3.7.3
  etc/config/dart.amazon.properties
Labels: lang-dart

#7576 Add GCC 12.4.0 for VAX NetBSD
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/gimple.amazon.properties
  etc/config/objc.amazon.properties
Labels: lang-c++, lang-c, lang-objc, lang-gimple
