Repository compiler-explorer/compiler-explorer, pull requests merged in 2025-06, with the labels that each got.

#7752 Fix motd close button for community ads
  static/motd.ts
Labels: ui

#7762 Fix null compiler error in diff pane
  static/panes/diff.ts
Labels: ui

#7763 Fix null reference error in findConfig when URL parsing fails
  static/main.ts
Labels: ui

#7768 Fix null reference error in CFG view birds-eye zoom
  static/panes/cfg-view.ts
Labels: ui

#7754 Update C3 default compiler and compiler support up to 0.7.2 and do so…
  etc/config/c3.amazon.properties
  static/modes/c3-mode.ts
Labels: ui, lang-c3

#7764 Fix null reference errors in gccdump view selection handling
  CLAUDE.md
  static/panes/gccdump-view.ts
Labels: ui

#7774 Switch back to `rustfilt` for Rust demangling
  etc/config/rust.amazon.properties
Labels: lang-rust

#7784 Add raku language and rakudo compiler
  etc/config/raku.amazon.properties
  etc/scripts/disasms/moarvm_disasm.raku
  examples/raku/default.raku
  lib/compilers/_all.ts
  lib/compilers/raku.ts
  lib/languages.ts
  types/languages.interfaces.ts
  views/resources/logos/camelia.svg
Labels: ui

#7759 Update bronto refactoring library to 0.2.0.
  etc/config/c++.amazon.properties
Labels: lang-c++

#7786 Fix C3 0.6.8
  lib/compilers/c3c.ts
Labels: lang-c3

#7610 Replace PascalUtils class with top-level functions (NFC)
  lib/compilers/pascal-utils.ts
  lib/compilers/pascal-win.ts
  lib/compilers/pascal.ts
  test/pascal-tests.ts
Labels: lang-pascal

#7789 Only include tip-of-tree main version for Bronto library.
  etc/config/c++.amazon.properties
Labels: lang-c++

#7799 Various package updates
  package-lock.json
  package.json
  static/panes/conformance-view.ts
Labels: ui

#7803 Set correct tool type for local `clippy`
  etc/config/rust.defaults.properties
Labels: lang-rust

#7819 Re-enable Monaco autoformatting for Rust
  static/formatter-registry.ts
  static/modes/rust-mode.ts
Labels: ui

#7821 Update API documentation for missing endpoints (fixes #4395)
  docs/API.md
Labels: documentation

#7800 Add more recent LFortran linker flag
  lib/compilers/lfortran.ts
Labels: lang-fortran

#7771 Update API doc to AI's liking
  docs/API.md
Labels: documentation

#7801 Improve GoldenLayout type safety (Phase 1)
  static/components.interfaces.ts
  static/components.ts
  static/hub.ts
  static/main.ts
  static/panes/compiler.ts
  static/panes/conformance-view.ts
  static/panes/editor.ts
  static/panes/ir-view.ts
  static/panes/tool.ts
  static/panes/tree.ts
Labels: ui

#7830 Filter Monaco Editor hit testing errors in Sentry
  static/sentry.ts
Labels: ui

#7833 Fix Monaco Editor Sentry filters - Fixes COMPILER-EXPLORER-CGQ and COMPILER-EXPLORER-AXA
  static/sentry.ts
Labels: ui

#7834 Fix clipboard cancellation filter to use startsWith - Fixes COMPILER-EXPLORER-CGQ
  static/sentry.ts
Labels: ui

#7828 Give a proper type to .pug files on the client
  static/client.d.ts
Labels: ui

#7822 Add CopperSpice GUI support with automatic Xcb plugin deployment
  etc/config/c++.amazon.properties
  etc/config/objc++.amazon.properties
  lib/base-compiler.ts
  lib/binaries/copperspice-utils.ts
Labels: lang-c++, lang-objc++

#7829 Unit testing the frontend
  cypress/e2e/motd.cy.ts
  cypress/e2e/remote-id.cy.ts
  cypress/support/utils.ts
  docs/internal/FrontendTesting.md
  package-lock.json
  package.json
  static/global.ts
  static/main.ts
  static/tests/README.md
  static/tests/_all.ts
  static/tests/_setup-dom.ts
  static/tests/components-tests.ts
  static/tests/frontend-testing.interfaces.ts
  static/tests/frontend-testing.ts
  static/tests/motd-tests.ts
  static/tests/motd.ts
  static/tests/remote-utils-tests.ts
  static/tests/utils-tests.ts
  tsconfig.frontend.tests.json
  vitest.config.ts
Labels: ui, documentation

#7841 Aarch64 config fixes
  etc/config/c.amazon.properties
  etc/config/execution.aarch64prod.properties
  etc/config/execution.aarch64staging.properties
Labels: lang-c

#7835 Add library `PPDT`
  etc/config/c++.amazon.properties
Labels: lang-c++

#7839 Add dedicated PTX assembly parser to fix directive filtering
  CONTRIBUTING.md
  lib/compilers/clang.ts
  lib/compilers/nvcc.ts
  lib/compilers/nvcpp.ts
  lib/compilers/nvrtc.ts
  lib/parsers/asm-parser-ptx.ts
  static/panes/device-view.ts
  test/asm-parser-tests.ts
  test/filters-cases/ptx-example-more-complicated.asm
  test/filters-cases/ptx-example-more-complicated.asm.binary.directives.labels.comments.json
  test/filters-cases/ptx-example-more-complicated.asm.directives.comments.json
  test/filters-cases/ptx-example-more-complicated.asm.directives.json
  test/filters-cases/ptx-example-more-complicated.asm.directives.labels.comments.json
  test/filters-cases/ptx-example-more-complicated.asm.directives.labels.comments.library.dontMaskFilenames.json
  test/filters-cases/ptx-example-more-complicated.asm.directives.labels.comments.library.json
  test/filters-cases/ptx-example-more-complicated.asm.directives.labels.json
  test/filters-cases/ptx-example-more-complicated.asm.directives.library.json
  test/filters-cases/ptx-example-more-complicated.asm.none.json
  test/filters-cases/ptx-example.asm
  test/filters-cases/ptx-example.asm.binary.directives.labels.comments.json
  test/filters-cases/ptx-example.asm.directives.comments.json
  test/filters-cases/ptx-example.asm.directives.json
  test/filters-cases/ptx-example.asm.directives.labels.comments.json
  test/filters-cases/ptx-example.asm.directives.labels.comments.library.dontMaskFilenames.json
  test/filters-cases/ptx-example.asm.directives.labels.comments.library.json
  test/filters-cases/ptx-example.asm.directives.labels.json
  test/filters-cases/ptx-example.asm.directives.library.json
  test/filters-cases/ptx-example.asm.none.json
  test/utils.ts
Labels: ui, documentation, lang-cuda

#7847 Refactor graph layout system
  static/graph-layout-core.ts
Labels: ui

#7836 Fix unhandled promise rejections in compiler and executor panes - Fixes COMPILER-EXPLORER-BY1
  static/panes/compiler.ts
  static/panes/executor.ts
Labels: ui

#7854 Add vitest related to pre-commit with expensive test skipping
  CLAUDE.md
  CONTRIBUTING.md
  lint-staged.config.mjs
  package.json
  test/filter-tests.ts
  test/utils.ts
Labels: documentation

#7863 Add `cursor: pointer` to some clickable texts
  static/panes/tool.ts
  static/styles/explorer.scss
  views/index.pug
Labels: ui

#7869 Rust 1.88.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#7871 Always specify full non-null paths and fix cpp image
  lib/languages.ts
  public/logos/cpp.svg
  static/panes/compiler.ts
  static/panes/editor.ts
Labels: ui

#7857 Return the editor instance from codeEditorFactory
  static/hub.ts
Labels: ui
