Repository compiler-explorer/compiler-explorer, pull requests merged in 2025-10, with the labels that each got.

#8160 Add boost 1.88 and 1.89 for linux and windows
  etc/config/c++.amazon.properties
  etc/config/c++.amazonwin.properties
Labels: lang-c++

#8167 Add ISPC v1.28.2
  etc/config/ispc.amazon.properties
  examples/ispc/default.ispc
Labels: lang-ispc

#8173 Extract diagnostic info from Safari CustomEvent rejections
  static/sentry.ts
Labels: ui

#8177 Update compiler installation documentation to reference YAML config
  docs/AddingACompiler.md
Labels: documentation
