Repository compiler-explorer/compiler-explorer, pull requests merged in 2025-05, with the labels that each got.

#7642 Reinstate and restyle load/save button
  static/styles/explorer.scss
  views/popups/load-save.pug
Labels: ui

#7650 Add `-march=native` warning for x86 GCC and clang for C
  etc/config/c.amazon.properties
Labels: lang-c

#7633 Add solx, new Solidity LLVM-based compiler
  .github/labeler.yml
  etc/config/solidity.amazon.properties
  etc/config/solidity.defaults.properties
  lib/compilers/_all.ts
  lib/compilers/argument-parsers.ts
  lib/compilers/solx.ts
Labels: lang-solidity

#7658 Arm: add missing objdumper settings and update to GNU objdump 15.1.0
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#6198 Add Nix Language
  .github/labeler.yml
  etc/config/nix.defaults.properties
  examples/nix/default.nix
  lib/compilers/_all.ts
  lib/compilers/nix.ts
  lib/languages.ts
  static/modes/_all.ts
  static/modes/nix-mode.ts
  types/languages.interfaces.ts
  views/resources/logos/nix.svg
Labels: ui, waiting

#7672 Documentation improvements
  README.md
  docs/API.md
  docs/RunningOnMacOS.md
  docs/WhatIsCompilerExplorer.md
Labels: documentation

#7675 Remove global handler_config variable
  app.ts
  lib/compilation-env.ts
  lib/compilers/d8.ts
  lib/compilers/dex2oat.ts
  lib/compilers/r8.ts
  lib/compilers/wyrm.ts
  lib/global.ts
Labels: lang-android-java, lang-android-kotlin

#7679 Replace vimeo icon with generic V for vim. Closes #7678
  views/templates/panes/codeEditor.pug
Labels: ui

#7661 Add kotlinx.coroutines to Android Kotlin
  etc/config/android-kotlin.amazon.properties
Labels: lang-android-kotlin

#7654 Add Kokkos 4.6.01
  etc/config/c++.amazon.properties
Labels: lang-c++

#7666 Add beman.scope library trunk version
  etc/config/c++.amazon.properties
Labels: lang-c++

#7657 Added Intel OneAPI 2025.1.1
  etc/config/c++.amazon.properties
Labels: lang-c++

#7673 Replace nopt with commander.js for argument parsing
  .github/workflows/test-frontend.yml
  Makefile
  app.ts
  compiler-args-app.ts
  docs/Configuration.md
  docs/UsingCypress.md
  lib/app.interfaces.ts
  package-lock.json
  package.json
Labels: documentation

#7615 Add PTX as a separate module from assembler
  etc/config/assembly.amazon.properties
  etc/config/ptx.amazon.properties
  etc/config/ptx.defaults.properties
  examples/ptx/default.ptx
  lib/languages.ts
  types/languages.interfaces.ts
Labels: lang-asm

#7653 Fix system light theme timing widget visibility
  static/widgets/timing-info-widget.ts
Labels: ui

#7651 Fix conformance compiler output title not showing
  static/styles/explorer.scss
  static/styles/themes/pink-theme.scss
  views/templates/widgets/compiler-selector.pug
Labels: ui

#7685 Add kotlinx.coroutines to Kotlin
  etc/config/kotlin.amazon.properties
Labels: lang-kotlin

#7690 Install recent Kotlin
  etc/config/kotlin.amazon.properties
Labels: lang-kotlin

#7691 Show source in stack usage view
  static/panes/stack-usage-view.ts
Labels: ui

#7687 Show opt remarks in a view zone instead of as editor content
  static/panes/opt-view.ts
Labels: ui

#7698 Rust 1.87.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#7699 Update all the things
  docs/internal/FrontendTesting.md
  package-lock.json
  package.json
  static/tests/hello-world.ts
  webpack.config.esm.ts
Labels: ui, documentation

#7694 Add ISPC v1.27.0
  etc/config/ispc.amazon.properties
Labels: lang-ispc

#7676 Update SPIR-V and Slang version
  etc/config/spirv.amazon.properties
Labels: lang-spirv, lang-slang

#7705 Assembly: Add new GNU AS versions for Arm and AArch64
  etc/config/assembly.amazon.properties
Labels: lang-asm

#7706 Changes for NVIDIA HPC SDK 25.5
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
  etc/config/cuda.amazon.properties
  etc/config/fortran.amazon.properties
Labels: lang-c++, lang-c, lang-cuda, lang-fortran

#7711 [Mojo] Removing 25.3.0 release from live site.
  etc/config/mojo.amazon.properties
Labels: lang-mojo

#7649 Make 2024 the default edition for Rust >= 1.85
  lib/compilers/rust.ts
Labels: lang-rust

#7717 Add Game Boy emulator support using WasmBoy
  docs/SupportedEmulators.md
  lib/compilers/z88dk.ts
  static/panes/compiler.ts
  types/tool.interfaces.ts
  views/popups/_all.pug
  views/popups/gbemu.pug
Labels: ui, documentation

#7734 Refactor startup to catch exceptions where they're thrown.
  static/main.ts
Labels: ui

#7716 [mojo-lang] Fixing LLVM IR panel due to calling the mojo compiler with incorrect args.
  lib/compilers/mojo.ts
Labels: lang-mojo

#7735 Add bmpi3
  CONTRIBUTORS.md
  etc/config/c++.amazon.properties
Labels: lang-c++

#7736 Update Crystal to 1.16.3
  etc/config/crystal.amazon.properties
Labels: lang-crystal

#7723 Add Rust crate ahash v0.8.12
  etc/config/rust.amazon.properties
Labels: lang-rust
