Repository compiler-explorer/compiler-explorer, pull requests merged in 2025-02, with the labels that each got.

#7352 Overhaul 'history' look
  static/widgets/history-widget.ts
  views/popups/history.pug
Labels: ui

#7354 Odin: Filter some more labels from objdump output
  etc/config/odin.defaults.properties
Labels: lang-odin

#7367 Fix execution for Rust 1.83+ with dynamically linked standard library
  etc/config/rust.amazon.properties
Labels: lang-rust

#7364 [Spice] Add version 0.21.1
  etc/config/spice.amazon.properties
Labels: lang-spice

#7355 Zig improvements
  etc/config/zig.defaults.properties
  lib/compilers/zig.ts
Labels: lang-zig

#7381 executionType/sandBoxType no longer stored per compiler
  lib/base-compiler.ts
  lib/compilers/clean.ts
  test/library-tests.ts
Labels: lang-clean

#7382 Add missing js suffixes to imports
  static/panes/device-view.ts
  static/panes/editor.ts
  static/print-view.ts
  static/widgets/compiler-picker-popup.ts
  static/widgets/compiler-version-info.ts
  static/widgets/libs-widget.ts
  static/widgets/load-save.ts
Labels: ui

#7383 Fix default imports/exports to be ES6 conformant
  static/modes/asm-mode.ts
  static/modes/asm6502-mode.ts
  static/modes/asmruby-mode.ts
  static/modes/carbon-mode.ts
  static/modes/cpp-for-opencl-mode.ts
  static/modes/cppcircle-mode.ts
  static/modes/cppfront-mode.ts
  static/modes/cppp-mode.ts
  static/modes/cppx-blue-mode.ts
  static/modes/crystal-mode.ts
  static/modes/cuda-mode.ts
  static/modes/erlang-mode.ts
  static/modes/fortran-mode.ts
  static/modes/nc-mode.ts
  static/modes/no-highlight-mode.ts
  static/modes/openclc-mode.ts
  static/modes/ptx-mode.ts
  static/modes/spice-mode.ts
  static/modes/toit-mode.ts
  static/modes/v-mode.ts
  static/modes/wat-mode.ts
  static/panes/compiler.ts
  static/panes/flags-view.ts
  webpack.config.esm.ts
Labels: lang-c++, ui, lang-cuda, lang-fortran, lang-asm, lang-cppx, lang-circle, lang-c++-opencl, lang-crystal, lang-opencl-c, lang-toit, lang-v, lang-spice, lang-wasm

#7374 Re-enable useLiteralEnumMembers Biome rule
  biome.json
  static/graph-layout-core.ts
Labels: ui

#7377 Fix #7359: use llvm-cxxfilt by default for all compilers
  etc/config/c++.amazon.properties
  etc/config/c.amazon.properties
Labels: lang-c++, lang-c

#7388 Use Java 22 for latest Android compilers
  etc/config/android-java.amazon.properties
  etc/config/android-kotlin.amazon.properties
  lib/compilers/d8.ts
Labels: lang-android-java, lang-android-kotlin

#7395 Fix depracation warnings
  static/styles/colours.scss
Labels: ui

#7363 [Zig] Fix target/arch parsing so assembly docs query the correct ISA
  CONTRIBUTORS.md
  compiler-args-app.ts
  lib/base-compiler.ts
  lib/compilers/argument-parsers.ts
  lib/compilers/zig.ts
  types/compiler.interfaces.ts
Labels: lang-zig

#7391 New dotnet versions
  etc/config/csharp.amazon.properties
  etc/config/csharp.defaults.properties
  etc/config/fsharp.amazon.properties
  etc/config/fsharp.defaults.properties
  etc/config/il.amazon.properties
  etc/config/il.defaults.properties
  etc/config/vb.amazon.properties
  etc/config/vb.defaults.properties
Labels: lang-dotnet

#7396 Add ISPC v1.26.0
  etc/config/ispc.amazon.properties
Labels: lang-ispc

#7343 Upgrade to node 20 minimum, target node 22
  .github/workflows/deploy-win.yml
  .github/workflows/test-and-deploy.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-win.yml
  README.md
  etc/scripts/find-node
  package.json
Labels: documentation

#7392 Add PyPy 3.11
  etc/config/python.amazon.properties
Labels: lang-python

#7394 update clad to v1.9 with clang v19.1.0
  CONTRIBUTORS.md
  etc/config/c++.amazon.properties
Labels: lang-c++

#7406 Add version info for R8/D8
  lib/compilers/d8.ts
Labels: lang-android-java, lang-android-kotlin

#7414 [Spice] Add cast keyword
  static/modes/spice-mode.ts
Labels: ui, lang-spice

#7420 Rust 1.85.0
  etc/config/rust.amazon.properties
Labels: lang-rust

#7422 Add `libPath` for Rust 1.85
  etc/config/rust.amazon.properties
Labels: lang-rust

#7426 [Spice] Add version 0.22.0
  etc/config/spice.amazon.properties
Labels: lang-spice

#7434 [swift]: add 6.0.3 compiler configuration that will cross-compile to aarch64
  etc/config/swift.amazon.properties
Labels: lang-swift

#7423 Add C++ library `Proxy`
  etc/config/c++.amazon.properties
Labels: lang-c++

#7444 Use node:fs/promises where possible
  lib/artifact-utils.ts
  lib/compilation-env.ts
  lib/compiler-arguments.ts
  lib/compilers/argument-parsers.ts
  lib/compilers/beebasm.ts
  lib/compilers/carbon.ts
  lib/compilers/cc65.ts
  lib/compilers/dex2oat.ts
  lib/compilers/ispc.ts
  lib/compilers/java.ts
  lib/compilers/ldc.ts
  lib/compilers/madpascal.ts
  lib/compilers/pascal-win.ts
  lib/compilers/pascal.ts
  lib/compilers/racket.ts
  lib/compilers/rga.ts
  lib/compilers/solidity.ts
  lib/execution/base-execution-env.ts
  lib/handlers/compile.ts
  lib/tooling/clang-format-tool.ts
  lib/tooling/clang-query-tool.ts
  lib/tooling/clang-tidy-tool.ts
  lib/tooling/llvm-mca-tool.ts
  lib/tooling/osaca-tool.ts
  lib/tooling/pvs-studio-tool.ts
  lib/utils.ts
Labels: lang-d, lang-ispc, lang-pascal, lang-c, lang-java, lang-solidity, lang-llvm, lang-racket

#7447 Fix #7425: Fix an edge case in asm jump-to-label
  static/panes/compiler.ts
Labels: ui

#7451 Fix #7296: `clearOptions` instead of `clear` for gcc pass selector
  static/panes/gccdump-view.ts
Labels: ui

#7453 Various type improvements
  lib/base-compiler.ts
  lib/compilers/odin.ts
  lib/options-handler.ts
  lib/parsers/asm-parser-spirv.ts
  static/compiler-service.ts
  static/history.ts
  static/hub.ts
  static/panes/ast-view.ts
  static/panes/conformance-view.ts
  static/panes/editor.ts
  static/widgets/load-save.ts
Labels: ui, lang-odin

#7449 Port compilers over to using node:fs et al
  lib/compilers/clang.ts
  lib/compilers/clean.ts
  lib/compilers/d8.ts
  lib/compilers/dosbox-compiler.ts
  lib/compilers/dotnet.ts
  lib/compilers/nim.ts
  lib/compilers/r8.ts
  lib/compilers/sway.ts
Labels: lang-nim, lang-clean, lang-dotnet, lang-android-java, lang-android-kotlin

#7433 Move to using async file reads
  app.ts
  lib/base-compiler.ts
  lib/cache/on-disk.ts
  lib/exec.ts
  lib/runtime-tools/heaptrack-wrapper.ts
  lib/storage/local.ts
  lib/tooling/pahole-tool.ts
  package-lock.json
  package.json
Labels: lang-c++, lang-d, lang-ispc, lang-swift, lang-pascal, lang-c, lang-java, lang-nim, lang-clean, lang-dotnet, lang-solidity, lang-llvm, lang-racket, lang-android-java, lang-android-kotlin

#7460 Improvements to r8/d8 dex stuff
  lib/compilers/d8.ts
  lib/compilers/dex2oat.ts
  test/android-tests.ts
  test/android/java/output.asm
  test/android/kotlin/output.asm
Labels: lang-android-java, lang-android-kotlin

#7441 Remove Abseil Trunk and replace with fixed version
  etc/config/c++.amazon.properties
Labels: lang-c++

#7465 Fix #7464: need both clear and clearOptions on gccdump's TomSelect
  static/panes/gccdump-view.ts
Labels: ui
